a              { color: #0078cc; }
                
.button {
                background: #004a95 url('../images/bg-button-blue.gif') top left repeat-x !important;
                border-color: #004994 !important;

                }

#sidebar #main-nav li a.nav-top-item {
                background: transparent url('../images/bg-menu-item-blue.gif') right center no-repeat;
                }

ul.content-box-tabs li a:hover {
                color: #0078cc;
                }              
                
.pagination a.current {
                background: #004a95 url('../images/bg-button-blue.gif') top left repeat-x !important;
                border-color: #004994 !important;
                }
				
.action-button span:hover {
				color: #0078cc; 
                }