﻿<%@ Page Title="" Language="C#" MasterPageFile="~/kendiKaleniYarat/kendiKalenMasterPage.master" AutoEventWireup="true" CodeFile="kaleniyarat12.aspx.cs" Inherits="kendiKaleniYarat_kaleniyarat12" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
<style>
.kaleniYaratContainer .redContainer .redContainerText {
font-family: Arial;
color: white;
font-size: 18px;
width: 331px;
text-align: center;
margin-left: 198px;
margin-top: 27px;

}
</style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">

<div class="redContainerTitle">TEŞEKKÜR EDERİZ</div>
    <div class="redContainerText">
    Kaydınız başarıyla bize ulaştı.
    </div>

</asp:Content>


