﻿<%@ Page Title="" Language="C#" MasterPageFile="~/kendiKaleniYarat/kendiKalenMasterPage.master" AutoEventWireup="true" CodeFile="kaleniyarat10.aspx.cs" Inherits="kendiKaleniYarat_kaleniyarat10" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
 <div class="redContainerTitle" style="margin-top: 180px;">İhtiyaç Listeniz</div>
    <div class="redContainerIhtiyac">
    	<div class="ihtiyacBox">
        <div class="ihtiyacLabel" runat="server" id="alarmPaneli"></div>
        <div class="ihtiyacNumber" runat="server" id="alarmPaneliNumber"></div>
       </div>
       <div class="ihtiyacBox">
        <div class="ihtiyacLabel" runat="server" id="tusTakimi"></div>
        <div class="ihtiyacNumber" runat="server" id="tusTakimiNumber"></div>
       </div>
       <div class="ihtiyacBox">
        <div class="ihtiyacLabel" runat="server" id="DahiliSiren"></div>
        <div class="ihtiyacNumber" runat="server" id="DahiliSirenNumber"></div>
       </div>
       <div class="ihtiyacBox">
        <div class="ihtiyacLabel" runat="server" id="HariciSiren"></div>
        <div class="ihtiyacNumber" runat="server" id="HariciSirenNumber"></div>
       </div>
       <div class="ihtiyacBox">
        <div class="ihtiyacLabel" runat="server" id="ManyetikKontak"></div>
        <div class="ihtiyacNumber" runat="server" id="ManyetikKontakNumber"></div>
       </div>
       <div class="ihtiyacBox">
        <div class="ihtiyacLabel" runat="server" id="Pir"></div>
        <div class="ihtiyacNumber" runat="server" id="PirNumber"></div>
       </div>
       <div class="ihtiyacBox">
        <div class="ihtiyacLabel" runat="server" id="GazDedektor"></div>
        <div class="ihtiyacNumber" runat="server" id="GazDedektorN"></div>
       </div>
       <div class="ihtiyacBox">
        <div class="ihtiyacLabel" runat="server" id="DumanDedektor"></div>
        <div class="ihtiyacNumber" runat="server" id="DumanDedektorN"></div>
       </div>

    </div>
    <a href="kaleniyarat9.aspx" class="goBack"></a>
<asp:Button ID="Button1" runat="server" class="goContinue" Text="Button" 
        onclick="Button1_Click" />
</asp:Content>


