﻿<%@ Page Title="" Language="C#" MasterPageFile="~/kendiKaleniYarat/kendiKalenMasterPage.master" AutoEventWireup="true" CodeFile="kaleniyarat7.aspx.cs" Inherits="kendiKaleniYarat_kaleniyarat7" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">

</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<div class="redContainerTitle">Gaz kaçağı oluşabilecek bölge sayısı?</div>
   <span style="position:absolute;top: 264px;left: 268px;color:#fff;font-weight: bold;">Adet:</span>
   <asp:TextBox ID="txtVal" ClientIDMode="Static" class="blacktext numeric" runat="server"></asp:TextBox>
    <a href="kaleniyarat6.aspx" class="goBack"></a>
    <input id="Button2" type="button" class="goContinue" value="" />

    <script type="text/javascript">
        $('#Button2').click(function () {
            if ($('#txtVal').val() == "")
                alert("Lütfen Giriş Yapın..");
            else
                $('#form1').submit();
        });
        $(document).ready(function () {
            $('#txtVal').focus();
        });
      </script>
</asp:Content>


