﻿<%@ Page Title="" Language="C#" MasterPageFile="~/kendiKaleniYarat/kendiKalenMasterPage.master" AutoEventWireup="true" CodeFile="kaleniyarat3.aspx.cs" Inherits="kendiKaleniYarat_kaleniyarat3" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<div class="redContainerTitle">Konut tipi hangisidir?</div>
<a class="blackButton" style="margin-left:213px;" href="#"><asp:RadioButton ID="radioEv" runat="server" ClientIDMode="Static" GroupName="aa" /><label for="radioEv">  Ev</label></a>
<a class="blackButton" style="margin-left:80px;" href="#"><asp:RadioButton ID="radioMustakil" runat="server" ClientIDMode="Static" GroupName="aa" /><label for="radioMustakil"> İş Yeri</label></a>
<a href="kaleniyarat2.aspx" class="goBack"></a>
    <input id="Button2" type="button" class="goContinue" value="" />


    <script type="text/javascript">
        $('#Button2').click(function () {
            var ev = $('input[id*=radioEv]').is(":checked");
            var mustakil = $('input[id*=radioMustakil]').is(":checked");
            if (ev == false && mustakil == false)
                alert("Lütfen Seçim Yapın..");
            else
                $('#form1').submit();
        });
      </script>
</asp:Content>


