﻿<%@ Page Title="" Language="C#" MasterPageFile="~/kendiKaleniYarat/kendiKalenMasterPage.master" AutoEventWireup="true" CodeFile="kaleniyarat1.aspx.cs" Inherits="kendiKaleniYarat_kaleniyarat1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<div class="redContainerText">KENDİ KALENİ YARAT</div>
<a href="kaleniyarat2.aspx" class="goContinue"></a>
</asp:Content>


