﻿<%@ Page Title="" Language="C#" MasterPageFile="~/kendiKaleniYarat/kendiKalenMasterPage.master" AutoEventWireup="true" CodeFile="kaleniyarat2.aspx.cs" Inherits="kendiKaleniYarat_kaleniyarat2" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
<style>
.kaleniYaratContainer .redContainer .redContainerText {
font-family: Arial;
color: white;
font-size: 18px;
width: 331px;
text-align: center;
margin-left: 198px;
margin-top: 27px;

}
</style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">

<div class="redContainerTitle">HOŞ GELDİNİZ</div>
    <div class="redContainerText">Evinizin güvenlik ihtiyaçlarını belirlemek ve
hayatınızı koruma altına almak için
size soracağımız soruları yanıtlayınız.</div>
<a href="kaleniyarat1.aspx" class="goBack"></a>
<a href="kaleniyarat3.aspx" class="goContinue"></a>
</asp:Content>


