﻿<%@ Page Title="" Language="C#" MasterPageFile="~/kendiKaleniYarat/kendiKalenMasterPage.master" AutoEventWireup="true" CodeFile="kaleniyarat4.aspx.cs" Inherits="kendiKaleniYarat_kaleniyarat4" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
<style>
.redContainer .blackButton {
width: 105px;
height: 30px;
background: url(../resources/images/common/kaleniyaratSubmitBlack.png);
display: block;
text-align: center;
line-height: 32px;
text-decoration: none;
color: white;
font-family: arial;
font-size: 16px;
float: left;
margin-top: 42px;
border: none;
outline: none;
margin-left: 310px;
	}
.redContainer .blackButton:focus { 
border:none; 
outline: none;
}	


</style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
 <div class="redContainerTitle">Kapı dışında tehlikeli nokta var mı?</div>
    <a class="blackButton" style="margin-left:213px;" href="#"><asp:RadioButton ID="radioVar" runat="server" ClientIDMode="Static" GroupName="aa" /><label for="radioVar">  Var</label></a>
<a class="blackButton" style="margin-left:80px;" href="#"><asp:RadioButton ID="radioYok" runat="server" ClientIDMode="Static" GroupName="aa" /><label for="radioYok"> Yok</label></a>
<a href="kaleniyarat3.aspx" class="goBack"></a>
    <input id="Button2" type="button" class="goContinue" value="" />
    <script type="text/javascript">
        $('#Button2').click(function () {
            var rVar = $('input[id*=radioVar]').is(":checked");
            var rYok = $('input[id*=radioYok]').is(":checked");
            if (rVar == false && rYok == false)
                alert("Lütfen Seçim Yapın..");
            else
                $('#form1').submit();
        });
      </script>
</asp:Content>


