﻿<%@ Page Title="" Language="C#" MasterPageFile="~/kendiKaleniYarat/kendiKalenMasterPage.master" AutoEventWireup="true" CodeFile="kaleniyarat9.aspx.cs" Inherits="kendiKaleniYarat_kaleniyarat9" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<div class="redContainerTitle">Sistem tercihiniz?</div>
	<a class="blackButton" style="margin-left:213px;" href="#"><asp:RadioButton ID="radioKablolu" runat="server" ClientIDMode="Static" GroupName="aa" /><label for="radioKablolu">Kablolu</label></a>
<a class="blackButton" style="margin-left:80px;" href="#"><asp:RadioButton ID="radioKablosuz" runat="server" ClientIDMode="Static" GroupName="aa" /><label for="radioKablosuz">Kablosuz</label></a>
<a href="kaleniyarat8.aspx" class="goBack"></a>
    <input id="Button2" type="button" class="goContinue" value="button" />


    <script type="text/javascript">
        $('#Button2').click(function () {
            var kablolu = $('input[id*=radioKablolu]').is(":checked");
            var kablosuz = $('input[id*=radioKablosuz]').is(":checked");
            if (kablolu == false && kablosuz == false)
                alert("Lütfen Seçim Yapın..");
            else
                $('#form1').submit();
        });
      </script>
</asp:Content>


