﻿<%@ Page Title="" Language="C#" MasterPageFile="~/sitemasterpage.master" AutoEventWireup="true" CodeFile="aktivasyon.aspx.cs" Inherits="aktivasyon" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<div class="uyelikContainer">
        <div class="uyelikBanner"></div>
        <div class="uyelikShadow"></div>
      
        <b>Tebrikler!Üyeliğiniz başarıyla tamamlanmıştır.</b>


         
    </div>
    <script>
       $(document).ready(function () {
        setTimeout(function () {
            window.location.href = "/anasayfa.aspx";
        }, 5000);
    });
    </script>
</asp:Content>




