﻿<%@ Page Title="" Language="C#" MasterPageFile="~/siteMasterPageDefault.master" AutoEventWireup="true" CodeFile="anasayfa.aspx.cs" Inherits="anasayfa" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <link rel="stylesheet" type="text/css" href="Resources/slider/css/style2.css" />
    <script type="text/javascript" src="Resources/slider/js/modernizr.custom.28468.js"></script>
    <script type="text/javascript" src="Resources/slider/js/jquery.cslider.js"></script>
    <script type="text/javascript">
        $(function () {

            $('#da-slider').cslider({
                bgincrement: 0,
                interval: 5000
            });

        });
    </script>
    <div id="da-slider" class="da-slider">

<<<<<<< HEAD
=======
        <div class="da-slide">
            <h2 style="margin-top: 24px;">
                <font color="#e30000"><b>YENİ </b></font>

                <br />
                <br />

                <br />
                <font color="#e30000"><b>NEO SUSUZ MANİKÜR </b></font>
            </h2>
            <p style="font-size: 16px">
                <font style="font-size: 20px; color: #e30000; font-weight: bold">1</font>uygulama ,  <font style="font-size: 20px; color: #e30000; font-weight: bold">4</font>etki:
        <br />
                <br />
                manikür + el bakımı + parafin + keratin terapi
            </p>

            <a class="da-link" href="/randevu.aspx">Randevu Al</a>
            <div class="da-img">
                <img src="Resources/slider/images/elbannr.png" alt="neo susuz" style="width: 100%; margin-top: 25px;" />
            </div>
        </div>

        <div class="da-slide">
            <h2>
                <br />
                <br />
                <br />
                <br />
                <font> iştemanikür</font>
                <br />
                <font color="#e30000"><b>gittigidiyor’un </b></font>

                ofisine de gidiyor!
            </h2>
            <a class="da-link" href="/randevu.aspx">Randevu Al</a>
            <div class="da-img">
                <img src="Resources/slider/images/gittigidiyor.png" alt="gittigidiyor" style="width: 100%; margin-top: 25px;" />
            </div>
        </div>

>>>>>>> 01ae86338bb1f5b0088cac32345ecc225bd34e2d

        <div class="da-slide">
            <h2>
                <br />
                <br />
                <br />
                <br />
                Ve PG  çalışanları<br />
                <font color="#e30000"><b>iştemanikür’le</b></font>tanıştı!
            </h2>
            <a class="da-link" href="/randevu.aspx">Randevu Al</a>
            <div class="da-img">
                <img src="Resources/slider/images/pg.png" alt="p&g" style="margin-left: -61px; margin-top: 13px;" height="175" />
            </div>
        </div>

        <div class="da-slide">
            <h2>
                <br />
                <br />
                <br />
                <br />
                <font color="#e30000"><b>iştemanikür,</b></font>
                <br />
                EVYAP’ın işine geldi!
            </h2>
            <a class="da-link" href="/randevu.aspx">Randevu Al</a>
            <div class="da-img">
                <img src="Resources/slider/images/evyap.png" alt="p&g" style="margin-left: -61px; margin-top: 13px;" height="175" />
            </div>
        </div>

        <div class="da-slide">
            <h2>
                <br />
                <br />
                <br />
                <br />
                Askaynak,<br />
                <font color="#e30000"><b>iştemanikür</b></font>’ü çalışanlarına getirdi!
            </h2>
            <a class="da-link" href="/randevu.aspx">Randevu Al</a>
            <div class="da-img">
                <img src="Resources/slider/images/askaynak.png" alt="p&g" style="margin-left: -61px; margin-top: 13px;" height="175" />
            </div>
        </div>

<<<<<<< HEAD


=======
>>>>>>> 01ae86338bb1f5b0088cac32345ecc225bd34e2d
        <div class="da-slide">
            <h2>
                <br />
                <br />
                <br />
                <font color="#e30000"><b>iştemanikür</b></font><font> Etohum Girişimcilik Zirvesi’nde <br /> 2015’in en başarılı 15 girişiminden biri seçildi!</font>
                <div style="margin-top: 20px; font-size: 16px;">
                    Destek veren herkese çok teşekkürler!
                </div>
            </h2>
            <a class="da-link" href="/randevu.aspx">Randevu Al</a>
            <div class="da-img">
                <img src="Resources/slider/images/etohum15.png" alt="axa" style="margin-left: -61px; margin-top: 13px;" height="175" />
            </div>
        </div>


        <div class="da-slide">
            <h2>
                <br />
                <br />
                <br />
                <br />
                <font> AXA Sigorta çalışanları</font>
                <br />
                <font color="#e30000"><b>iştemanikür</b></font><font>' le</font>

                zaman kazandı!</h2>

            <a class="da-link" href="/randevu.aspx">Randevu Al</a>
            <div class="da-img">
                <img src="Resources/slider/images/axa.png" alt="axa" style="margin-left: -61px; margin-top: 13px;" height="175" />
            </div>
        </div>


<<<<<<< HEAD

=======
>>>>>>> 01ae86338bb1f5b0088cac32345ecc225bd34e2d
        <div class="da-slide">
            <p style="margin-top: -60px; font-size: 17px;">
                <b>"Çalışma hayatındaysan bakım için gereken zamanı bulamıyorsun.<br />
                    İştemanikür bu fırsatı ayağına getiriyor, kesinlikle öneriyorum."</b>
            </p>
            <p style="margin-top: 30px;">
                <font color="#e30000"><b> Seda Tiner, </b></font>
                <br />
                Eczacıbaşı Schwarzkopf -Lojistik Yöneticisi
            </p>

            <a class="da-link" href="/randevu.aspx">Randevu Al</a>
            <div class="da-img">
                <img src="Resources/slider/images/eczacibasi-schwarzkopf.png?v=1" alt="image01" style="margin-left: -120px; margin-top: 20px;" height="165" />
            </div>
        </div>

        <div class="da-slide">
            <p style="margin-top: -60px; font-size: 17px;"><b>"Onbeş günde bir öğle tatilimden ayırdığım 20-25 dakikayla ellerim harika!"</b></p>
            <p style="margin-top: 10px;">
                <font color="#e30000"><b> Pelin Katırcıoğlu,  </b></font>
                <br />
                Danone Türkiye Executive Assistant Marketing,<br />
                HR and Corporate Communication Director
            </p>

            <a class="da-link" href="/randevu.aspx">Randevu Al</a>
            <div class="da-img">
                <img src="Resources/slider/images/danone.png?v=1" alt="image01" style="margin-left: -80px; margin-top: 40px;" height="135" />
            </div>
        </div>

        <div class="da-slide">
            <p style="margin-top: -60px; font-size: 17px;"><b>"Ofisin konforunda, ulaşım gerektirmeden, birbirinden kaliteli ürünlerle sağlıklı bir hizmet almanın keyfini yaşıyorum. Daha ne olsun?"</b></p>
            <p style="margin-top: 30px;">
                <font color="#e30000"><b> Hakan Tat, </b></font>
                <br />
                TNT Türkiye, İnsan Kaynakları, Genel Hizmetler,<br />
                Kalite ve Sosyal Sorumluluk Direktörü
            </p>

            <a class="da-link" href="/randevu.aspx">Randevu Al</a>
            <div class="da-img">
                <img src="Resources/slider/images/tnt.png?v=1" alt="image01" style="margin-left: -80px; margin-top: 40px;" height="135" />
            </div>
        </div>

<<<<<<< HEAD

=======
>>>>>>> 01ae86338bb1f5b0088cac32345ecc225bd34e2d
        <div class="da-slide">
            <h2>
                <br />
                <br />
                <br />

                <br />
                <font color="#e30000"> AVON</font>çalışanlarının<br />
                <font>işine <font color="#e30000">renk</font> katmak bizden!</font>

            </h2>
            <a class="da-link" href="/randevu.aspx">Randevu Al</a>
            <div class="da-img">
                <img src="Resources/slider/images/istemanikur_avon_01.png" alt="avon" style="margin-left: -21px;" height="225" />
            </div>
        </div>

        <div class="da-slide">
            <!--		<h2><br />
    	  <br /><br />
    	  <br /><font> İş dünyası ellerini</font><br />
    	  <font color="#e30000"><b>iştemanikür’e</b></font><font> uzatıyor</font></h2>
					<p>  <b></b></p> -->
            <a class="da-link" href="/randevu.aspx">Randevu Al</a>
            <div class="da-img">
                <img src="Resources/slider/images/lcw.png" alt="image01" style="margin-left: -21px;" height="225" />
            </div>
        </div>

        <div class="da-slide">
            <h2>
                <br />
                <br />
                <br />
                <br />
                <font> iştemanikür</font>
                <font color="#e30000"><b>sahibinden.com</b></font>

                ofisinde!</h2>
            <a class="da-link" href="/randevu.aspx">Randevu Al</a>
            <div class="da-img">
                <img src="Resources/slider/images/sahibinden.png" alt="sahibinden" style="margin-left: -21px;" height="225" />
            </div>
        </div>

<<<<<<< HEAD


=======
>>>>>>> 01ae86338bb1f5b0088cac32345ecc225bd34e2d
        <div class="da-slide">
            <h2>
                <br />
                <br />
                <br />
                <br />
                <font> Akıllı iş insanları</font>
                <br />
                <font color="#e30000"><b>SMART Manikür</b></font><font> ile zaman kazanıyor!</font></h2>
            <p><b></b></p>
            <a class="da-link" href="/randevu.aspx">Randevu Al</a>
            <div class="da-img">
                <img src="Resources/slider/images/istemanikur_smart_banner.png" alt="image01" style="margin-left: -21px;" height="225" />
            </div>
        </div>

<<<<<<< HEAD


=======
>>>>>>> 01ae86338bb1f5b0088cac32345ecc225bd34e2d
        <div class="da-slide">
            <h2>
                <br />

                <br />
                ‘’Biz kadınları daha özel hissettiren,
                <br />
                hayatı kolaylaştıran işte manikür!
                <br />

                Kesinlikle sizin de hemen 
                <br />
                <font color="#e30000"><b>iştemanikür</b></font>
            ile tanışmanızı öneriyorum’’
            <p style="margin-top: 10px; margin-left: -40px;">
                <font color="#e30000"><b> Burcu ERİŞ, </b></font>
                <br />
                BOYNER BÜYÜK MAĞAZACILIK A.Ş.<br />
                Kurumsal Gelişim Satınalma Yöneticisi
            </p>

            <p><b></b></p>
            <a class="da-link" href="/randevu.aspx">Randevu Al</a>
            <div class="da-img">
                <img src="Resources/slider/images/boyner_YKM_banner.png" alt="image01" style="margin-left: 169px; margin-top: -30px;" height="225" />
            </div>
        </div>

<<<<<<< HEAD


=======
>>>>>>> 01ae86338bb1f5b0088cac32345ecc225bd34e2d
        <div class="da-slide">
            <h2>
                <br />
                <br />
                <br />
                MANİKÜRÜ
                <br />
                <font color="#e30000"><b>EKONOMİST'E TAŞIDIK! </b></font></h2>
            <p><b></b></p>
            <a class="da-link" href="/randevu.aspx">Randevu Al</a>
            <div class="da-img">
                <img src="Resources/slider/images/ekonomist.png?v=1" alt="image01" style="margin-left: -150px;" height="225" />
            </div>
        </div>

        <div class="da-slide">
            <h2>BİZ FARKLIYIZ!<br />
                <br />
                Pratik, şık ve hijyenik manikürünüzü<br />
                <font color="#e30000"><b>ofisinizde </b></font>yapıyoruz!</h2>
            <p>Biz şirketinizle anlaştıktan sonra tek yapmanız gereken size uygun zamanı belirlemek ve online randevunuzu almak. <b>işte</b>manikür işinize gelir!</p>
            <a class="da-link" href="/randevu.aspx">Randevu Al</a>
            <div class="da-img">
                <img src="Resources/slider/images/5.png?v=1" alt="image01" style="margin-left: -150px;" height="225" />
            </div>
        </div>

        <div class="da-slide">
            <h2>
                <br />
                <br />
                İş dünyası ellerini<br />
                <font color="#e30000"><b>iştemanikür</b></font>'e uzatıyor</h2>
            <p></p>
            <a class="da-link" href="/randevu.aspx">Randevu Al</a>
            <div class="da-img">
                <img src="Resources/slider/images/1.png?v=1" alt="image01" style="margin-left: -150px;" height="225" />
            </div>
        </div>
        <div class="da-slide">
            <h2>
                <br />
                <br />
                Elinizi<br />
                <font color="#e30000"><b>Koruncuk Vakfı</b></font>için uzatın!!</h2>
            <p style="margin-top: -10px;">
                Bize uzatılan her eli<br />
                Türkiye Korunmaya Muhtaç<br />
                Çocuklar Vakfı ile buluşturuyor,<br />
                adınıza 1TL'lik bağış yapıyoruz.
            </p>
            <a class="da-link" href="/randevu.aspx">Randevu Al</a>
            <div class="da-img">
                <img src="Resources/slider/images/2.png?v=1" alt="image01" style="margin-left: -150px;" height="225" />
            </div>
        </div>


<<<<<<< HEAD
        <div class="da-slide">
            <h2>
                <br />
                <br />
                <br />
                <br />
                <font>iştemanikür</font>
                <br />
                <font color="#e30000"><b>gittigidiyor’un </b></font>

                ofisine de gidiyor!</h2>
            <a class="da-link" href="/randevu.aspx">Randevu Al</a>
            <div class="da-img">
                <img src="Resources/slider/images/gittigidiyor.png" alt="gittigidiyor" style="width: 100%; margin-top: 25px;" />
            </div>
        </div>
        <div class="da-slide">
            <h2 style="margin-top:24px;">
                <font color="#e30000"><b>YENİ </b></font>
               
                <br />
                <br />
                <br />
                <font>iştemanikür</font>
                <br />
                <font color="#e30000"><b>NEO SUSUZ MANİKÜR </b></font></h2>


            <p>
                1uygulama , 4 etki: 
                <br />
                <br />
                manikür + el bakımı + parafin + keratin terapi
            </p>

            <a class="da-link" href="/randevu.aspx">Randevu Al</a>
            <div style="right: 0px; position: absolute; width: 30%; top: 40%;">
                <h2 style="font-size: 30px">DENEDİNİZ Mİ ? </h2>
            </div>
        </div>
=======
>>>>>>> 01ae86338bb1f5b0088cac32345ecc225bd34e2d




        <nav class="da-arrows">
            <span class="da-arrows-prev"></span>
            <span class="da-arrows-next"></span>
        </nav>
    </div>

    <div class="shadow"></div>
    <div class="altBizeUlasin">
        <script type="text/javascript">
            $(document).ready(function () {
                $(".altBizeUlasinWrapper").find('.altBizeUlasinButton').fancybox({
                    'width': 530,
                    'height': 550,
                    'autoScale': false,
                    'transitionIn': 'none',
                    'overlayOpacity': 0.5,
                    'transitionOut': 'none',
                    'centerOnScroll': true,
                    'type': 'iframe'

                });




            });


        </script>
        <div class="altRandevuWrapper">
            <img class="altRandevuImage" src="Resources/images/altFooterRandevuImage.png">
            <div class="altRandevuTitle">
                RANDEVU ALIN,  <font color="#e30000"><b>GELELİM!</b></font>

            </div>
            <div class="altRandevuText">
                Ofisinize geliyoruz, profesyonel şıklıkta manikürünüzü yapıyoruz!
        <br />
                <font color="#e30000"></font>
            </div>

            <a class="altRandevuButton" href="/randevu.aspx" data-fancybox-type="iframe"></a>

        </div>
        <span class="altFooterSep"></span>
        <div class="altBizeUlasinWrapper">
            <img class="altBizeUlasinImage" src="Resources/images/altFooterContactImage.png">
            <div class="altBizeUlasinTitle">
                OFİSİNİZDE   <font color="#e30000"><b>HENÜZ</b></font>YOK MU?
            
            </div>
            <div class="altBizeUlasinText">
                Siz gelmeyin, biz size geliriz. İlgileniyorsanız bizi şirketinize ilk siz önerin.<br>
                <font color="#e30000"><b>İlk manikürünüz bizden.</b> </font>
            </div>

            <a class="altBizeUlasinButton" href="/henuzyok.aspx" data-fancybox-type="iframe"></a>

        </div>



    </div>

    <div class="stepsContainer">
        <div class="stepsTitle">İŞ'TE MANİKÜR İÇİN <font style="font-size: 30px">3</font>ADIM</div>
        <script>

            $(function () {

                $('.stepsLeft').find('#tab1').click(function () {

                    $('#stepContent1').show();
                    $('#stepContent2').hide();
                    $('#stepContent3').hide();
                    $("#tab1").addClass('randevuButtonActive');
                    $("#tab1").removeClass('randevuButton');
                    $("#tab2").addClass('odemeButton');
                    $("#tab2").removeClass('odemeButtonActive');
                    $("#tab3").addClass('manikurButton');
                    $("#tab3").removeClass('manikurButtonActive');
                });

                $('.stepsLeft').find('#tab2').click(function () {

                    $('#stepContent1').hide();
                    $('#stepContent2').show();
                    $('#stepContent3').hide();
                    $("#tab1").removeClass('randevuButtonActive');
                    $("#tab1").addClass('randevuButton');
                    $("#tab2").removeClass('odemeButton');
                    $("#tab2").addClass('odemeButtonActive');
                    $("#tab3").addClass('manikurButton');
                    $("#tab3").removeClass('manikurButtonActive');

                });

                $('.stepsLeft').find('#tab3').click(function () {

                    $('#stepContent1').hide();
                    $('#stepContent2').hide();
                    $('#stepContent3').show();
                    $("#tab1").removeClass('randevuButtonActive');
                    $("#tab1").addClass('randevuButton');
                    $("#tab2").addClass('odemeButton');
                    $("#tab2").removeClass('odemeButtonActive');
                    $("#tab3").removeClass('manikurButton');
                    $("#tab3").addClass('manikurButtonActive');

                });

            });


        </script>
        <div class="stepsLeft">
            <a class="randevuButtonActive" id="tab1"></a>
            <a class="odemeButton" id="tab2"></a>
            <a class="manikurButton" id="tab3"></a>
        </div>

        <div class="stepsRight">
            <div class="stepsContent" id="stepContent1">
                <span>Kayıt sayfamızdan <b>iste</b>manikur.com ofisinizde servis veriyor mu kontrol edin.
Ofisinizde olduğumuz gün ve saatleri inceleyin. Size en uygun gün ve saati seçin. Siz bize gelmeyin, biz size gelelim!</span>
                <img class="stepsContainerImage" src="Resources/images/adim1.jpg" width="200" />
            </div>
            <div class="stepsContent" id="stepContent2" style="display: none;">
                <span>Seçtiğiniz servise göre ödemenizi dilediğiniz  kredi kartınızla güvenli  ve kolay bir şekilde gerçekleştirebilirsiniz. Aldığınız servisin 1 TL’si ile  Koruncuk Vakfı’na bağışta bulunuyorsunuz! Unutmayın iştemanikür ile  kazandığınız zamana değer biçilemez.</span>
                <img class="stepsContainerImage" src="Resources/images/adim2.jpg" width="200" />
            </div>
            <div class="stepsContent" id="stepContent3" style="display: none;">
                <span>Servisinizi vermeye hazırız. Zengin oje skalamızdan istediğiniz rengi belirleyin. Servis sırasında iPad’lerimiziden  derginizi okuyun, maillerinizi kontrol edin, çayınızı için. İşinizin başına döndüğünüzde listenizdeki bir işi halletmiş olmanın rahatlığı sizi bekliyor. Bu manikür işinize gelir!</span>
                <img class="stepsContainerImage" src="Resources/images/adim3.jpg" width="200" />
            </div>
        </div>

    </div>
    <%--  <div class="shadow"></div>
    <div class="altBizeUlasin">
    	<div class="altBizeUlasinWrapper">
        	<div class="altBizeUlasinTitle">
            OFİSİNİZDE <font color="#e30000"><b>HENÜZ</b></font> YOK MU?
            
            </div>
            <div class="altBizeUlasinText">
            Profesyonel şıklıkta manikürlü elleriniz olması için ofisinize gelelim.<br />
İlgileniyorsanız bizi şirketinize önerin,<br />
<font color="#e30000"><b>size 6 ay boyunca manikür servisinizi hediye edelim!</b></font>
            </div>
            <a class="altBizeUlasinButton">
            
            </a>
            
        </div>
    
    </div>--%>
</asp:Content>













