﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="forAvonPopup.aspx.cs" Inherits="forAvonPopup" %>


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title></title>
    <link rel="stylesheet" href="/resources/css/style.css">
    <style>
      
    </style>
</head>

<body>
    <form id="form1" runat="server">
    <script type="text/javascript">
        try {
            document.execCommand('BackgroundImageCache', false, true);
        } catch (e) { }
</script>
    <div class="popupTextsContaıner" style="font-size:12px;line-height:18px">
 <b class="avonText">
  1. AVON vitrinini inceleyin.<br />
  2. İsterseniz online kataloğu görüntüleyin.<br />
  3. Sepetinizi oluşturun.<br />
  4. AVON ile güzelliğinize güzellik katın!<br /></b>
  <a href="https://kozmetik.avon.com.tr/magaza/istemanikur" class="avonGirisBtn" target="_blank"><img src="Resources/images/forAvon.png" /></a>
    </form>
</body>
</html>


