﻿<%@ Page Title="" Language="C#" MasterPageFile="~/sitemasterpage.master" AutoEventWireup="true" CodeFile="mavalaManikur.aspx.cs" Inherits="mavalaManikur" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<!--<div class="malavaTitle">Mavala Manikür</div>-->
<div class="malavaIcerik">
<img src="/resources/images/mavala.jpg" alt="Mavala manikür" />
</div>

</asp:Content>




