﻿<%@ Page Title="" Language="C#" MasterPageFile="~/siteMasterPage.master" AutoEventWireup="true" CodeFile="page.aspx.cs" Inherits="page" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">

<div class="mainHeader">

</div>
<div class="middleContainer_icerik">
<div class="icerikWrapper">  
	<div class="mainHeaderTitle"><%=sayfa.Baslik %></div>
    <div class="mainHeaderTitle2"><%=sayfa.KisaIcerik %></div>
      <%if (!string.IsNullOrEmpty(sayfa.BannerImage))
        { %>
	<div class="icerikImage">
     <img src="<%=sayfa.BannerImage %>" width="960" height="258"/>
     <div class="shadow"></div>
    </div>
    <%} %>
    <div class="icerikText">
    <%=sayfa.Icerik %>

    </div>
    
</div>   		
        
    </div> 
</asp:Content>








