<<<<<<< HEAD
.da-slider{
	width: 960px;
	min-width: 520px;
	height: 320px;
	position: relative;
	overflow: hidden;
	background: transparent url(../images/waves.jpg) repeat 0% 0%; */
/*	box-shadow: 0px 1px 1px rgba(0,0,0,0.2), 0px -2px 1px #fff;  */
	-webkit-transition: background-position 1s ease-out 0.3s;
	-moz-transition: background-position 1s ease-out 0.3s;
	-o-transition: background-position 1s ease-out 0.3s;
	-ms-transition: background-position 1s ease-out 0.3s;
	transition: background-position 1s ease-out 0.3s;
}
.da-slide{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
	text-align: left;
}
.da-slide-current{
	z-index: 1000;
}
.da-slider-fb .da-slide{
	left: 100%;
}
.da-slider-fb  .da-slide.da-slide-current{
	left: 0px;
}
.da-slide h2,
.da-slide p,
.da-slide .da-link,
.da-slide .da-img{
	position: absolute;
	opacity: 0;
	left: 110%;
	z-index: 400;
}
.da-slider-fb .da-slide h2,
.da-slider-fb .da-slide p,
.da-slider-fb .da-slide .da-link{
	left: 10%;
	opacity: 1;
}
.da-slider-fb .da-slide .da-img{
	left: 60%;
	opacity: 1;
}
.da-slide h2{

	font-size: 66px;
	font-family: calibri, Arial;
	color: rgb(70, 70, 70);

	z-index: 10;


	font-size: 24px;
margin-bottom: 20px;
margin-top: 30px;
}
.da-slide p{
	top: 155px;
	color: rgb(70, 70, 70);
	font-size: 15px;
	width: 440px;
	font-family: calibri, Arial;

}
.da-slide .da-img{
text-align: center;
width: 40%;
top: 47px;
height: 256px;
line-height: 320px;
left: 110%; /*60%*/
}
.da-slide .da-link{
	top: 288px; /*depends on p height*/
color: #666666;
cursor: pointer;
border: none;
outline: none;
display: block;
width: 223px;
height: 60px;
float: left;
margin-left: 780px;

}
.da-slide .da-link:hover{
		top: 288px; /*depends on p height*/
color: #999999;	
cursor: pointer;
border: none;
outline: none;
display: block;
width: 223px;
height: 60px;
float: left;
margin-left: 780px;

}
.da-dots{
	width: 100%;
	position: absolute;
	text-align: center;
	left: 0px;
	bottom: 20px;
	z-index: 1100;
	-moz-user-select: none;
	-webkit-user-select: none;
}
.da-dots span{
	display: inline-block;
	position: relative;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	-moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
	background: #e30000;
	margin: 3px;
	cursor: pointer;
	box-shadow: 
		1px 1px 1px rgba(0,0,0,0.1) inset, 
		1px 1px 1px rgba(255,255,255,0.1);
	*display:none;	
}
.da-dots span.da-dots-current:after{
	content: '';
	width: 8px;
	height: 8px;
	position: absolute;
	top: 2px;
	left: 2px;
	border-radius: 50%;
	background: rgb(255,255,255);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
	background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
}
.da-arrows{
	-moz-user-select: none;
	-webkit-user-select: none;
}
.da-arrows span{
	position: absolute;
	top: 50%;
height: 24px;
width: 19px;
	cursor: pointer;
	z-index: 2000;
	opacity: 0;
	*opacity:1;
background-image:url(../images/arrows.png);
	-webkit-transition: opacity 0.4s ease-in-out-out 0.2s;
	-moz-transition: opacity 0.4s ease-in-out-out 0.2s;
	-o-transition: opacity 0.4s ease-in-out-out 0.2s;
	-ms-transition: opacity 0.4s ease-in-out-out 0.2s;
	transition: opacity 0.4s ease-in-out-out 0.2s;
}
.da-slider:hover .da-arrows span{
	opacity: 1;
}
.da-arrows span:after{
	content: '';
	position: absolute;
	width: 20px;
	height: 20px;
	top: 5px;
	left: 5px;
	


}
.da-arrows span:hover:after{

}
.da-arrows span:active:after{

}
.da-arrows span.da-arrows-next:after{
	background-position: top right;
}
.da-arrows span.da-arrows-prev{
	left: 15px;
	background-position: 0px 0px;
}
.da-arrows span.da-arrows-next{
	right: 15px;
	background-position: 20px 0px;
=======
.da-slider {
    width: 960px;
    min-width: 520px;
    height: 320px;
    position: relative;
    overflow: hidden;
    background: transparent url(../images/waves.jpg) repeat 0% 0%;
    */
    /*	box-shadow: 0px 1px 1px rgba(0,0,0,0.2), 0px -2px 1px #fff;  */
    -webkit-transition: background-position 1s ease-out 0.3s;
    -moz-transition: background-position 1s ease-out 0.3s;
    -o-transition: background-position 1s ease-out 0.3s;
    -ms-transition: background-position 1s ease-out 0.3s;
    transition: background-position 1s ease-out 0.3s;
}

.da-slide {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
}

.da-slide-current {
    z-index: 1000;
}

.da-slider-fb .da-slide {
    left: 100%;
}

    .da-slider-fb .da-slide.da-slide-current {
        left: 0px;
    }

.da-slide h2,
.da-slide p,
.da-slide .da-link,
.da-slide .da-img {
    position: absolute;
    opacity: 0;
    left: 110%;
    z-index: 400;
}

.da-slider-fb .da-slide h2,
.da-slider-fb .da-slide p,
.da-slider-fb .da-slide .da-link {
    left: 10%;
    opacity: 1;
}

.da-slider-fb .da-slide .da-img {
    left: 60%;
    opacity: 1;
}

.da-slide h2 {
    font-size: 66px;
    font-family: calibri, Arial;
    color: rgb(70, 70, 70);
    z-index: 10;
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.da-slide p {
    top: 155px;
    color: rgb(70, 70, 70);
    font-size: 15px;
    width: 440px;
    font-family: calibri, Arial;
}

.da-slide .da-img {
    text-align: center;
    width: 40%;
    top: 47px;
    height: 256px;
    line-height: 320px;
    left: 110%; /*60%*/
}

.da-slide .da-link {
    top: 288px; /*depends on p height*/
    color: #666666;
    cursor: pointer;
    border: none;
    outline: none;
    display: block;
    width: 223px;
    height: 60px;
    float: left;
    margin-left: 780px;
}

    .da-slide .da-link:hover {
        top: 288px; /*depends on p height*/
        color: #999999;
        cursor: pointer;
        border: none;
        outline: none;
        display: block;
        width: 223px;
        height: 60px;
        float: left;
        margin-left: 780px;
    }

.da-dots {
    width: 100%;
    position: absolute;
    text-align: center;
    left: 0px;
    bottom: 20px;
    z-index: 1100;
    -moz-user-select: none;
    -webkit-user-select: none;
}

    .da-dots span {
        display: inline-block;
        position: relative;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        -khtml-border-radius: 50%;
        background: #e30000;
        margin: 3px;
        cursor: pointer;
        box-shadow: 1px 1px 1px rgba(0,0,0,0.1) inset, 1px 1px 1px rgba(255,255,255,0.1);
        *display: none;
    }

        .da-dots span.da-dots-current:after {
            content: '';
            width: 8px;
            height: 8px;
            position: absolute;
            top: 2px;
            left: 2px;
            border-radius: 50%;
            background: rgb(255,255,255);
            background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1)));
            background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
            background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
            background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
            background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
        }

.da-arrows {
    -moz-user-select: none;
    -webkit-user-select: none;
}

    .da-arrows span {
       
        position: absolute;
        top: 50%;
        height: 20px;
        width: 20px;
        cursor: pointer;
        z-index: 2000;
        opacity: 0;
        *opacity: 1;
        background-image: url(../images/arrows.png);
        -webkit-transition: opacity 0.4s ease-in-out-out 0.2s;
        -moz-transition: opacity 0.4s ease-in-out-out 0.2s;
        -o-transition: opacity 0.4s ease-in-out-out 0.2s;
        -ms-transition: opacity 0.4s ease-in-out-out 0.2s;
        transition: opacity 0.4s ease-in-out-out 0.2s;
    }

.da-slider:hover .da-arrows span {
    opacity: 1;
}

.da-arrows span:after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    top: 5px;
    left: 5px;
}

.da-arrows span:hover:after {
}

.da-arrows span:active:after {
}

.da-arrows span.da-arrows-next:after {
    background-position: top right;
}

.da-arrows span.da-arrows-prev {
    left: 15px;
    background-position: 0px 0px;
}

.da-arrows span.da-arrows-next {
    right: 15px;
    background-position: 20px 0px;
>>>>>>> 01ae86338bb1f5b0088cac32345ecc225bd34e2d
}

.da-slide-current h2,
.da-slide-current p,
<<<<<<< HEAD
.da-slide-current .da-link{
	left: 10%;  
	opacity: 1;
}
.da-slide-current .da-img{
	left: 60%;
	opacity: 1;
=======
.da-slide-current .da-link {
    left: 10%;
    opacity: 1;
}

.da-slide-current .da-img {
    left: 60%;
    opacity: 1;
>>>>>>> 01ae86338bb1f5b0088cac32345ecc225bd34e2d
}
/* Animation classes and animations */

/* Slide in from the right*/
<<<<<<< HEAD
.da-slide-fromright h2{
	-webkit-animation: fromRightAnim1 0.6s ease-in-out 0.8s both;
	-moz-animation: fromRightAnim1 0.6s ease-in-out 0.8s both;
	-o-animation: fromRightAnim1 0.6s ease-in-out 0.8s both;
	-ms-animation: fromRightAnim1 0.6s ease-in-out 0.8s both;
	animation: fromRightAnim1 0.6s ease-in-out 0.8s both;
}
.da-slide-fromright p{
	-webkit-animation: fromRightAnim2 0.6s ease-in-out 0.8s both;
	-moz-animation: fromRightAnim2 0.6s ease-in-out 0.8s both;
	-o-animation: fromRightAnim2 0.6s ease-in-out 0.8s both;
	-ms-animation: fromRightAnim2 0.6s ease-in-out 0.8s both;
	animation: fromRightAnim2 0.6s ease-in-out 0.8s both;
}
.da-slide-fromright .da-link{
	-webkit-animation: fromRightAnim3 0.4s ease-in-out 1.2s both;
	-moz-animation: fromRightAnim3 0.4s ease-in-out 1.2s both;
	-o-animation: fromRightAnim3 0.4s ease-in-out 1.2s both;
	-ms-animation: fromRightAnim3 0.4s ease-in-out 1.2s both;
	animation: fromRightAnim3 0.4s ease-in-out 1.2s both;
}
.da-slide-fromright .da-img{
	-webkit-animation: fromRightAnim4 0.6s ease-in-out 0.8s both;
	-moz-animation: fromRightAnim4 0.6s ease-in-out 0.8s both;
	-o-animation: fromRightAnim4 0.6s ease-in-out 0.8s both;
	-ms-animation: fromRightAnim4 0.6s ease-in-out 0.8s both;
	animation: fromRightAnim4 0.6s ease-in-out 0.8s both;
}
@-webkit-keyframes fromRightAnim1{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-webkit-keyframes fromRightAnim2{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-webkit-keyframes fromRightAnim3{
	0%{ left: 110%; opacity: 0; }
	1%{ left: 10%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-webkit-keyframes fromRightAnim4{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 60%; opacity: 1; }
}

@-moz-keyframes fromRightAnim1{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-moz-keyframes fromRightAnim2{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-moz-keyframes fromRightAnim3{
	0%{ left: 110%; opacity: 0; }
	1%{ left: 10%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-moz-keyframes fromRightAnim4{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 60%; opacity: 1; }
}

@-o-keyframes fromRightAnim1{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-o-keyframes fromRightAnim2{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-o-keyframes fromRightAnim3{
	0%{ left: 110%; opacity: 0; }
	1%{ left: 10%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-o-keyframes fromRightAnim4{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 60%; opacity: 1; }
}

@-ms-keyframes fromRightAnim1{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-ms-keyframes fromRightAnim2{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-ms-keyframes fromRightAnim3{
	0%{ left: 110%; opacity: 0; }
	1%{ left: 10%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-ms-keyframes fromRightAnim4{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 60%; opacity: 1; }
}

@keyframes fromRightAnim1{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@keyframes fromRightAnim2{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@keyframes fromRightAnim3{
	0%{ left: 110%; opacity: 0; }
	1%{ left: 10%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@keyframes fromRightAnim4{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 60%; opacity: 1; }
}
/* Slide in from the left*/
.da-slide-fromleft h2{
	-webkit-animation: fromLeftAnim1 0.6s ease-in-out 0.6s both;
	-moz-animation: fromLeftAnim1 0.6s ease-in-out 0.6s both;
	-o-animation: fromLeftAnim1 0.6s ease-in-out 0.6s both;
	-ms-animation: fromLeftAnim1 0.6s ease-in-out 0.6s both;
	animation: fromLeftAnim1 0.6s ease-in-out 0.6s both;
}
.da-slide-fromleft p{
	-webkit-animation: fromLeftAnim2 0.6s ease-in-out 0.6s both;
	-moz-animation: fromLeftAnim2 0.6s ease-in-out 0.6s both;
	-o-animation: fromLeftAnim2 0.6s ease-in-out 0.6s both;
	-ms-animation: fromLeftAnim2 0.6s ease-in-out 0.6s both;
	animation: fromLeftAnim2 0.6s ease-in-out 0.6s both;
}
.da-slide-fromleft .da-link{
	-webkit-animation: fromLeftAnim3 0.4s ease-in-out 1.2s both;
	-moz-animation: fromLeftAnim3 0.4s ease-in-out 1.2s both;
	-o-animation: fromLeftAnim3 0.4s ease-in-out 1.2s both;
	-ms-animation: fromLeftAnim3 0.4s ease-in-out 1.2s both;
	animation: fromLeftAnim3 0.4s ease-in-out 1.2s both;
}
.da-slide-fromleft .da-img{
	-webkit-animation: fromLeftAnim4 0.6s ease-in-out 0.6s both;
	-moz-animation: fromLeftAnim4 0.6s ease-in-out 0.6s both;
	-o-animation: fromLeftAnim4 0.6s ease-in-out 0.6s both;
	-ms-animation: fromLeftAnim4 0.6s ease-in-out 0.6s both;
	animation: fromLeftAnim4 0.6s ease-in-out 0.6s both;
}
@-webkit-keyframes fromLeftAnim1{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-webkit-keyframes fromLeftAnim2{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-webkit-keyframes fromLeftAnim3{
	0%{ left: -110%; opacity: 0; }
	1%{ left: 10%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-webkit-keyframes fromLeftAnim4{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 60%; opacity: 1; }
}

@-moz-keyframes fromLeftAnim1{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-moz-keyframes fromLeftAnim2{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-moz-keyframes fromLeftAnim3{
	0%{ left: -110%; opacity: 0; }
	1%{ left: 10%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-moz-keyframes fromLeftAnim4{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 60%; opacity: 1; }
}

@-o-keyframes fromLeftAnim1{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-o-keyframes fromLeftAnim2{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-o-keyframes fromLeftAnim3{
	0%{ left: -110%; opacity: 0; }
	1%{ left: 10%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-o-keyframes fromLeftAnim4{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 60%; opacity: 1; }
}

@-ms-keyframes fromLeftAnim1{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-ms-keyframes fromLeftAnim2{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-ms-keyframes fromLeftAnim3{
	0%{ left: -110%; opacity: 0; }
	1%{ left: 10%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-ms-keyframes fromLeftAnim4{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 60%; opacity: 1; }
}

@keyframes fromLeftAnim1{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@keyframes fromLeftAnim2{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@keyframes fromLeftAnim3{
	0%{ left: -110%; opacity: 0; }
	1%{ left: 10%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@keyframes fromLeftAnim4{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 60%; opacity: 1; }
}
/* Slide out to the right */
.da-slide-toright h2{
	-webkit-animation: toRightAnim1 0.6s ease-in-out 0.6s both;
	-moz-animation: toRightAnim1 0.6s ease-in-out 0.6s both;
	-o-animation: toRightAnim1 0.6s ease-in-out 0.6s both;
	-ms-animation: toRightAnim1 0.6s ease-in-out 0.6s both;
	animation: toRightAnim1 0.6s ease-in-out 0.6s both;
}
.da-slide-toright p{
	-webkit-animation: toRightAnim2 0.6s ease-in-out 0.3s both;
	-moz-animation: toRightAnim2 0.6s ease-in-out 0.3s both;
	-o-animation: toRightAnim2 0.6s ease-in-out 0.3s both;
	-ms-animation: toRightAnim2 0.6s ease-in-out 0.3s both;
	animation: toRightAnim2 0.6s ease-in-out 0.3s both;
}
.da-slide-toright .da-link{
	-webkit-animation: toRightAnim3 0.4s ease-in-out both;
	-moz-animation: toRightAnim3 0.4s ease-in-out both;
	-o-animation: toRightAnim3 0.4s ease-in-out both;
	-ms-animation: toRightAnim3 0.4s ease-in-out both;
	animation: toRightAnim3 0.4s ease-in-out both;
}
.da-slide-toright .da-img{
	-webkit-animation: toRightAnim4 0.6s ease-in-out both;
	-moz-animation: toRightAnim4 0.6s ease-in-out both;
	-o-animation: toRightAnim4 0.6s ease-in-out both;
	-ms-animation: toRightAnim4 0.6s ease-in-out both;
	animation: toRightAnim4 0.6s ease-in-out both;
}
@-webkit-keyframes toRightAnim1{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-webkit-keyframes toRightAnim2{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-webkit-keyframes toRightAnim3{
	0%{ left: 10%;  opacity: 1; }
	99%{ left: 10%; opacity: 0; }
	100%{ left: 100%; opacity: 0; }
}
@-webkit-keyframes toRightAnim4{
	0%{ left: 60%;  opacity: 1; }
	30%{ left: 55%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}

@-moz-keyframes toRightAnim1{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-moz-keyframes toRightAnim2{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-moz-keyframes toRightAnim3{
	0%{ left: 10%;  opacity: 1; }
	99%{ left: 10%; opacity: 0; }
	100%{ left: 100%; opacity: 0; }
}
@-moz-keyframes toRightAnim4{
	0%{ left: 60%;  opacity: 1; }
	30%{ left: 55%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}

@-o-keyframes toRightAnim1{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-o-keyframes toRightAnim2{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-o-keyframes toRightAnim3{
	0%{ left: 10%;  opacity: 1; }
	99%{ left: 10%; opacity: 0; }
	100%{ left: 100%; opacity: 0; }
}
@-o-keyframes toRightAnim4{
	0%{ left: 60%;  opacity: 1; }
	30%{ left: 55%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}

@-ms-keyframes toRightAnim1{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-ms-keyframes toRightAnim2{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-ms-keyframes toRightAnim3{
	0%{ left: 10%;  opacity: 1; }
	99%{ left: 10%; opacity: 0; }
	100%{ left: 100%; opacity: 0; }
}
@-ms-keyframes toRightAnim4{
	0%{ left: 60%;  opacity: 1; }
	30%{ left: 55%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}

@keyframes toRightAnim1{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@keyframes toRightAnim2{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@keyframes toRightAnim3{
	0%{ left: 10%;  opacity: 1; }
	99%{ left: 10%; opacity: 0; }
	100%{ left: 100%; opacity: 0; }
}
@keyframes toRightAnim4{
	0%{ left: 60%;  opacity: 1; }
	30%{ left: 55%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
/* Slide out to the left*/
.da-slide-toleft h2{
	-webkit-animation: toLeftAnim1 0.6s ease-in-out both;
	-moz-animation: toLeftAnim1 0.6s ease-in-out both;
	-o-animation: toLeftAnim1 0.6s ease-in-out both;
	-ms-animation: toLeftAnim1 0.6s ease-in-out both;
	animation: toLeftAnim1 0.6s ease-in-out both;
}
.da-slide-toleft p{
	-webkit-animation: toLeftAnim2 0.6s ease-in-out 0.3s both;
	-moz-animation: toLeftAnim2 0.6s ease-in-out 0.3s both;
	-o-animation: toLeftAnim2 0.6s ease-in-out 0.3s both;
	-ms-animation: toLeftAnim2 0.6s ease-in-out 0.3s both;
	animation: toLeftAnim2 0.6s ease-in-out 0.3s both;
}
.da-slide-toleft .da-link{
	-webkit-animation: toLeftAnim3 0.6s ease-in-out 0.6s both;
	-moz-animation: toLeftAnim3 0.6s ease-in-out 0.6s both;
	-o-animation: toLeftAnim3 0.6s ease-in-out 0.6s both;
	-ms-animation: toLeftAnim3 0.6s ease-in-out 0.6s both;
	animation: toLeftAnim3 0.6s ease-in-out 0.6s both;
}
.da-slide-toleft .da-img{
	-webkit-animation: toLeftAnim4 0.6s ease-in-out 0.5s both;
	-moz-animation: toLeftAnim4 0.6s ease-in-out 0.5s both;
	-o-animation: toLeftAnim4 0.6s ease-in-out 0.5s both;
	-ms-animation: toLeftAnim4 0.6s ease-in-out 0.5s both;
	animation: toLeftAnim4 0.6s ease-in-out 0.5s both;
}
@-webkit-keyframes toLeftAnim1{
	0%{ left: 10%;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-webkit-keyframes toLeftAnim2{
	0%{ left: 10%;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-webkit-keyframes toLeftAnim3{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-webkit-keyframes toLeftAnim4{
	0%{ left: 60%;  opacity: 1; }
	70%{ left: 30%;  opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}

@-moz-keyframes toLeftAnim1{
	0%{ left: 10%;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-moz-keyframes toLeftAnim2{
	0%{ left: 10%;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-moz-keyframes toLeftAnim3{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-moz-keyframes toLeftAnim4{
	0%{ left: 60%;  opacity: 1; }
	70%{ left: 30%;  opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}

@-o-keyframes toLeftAnim1{
	0%{ left: 10%;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-o-keyframes toLeftAnim2{
	0%{ left: 10%;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-o-keyframes toLeftAnim3{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-o-keyframes toLeftAnim4{
	0%{ left: 60%;  opacity: 1; }
	70%{ left: 30%;  opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}

@-ms-keyframes toLeftAnim1{
	0%{ left: 10%;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-ms-keyframes toLeftAnim2{
	0%{ left: 10%;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-ms-keyframes toLeftAnim3{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-ms-keyframes toLeftAnim4{
	0%{ left: 60%;  opacity: 1; }
	70%{ left: 30%;  opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}

@keyframes toLeftAnim1{
	0%{ left: 10%;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@keyframes toLeftAnim2{
	0%{ left: 10%;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@keyframes toLeftAnim3{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@keyframes toLeftAnim4{
	0%{ left: 60%;  opacity: 1; }
	70%{ left: 30%;  opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}
=======
.da-slide-fromright h2 {
    -webkit-animation: fromRightAnim1 0.6s ease-in-out 0.8s both;
    -moz-animation: fromRightAnim1 0.6s ease-in-out 0.8s both;
    -o-animation: fromRightAnim1 0.6s ease-in-out 0.8s both;
    -ms-animation: fromRightAnim1 0.6s ease-in-out 0.8s both;
    animation: fromRightAnim1 0.6s ease-in-out 0.8s both;
}

.da-slide-fromright p {
    -webkit-animation: fromRightAnim2 0.6s ease-in-out 0.8s both;
    -moz-animation: fromRightAnim2 0.6s ease-in-out 0.8s both;
    -o-animation: fromRightAnim2 0.6s ease-in-out 0.8s both;
    -ms-animation: fromRightAnim2 0.6s ease-in-out 0.8s both;
    animation: fromRightAnim2 0.6s ease-in-out 0.8s both;
}

.da-slide-fromright .da-link {
    -webkit-animation: fromRightAnim3 0.4s ease-in-out 1.2s both;
    -moz-animation: fromRightAnim3 0.4s ease-in-out 1.2s both;
    -o-animation: fromRightAnim3 0.4s ease-in-out 1.2s both;
    -ms-animation: fromRightAnim3 0.4s ease-in-out 1.2s both;
    animation: fromRightAnim3 0.4s ease-in-out 1.2s both;
}

.da-slide-fromright .da-img {
    -webkit-animation: fromRightAnim4 0.6s ease-in-out 0.8s both;
    -moz-animation: fromRightAnim4 0.6s ease-in-out 0.8s both;
    -o-animation: fromRightAnim4 0.6s ease-in-out 0.8s both;
    -ms-animation: fromRightAnim4 0.6s ease-in-out 0.8s both;
    animation: fromRightAnim4 0.6s ease-in-out 0.8s both;
}

@-webkit-keyframes fromRightAnim1 {
    0% {
        left: 110%;
        opacity: 0;
    }

    100% {
        left: 10%;
        opacity: 1;
    }
}

@-webkit-keyframes fromRightAnim2 {
    0% {
        left: 110%;
        opacity: 0;
    }

    100% {
        left: 10%;
        opacity: 1;
    }
}

@-webkit-keyframes fromRightAnim3 {
    0% {
        left: 110%;
        opacity: 0;
    }

    1% {
        left: 10%;
        opacity: 0;
    }

    100% {
        left: 10%;
        opacity: 1;
    }
}

@-webkit-keyframes fromRightAnim4 {
    0% {
        left: 110%;
        opacity: 0;
    }

    100% {
        left: 60%;
        opacity: 1;
    }
}

@-moz-keyframes fromRightAnim1 {
    0% {
        left: 110%;
        opacity: 0;
    }

    100% {
        left: 10%;
        opacity: 1;
    }
}

@-moz-keyframes fromRightAnim2 {
    0% {
        left: 110%;
        opacity: 0;
    }

    100% {
        left: 10%;
        opacity: 1;
    }
}

@-moz-keyframes fromRightAnim3 {
    0% {
        left: 110%;
        opacity: 0;
    }

    1% {
        left: 10%;
        opacity: 0;
    }

    100% {
        left: 10%;
        opacity: 1;
    }
}

@-moz-keyframes fromRightAnim4 {
    0% {
        left: 110%;
        opacity: 0;
    }

    100% {
        left: 60%;
        opacity: 1;
    }
}

@-o-keyframes fromRightAnim1 {
    0% {
        left: 110%;
        opacity: 0;
    }

    100% {
        left: 10%;
        opacity: 1;
    }
}

@-o-keyframes fromRightAnim2 {
    0% {
        left: 110%;
        opacity: 0;
    }

    100% {
        left: 10%;
        opacity: 1;
    }
}

@-o-keyframes fromRightAnim3 {
    0% {
        left: 110%;
        opacity: 0;
    }

    1% {
        left: 10%;
        opacity: 0;
    }

    100% {
        left: 10%;
        opacity: 1;
    }
}

@-o-keyframes fromRightAnim4 {
    0% {
        left: 110%;
        opacity: 0;
    }

    100% {
        left: 60%;
        opacity: 1;
    }
}

@-ms-keyframes fromRightAnim1 {
    0% {
        left: 110%;
        opacity: 0;
    }

    100% {
        left: 10%;
        opacity: 1;
    }
}

@-ms-keyframes fromRightAnim2 {
    0% {
        left: 110%;
        opacity: 0;
    }

    100% {
        left: 10%;
        opacity: 1;
    }
}

@-ms-keyframes fromRightAnim3 {
    0% {
        left: 110%;
        opacity: 0;
    }

    1% {
        left: 10%;
        opacity: 0;
    }

    100% {
        left: 10%;
        opacity: 1;
    }
}

@-ms-keyframes fromRightAnim4 {
    0% {
        left: 110%;
        opacity: 0;
    }

    100% {
        left: 60%;
        opacity: 1;
    }
}

@keyframes fromRightAnim1 {
    0% {
        left: 110%;
        opacity: 0;
    }

    100% {
        left: 10%;
        opacity: 1;
    }
}

@keyframes fromRightAnim2 {
    0% {
        left: 110%;
        opacity: 0;
    }

    100% {
        left: 10%;
        opacity: 1;
    }
}

@keyframes fromRightAnim3 {
    0% {
        left: 110%;
        opacity: 0;
    }

    1% {
        left: 10%;
        opacity: 0;
    }

    100% {
        left: 10%;
        opacity: 1;
    }
}

@keyframes fromRightAnim4 {
    0% {
        left: 110%;
        opacity: 0;
    }

    100% {
        left: 60%;
        opacity: 1;
    }
}
/* Slide in from the left*/
.da-slide-fromleft h2 {
    -webkit-animation: fromLeftAnim1 0.6s ease-in-out 0.6s both;
    -moz-animation: fromLeftAnim1 0.6s ease-in-out 0.6s both;
    -o-animation: fromLeftAnim1 0.6s ease-in-out 0.6s both;
    -ms-animation: fromLeftAnim1 0.6s ease-in-out 0.6s both;
    animation: fromLeftAnim1 0.6s ease-in-out 0.6s both;
}

.da-slide-fromleft p {
    -webkit-animation: fromLeftAnim2 0.6s ease-in-out 0.6s both;
    -moz-animation: fromLeftAnim2 0.6s ease-in-out 0.6s both;
    -o-animation: fromLeftAnim2 0.6s ease-in-out 0.6s both;
    -ms-animation: fromLeftAnim2 0.6s ease-in-out 0.6s both;
    animation: fromLeftAnim2 0.6s ease-in-out 0.6s both;
}

.da-slide-fromleft .da-link {
    -webkit-animation: fromLeftAnim3 0.4s ease-in-out 1.2s both;
    -moz-animation: fromLeftAnim3 0.4s ease-in-out 1.2s both;
    -o-animation: fromLeftAnim3 0.4s ease-in-out 1.2s both;
    -ms-animation: fromLeftAnim3 0.4s ease-in-out 1.2s both;
    animation: fromLeftAnim3 0.4s ease-in-out 1.2s both;
}

.da-slide-fromleft .da-img {
    -webkit-animation: fromLeftAnim4 0.6s ease-in-out 0.6s both;
    -moz-animation: fromLeftAnim4 0.6s ease-in-out 0.6s both;
    -o-animation: fromLeftAnim4 0.6s ease-in-out 0.6s both;
    -ms-animation: fromLeftAnim4 0.6s ease-in-out 0.6s both;
    animation: fromLeftAnim4 0.6s ease-in-out 0.6s both;
}

@-webkit-keyframes fromLeftAnim1 {
    0% {
        left: -110%;
        opacity: 0;
    }

    100% {
        left: 10%;
        opacity: 1;
    }
}

@-webkit-keyframes fromLeftAnim2 {
    0% {
        left: -110%;
        opacity: 0;
    }

    100% {
        left: 10%;
        opacity: 1;
    }
}

@-webkit-keyframes fromLeftAnim3 {
    0% {
        left: -110%;
        opacity: 0;
    }

    1% {
        left: 10%;
        opacity: 0;
    }

    100% {
        left: 10%;
        opacity: 1;
    }
}

@-webkit-keyframes fromLeftAnim4 {
    0% {
        left: -110%;
        opacity: 0;
    }

    100% {
        left: 60%;
        opacity: 1;
    }
}

@-moz-keyframes fromLeftAnim1 {
    0% {
        left: -110%;
        opacity: 0;
    }

    100% {
        left: 10%;
        opacity: 1;
    }
}

@-moz-keyframes fromLeftAnim2 {
    0% {
        left: -110%;
        opacity: 0;
    }

    100% {
        left: 10%;
        opacity: 1;
    }
}

@-moz-keyframes fromLeftAnim3 {
    0% {
        left: -110%;
        opacity: 0;
    }

    1% {
        left: 10%;
        opacity: 0;
    }

    100% {
        left: 10%;
        opacity: 1;
    }
}

@-moz-keyframes fromLeftAnim4 {
    0% {
        left: -110%;
        opacity: 0;
    }

    100% {
        left: 60%;
        opacity: 1;
    }
}

@-o-keyframes fromLeftAnim1 {
    0% {
        left: -110%;
        opacity: 0;
    }

    100% {
        left: 10%;
        opacity: 1;
    }
}

@-o-keyframes fromLeftAnim2 {
    0% {
        left: -110%;
        opacity: 0;
    }

    100% {
        left: 10%;
        opacity: 1;
    }
}

@-o-keyframes fromLeftAnim3 {
    0% {
        left: -110%;
        opacity: 0;
    }

    1% {
        left: 10%;
        opacity: 0;
    }

    100% {
        left: 10%;
        opacity: 1;
    }
}

@-o-keyframes fromLeftAnim4 {
    0% {
        left: -110%;
        opacity: 0;
    }

    100% {
        left: 60%;
        opacity: 1;
    }
}

@-ms-keyframes fromLeftAnim1 {
    0% {
        left: -110%;
        opacity: 0;
    }

    100% {
        left: 10%;
        opacity: 1;
    }
}

@-ms-keyframes fromLeftAnim2 {
    0% {
        left: -110%;
        opacity: 0;
    }

    100% {
        left: 10%;
        opacity: 1;
    }
}

@-ms-keyframes fromLeftAnim3 {
    0% {
        left: -110%;
        opacity: 0;
    }

    1% {
        left: 10%;
        opacity: 0;
    }

    100% {
        left: 10%;
        opacity: 1;
    }
}

@-ms-keyframes fromLeftAnim4 {
    0% {
        left: -110%;
        opacity: 0;
    }

    100% {
        left: 60%;
        opacity: 1;
    }
}

@keyframes fromLeftAnim1 {
    0% {
        left: -110%;
        opacity: 0;
    }

    100% {
        left: 10%;
        opacity: 1;
    }
}

@keyframes fromLeftAnim2 {
    0% {
        left: -110%;
        opacity: 0;
    }

    100% {
        left: 10%;
        opacity: 1;
    }
}

@keyframes fromLeftAnim3 {
    0% {
        left: -110%;
        opacity: 0;
    }

    1% {
        left: 10%;
        opacity: 0;
    }

    100% {
        left: 10%;
        opacity: 1;
    }
}

@keyframes fromLeftAnim4 {
    0% {
        left: -110%;
        opacity: 0;
    }

    100% {
        left: 60%;
        opacity: 1;
    }
}
/* Slide out to the right */
.da-slide-toright h2 {
    -webkit-animation: toRightAnim1 0.6s ease-in-out 0.6s both;
    -moz-animation: toRightAnim1 0.6s ease-in-out 0.6s both;
    -o-animation: toRightAnim1 0.6s ease-in-out 0.6s both;
    -ms-animation: toRightAnim1 0.6s ease-in-out 0.6s both;
    animation: toRightAnim1 0.6s ease-in-out 0.6s both;
}

.da-slide-toright p {
    -webkit-animation: toRightAnim2 0.6s ease-in-out 0.3s both;
    -moz-animation: toRightAnim2 0.6s ease-in-out 0.3s both;
    -o-animation: toRightAnim2 0.6s ease-in-out 0.3s both;
    -ms-animation: toRightAnim2 0.6s ease-in-out 0.3s both;
    animation: toRightAnim2 0.6s ease-in-out 0.3s both;
}

.da-slide-toright .da-link {
    -webkit-animation: toRightAnim3 0.4s ease-in-out both;
    -moz-animation: toRightAnim3 0.4s ease-in-out both;
    -o-animation: toRightAnim3 0.4s ease-in-out both;
    -ms-animation: toRightAnim3 0.4s ease-in-out both;
    animation: toRightAnim3 0.4s ease-in-out both;
}

.da-slide-toright .da-img {
    -webkit-animation: toRightAnim4 0.6s ease-in-out both;
    -moz-animation: toRightAnim4 0.6s ease-in-out both;
    -o-animation: toRightAnim4 0.6s ease-in-out both;
    -ms-animation: toRightAnim4 0.6s ease-in-out both;
    animation: toRightAnim4 0.6s ease-in-out both;
}

@-webkit-keyframes toRightAnim1 {
    0% {
        left: 10%;
        opacity: 1;
    }

    100% {
        left: 100%;
        opacity: 0;
    }
}

@-webkit-keyframes toRightAnim2 {
    0% {
        left: 10%;
        opacity: 1;
    }

    100% {
        left: 100%;
        opacity: 0;
    }
}

@-webkit-keyframes toRightAnim3 {
    0% {
        left: 10%;
        opacity: 1;
    }

    99% {
        left: 10%;
        opacity: 0;
    }

    100% {
        left: 100%;
        opacity: 0;
    }
}

@-webkit-keyframes toRightAnim4 {
    0% {
        left: 60%;
        opacity: 1;
    }

    30% {
        left: 55%;
        opacity: 1;
    }

    100% {
        left: 100%;
        opacity: 0;
    }
}

@-moz-keyframes toRightAnim1 {
    0% {
        left: 10%;
        opacity: 1;
    }

    100% {
        left: 100%;
        opacity: 0;
    }
}

@-moz-keyframes toRightAnim2 {
    0% {
        left: 10%;
        opacity: 1;
    }

    100% {
        left: 100%;
        opacity: 0;
    }
}

@-moz-keyframes toRightAnim3 {
    0% {
        left: 10%;
        opacity: 1;
    }

    99% {
        left: 10%;
        opacity: 0;
    }

    100% {
        left: 100%;
        opacity: 0;
    }
}

@-moz-keyframes toRightAnim4 {
    0% {
        left: 60%;
        opacity: 1;
    }

    30% {
        left: 55%;
        opacity: 1;
    }

    100% {
        left: 100%;
        opacity: 0;
    }
}

@-o-keyframes toRightAnim1 {
    0% {
        left: 10%;
        opacity: 1;
    }

    100% {
        left: 100%;
        opacity: 0;
    }
}

@-o-keyframes toRightAnim2 {
    0% {
        left: 10%;
        opacity: 1;
    }

    100% {
        left: 100%;
        opacity: 0;
    }
}

@-o-keyframes toRightAnim3 {
    0% {
        left: 10%;
        opacity: 1;
    }

    99% {
        left: 10%;
        opacity: 0;
    }

    100% {
        left: 100%;
        opacity: 0;
    }
}

@-o-keyframes toRightAnim4 {
    0% {
        left: 60%;
        opacity: 1;
    }

    30% {
        left: 55%;
        opacity: 1;
    }

    100% {
        left: 100%;
        opacity: 0;
    }
}

@-ms-keyframes toRightAnim1 {
    0% {
        left: 10%;
        opacity: 1;
    }

    100% {
        left: 100%;
        opacity: 0;
    }
}

@-ms-keyframes toRightAnim2 {
    0% {
        left: 10%;
        opacity: 1;
    }

    100% {
        left: 100%;
        opacity: 0;
    }
}

@-ms-keyframes toRightAnim3 {
    0% {
        left: 10%;
        opacity: 1;
    }

    99% {
        left: 10%;
        opacity: 0;
    }

    100% {
        left: 100%;
        opacity: 0;
    }
}

@-ms-keyframes toRightAnim4 {
    0% {
        left: 60%;
        opacity: 1;
    }

    30% {
        left: 55%;
        opacity: 1;
    }

    100% {
        left: 100%;
        opacity: 0;
    }
}

@keyframes toRightAnim1 {
    0% {
        left: 10%;
        opacity: 1;
    }

    100% {
        left: 100%;
        opacity: 0;
    }
}

@keyframes toRightAnim2 {
    0% {
        left: 10%;
        opacity: 1;
    }

    100% {
        left: 100%;
        opacity: 0;
    }
}

@keyframes toRightAnim3 {
    0% {
        left: 10%;
        opacity: 1;
    }

    99% {
        left: 10%;
        opacity: 0;
    }

    100% {
        left: 100%;
        opacity: 0;
    }
}

@keyframes toRightAnim4 {
    0% {
        left: 60%;
        opacity: 1;
    }

    30% {
        left: 55%;
        opacity: 1;
    }

    100% {
        left: 100%;
        opacity: 0;
    }
}
/* Slide out to the left*/
.da-slide-toleft h2 {
    -webkit-animation: toLeftAnim1 0.6s ease-in-out both;
    -moz-animation: toLeftAnim1 0.6s ease-in-out both;
    -o-animation: toLeftAnim1 0.6s ease-in-out both;
    -ms-animation: toLeftAnim1 0.6s ease-in-out both;
    animation: toLeftAnim1 0.6s ease-in-out both;
}

.da-slide-toleft p {
    -webkit-animation: toLeftAnim2 0.6s ease-in-out 0.3s both;
    -moz-animation: toLeftAnim2 0.6s ease-in-out 0.3s both;
    -o-animation: toLeftAnim2 0.6s ease-in-out 0.3s both;
    -ms-animation: toLeftAnim2 0.6s ease-in-out 0.3s both;
    animation: toLeftAnim2 0.6s ease-in-out 0.3s both;
}

.da-slide-toleft .da-link {
    -webkit-animation: toLeftAnim3 0.6s ease-in-out 0.6s both;
    -moz-animation: toLeftAnim3 0.6s ease-in-out 0.6s both;
    -o-animation: toLeftAnim3 0.6s ease-in-out 0.6s both;
    -ms-animation: toLeftAnim3 0.6s ease-in-out 0.6s both;
    animation: toLeftAnim3 0.6s ease-in-out 0.6s both;
}

.da-slide-toleft .da-img {
    -webkit-animation: toLeftAnim4 0.6s ease-in-out 0.5s both;
    -moz-animation: toLeftAnim4 0.6s ease-in-out 0.5s both;
    -o-animation: toLeftAnim4 0.6s ease-in-out 0.5s both;
    -ms-animation: toLeftAnim4 0.6s ease-in-out 0.5s both;
    animation: toLeftAnim4 0.6s ease-in-out 0.5s both;
}

@-webkit-keyframes toLeftAnim1 {
    0% {
        left: 10%;
        opacity: 1;
    }

    30% {
        left: 15%;
        opacity: 1;
    }

    100% {
        left: -50%;
        opacity: 0;
    }
}

@-webkit-keyframes toLeftAnim2 {
    0% {
        left: 10%;
        opacity: 1;
    }

    30% {
        left: 15%;
        opacity: 1;
    }

    100% {
        left: -50%;
        opacity: 0;
    }
}

@-webkit-keyframes toLeftAnim3 {
    0% {
        left: 10%;
        opacity: 1;
    }

    100% {
        left: -50%;
        opacity: 0;
    }
}

@-webkit-keyframes toLeftAnim4 {
    0% {
        left: 60%;
        opacity: 1;
    }

    70% {
        left: 30%;
        opacity: 0;
    }

    100% {
        left: -50%;
        opacity: 0;
    }
}

@-moz-keyframes toLeftAnim1 {
    0% {
        left: 10%;
        opacity: 1;
    }

    30% {
        left: 15%;
        opacity: 1;
    }

    100% {
        left: -50%;
        opacity: 0;
    }
}

@-moz-keyframes toLeftAnim2 {
    0% {
        left: 10%;
        opacity: 1;
    }

    30% {
        left: 15%;
        opacity: 1;
    }

    100% {
        left: -50%;
        opacity: 0;
    }
}

@-moz-keyframes toLeftAnim3 {
    0% {
        left: 10%;
        opacity: 1;
    }

    100% {
        left: -50%;
        opacity: 0;
    }
}

@-moz-keyframes toLeftAnim4 {
    0% {
        left: 60%;
        opacity: 1;
    }

    70% {
        left: 30%;
        opacity: 0;
    }

    100% {
        left: -50%;
        opacity: 0;
    }
}

@-o-keyframes toLeftAnim1 {
    0% {
        left: 10%;
        opacity: 1;
    }

    30% {
        left: 15%;
        opacity: 1;
    }

    100% {
        left: -50%;
        opacity: 0;
    }
}

@-o-keyframes toLeftAnim2 {
    0% {
        left: 10%;
        opacity: 1;
    }

    30% {
        left: 15%;
        opacity: 1;
    }

    100% {
        left: -50%;
        opacity: 0;
    }
}

@-o-keyframes toLeftAnim3 {
    0% {
        left: 10%;
        opacity: 1;
    }

    100% {
        left: -50%;
        opacity: 0;
    }
}

@-o-keyframes toLeftAnim4 {
    0% {
        left: 60%;
        opacity: 1;
    }

    70% {
        left: 30%;
        opacity: 0;
    }

    100% {
        left: -50%;
        opacity: 0;
    }
}

@-ms-keyframes toLeftAnim1 {
    0% {
        left: 10%;
        opacity: 1;
    }

    30% {
        left: 15%;
        opacity: 1;
    }

    100% {
        left: -50%;
        opacity: 0;
    }
}

@-ms-keyframes toLeftAnim2 {
    0% {
        left: 10%;
        opacity: 1;
    }

    30% {
        left: 15%;
        opacity: 1;
    }

    100% {
        left: -50%;
        opacity: 0;
    }
}

@-ms-keyframes toLeftAnim3 {
    0% {
        left: 10%;
        opacity: 1;
    }

    100% {
        left: -50%;
        opacity: 0;
    }
}

@-ms-keyframes toLeftAnim4 {
    0% {
        left: 60%;
        opacity: 1;
    }

    70% {
        left: 30%;
        opacity: 0;
    }

    100% {
        left: -50%;
        opacity: 0;
    }
}

@keyframes toLeftAnim1 {
    0% {
        left: 10%;
        opacity: 1;
    }

    30% {
        left: 15%;
        opacity: 1;
    }

    100% {
        left: -50%;
        opacity: 0;
    }
}

@keyframes toLeftAnim2 {
    0% {
        left: 10%;
        opacity: 1;
    }

    30% {
        left: 15%;
        opacity: 1;
    }

    100% {
        left: -50%;
        opacity: 0;
    }
}

@keyframes toLeftAnim3 {
    0% {
        left: 10%;
        opacity: 1;
    }

    100% {
        left: -50%;
        opacity: 0;
    }
}

@keyframes toLeftAnim4 {
    0% {
        left: 60%;
        opacity: 1;
    }

    70% {
        left: 30%;
        opacity: 0;
    }

    100% {
        left: -50%;
        opacity: 0;
    }
}
>>>>>>> 01ae86338bb1f5b0088cac32345ecc225bd34e2d
