﻿<%@ Page Title="" Language="C#" MasterPageFile="~/siteMasterPage.master" AutoEventWireup="true" CodeFile="uyeOK.aspx.cs" Inherits="uye_uyeOK" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<center>
<div style="position:relative;margin:20px 0">
    <img src="../Resouces/img/hosgrldin.jpg" />
    <div style="position:absolute;bottom:36px;left:400px"><a href="../default.aspx"> <img src="../Resouces/img/hosgeldinButon.png" /></a></div>
</div>
</center>

</asp:Content>



