﻿
.clear{clear:both;}
.left{float:left;}
.right{float:right;}
.right-ta{text-align:right;}
.center-ta{text-align:center;}
.nBrdT{border-top:none!important;}
.nBrdB{border-bottom:none!important;}
.nMrgR{margin-right:0px!important;}
.warn{color:#ba3232!important;}
.regular{font-weight:normal;}	    
    
.sepet-tbl, .sepet-tbl table{border-spacing:0;font-family:Tahoma;width:750px;}
.sepet-tbl td, .sepet-tbl th{height:35px;border-bottom:4px solid #fff;padding:5px 0px 5px 5px;border-right:1px solid #fff;background-color:#f3f3f3;font-size:12px;color:#696c70;vertical-align:middle;}
.sepet-tbl th{color:#757171;font-size:15px;border-bottom:4px solid #fff;border-top:1px solid #f3f3f3;border-left:none;text-align:right;padding:0 10px 0 0;height:33px;}
.sepet-tbl tr{background-color:#f3f3f3;}
.sepet-tbl .summary{background:#fff;border:0;padding:0px 10px 0 0;margin:20px 0 0 0;}
.sepet-tbl .summary-total{border-top:1px solid #999999;}
	.sepet-tbl td img{margin:0 5px 0 0;}
    .sepet-tbl td .basket-img{float:left;width:55px;height:80px;padding:0 0 0 0;margin:0 8px 0 0!important;}
    .sepet-tbl td .basket-img img {width:55px;height:74px;margin:0 0 0 0;border:1px solid #dfdfdf;}

td.return-description, td.return-item, td.return-price, td.return-total{background:#ffffff;padding:0;margin:0;font-weight:bold;vertical-align:bottom}
td.return-item, td.return-price, td.return-total{text-align:center}
td.return-description {text-align:left;}
td.return-item{width:44px;}
td.return-price, td.return-total{width:138px;}
.return-information{color:#990033;font-size:14px;}

.sozlesme2 table{width:750px}
.sozlesme2 h1{font-size:24px}    
.sozlesme2 h2{font-size:18px} 
.sozlesme2 h3{font-size:14px;font-weight:bold;}   
.sozlesme2 h4{font-size:12px}
.sozlesme2 td{font-family:Tahoma, Arial, Geneva, sans-serif;font-size:12px;}
