﻿@font-face {
    font-family: 'helveticaneueltpro-roman';
    src: url('fontface/helveticaneueltpro-roman.eot');
    src: url('fontface/helveticaneueltpro-roman.eot?#iefix') format('embedded-opentype'),
         url('fontface/helveticaneueltpro-roman.woff') format('woff'),
         url('fontface/helveticaneueltpro-roman.ttf') format('truetype'),
         url('fontface/helveticaneueltpro-roman.svg#helveticaneueltpro-roman') format('svg');
    font-weight: bold;
    font-style: normal;
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, caption, tbody, tfoot, thead {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	font-family:calibri, Arial;
	color: rgb(70, 70, 70);
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

/*********************sss*************/

.sssText {
	float: left;
width: 960px;
	
}

.sssBanner {
width:960px;
height:257px;
background-image:url(../images/sssBanner.jpg);
float:left;	
	
}


.sssContainer .sssShadow {
width:960px;
background-image:url(../images/shadow.png);
height:57px;
float: left;	
}

.sssTitle {
color: #E30000;
font-size: 30px;
margin-top: 75px;
margin-bottom: 25px;
position: absolute;
	
}	


#accordion-container {
	font-size: 13px;
	background: #ffffff;
	padding: 5px 10px 10px 10px;
	float:left;
	width: 953px;	
}

.accordion-header {
	font-size: 18px;
	background: #EBEBEB;
	margin: 5px 0 0 0;
	padding: 3px 20px;
	border: 1px solid #CCC;
	cursor: pointer;
	color: #e30000;

}

.active-header {

background-color: #e30000;
background-repeat: no-repeat;
background-position: right 50%;
color: #fff;


}

.active-header:hover {
	background-color:#e30000;
	background-repeat: no-repeat;
	background-position: right 50%;
	color:white;
}

.inactive-header {
	background: url(../images/inactive-header.gif);
	background-repeat: no-repeat;
	background-position: right 50%;
}

.inactive-header:hover {
	background-color:#e30000;
	background-repeat: no-repeat;
	background-position: right 50%;
	color:white;
}

.accordion-content {
	display: none;
	padding: 20px;
	border: 1px solid #cccccc;
	border-top: 0;
	font-size: 18px;
	width: 910px !important;
}


/*************************/

.landingHeader {
width:960px;
height:110px;
margin:auto;	
	
}



.landingContainer {
width: 960px;
background-image: url(../images/indexBG.jpg);
height: 365px;
padding-top: 75px;	
	
	
}

.title1 { 
color:#666666;
width:371px;
margin-bottom: 20px;
}

.bigTitle { 
font-size: 24px;
font-weight: bold;
color: rgb(70, 70, 70);
margin-top: 48px;
}

.landingContainer .readyButton { 
cursor:pointer;
border:none;
outline:none;
display:block;
width:223px;
height:60px;
float: left;
margin-top: 30px;
background-image:url(../images/readyButton.png);
background-position:0px 0px;
}

.landingContainer .readyButton:hover { 
cursor:pointer;
border:none;
outline:none;
display:block;
width:223px;
height:60px;
float: left;
margin-top: 30px;
background-image:url(../images/readyButton.png);
background-position:0px 60px;

}

.landingContainer .social { 
font-size: 9px;
color: #595959;
float: right;
width: 200px;
margin-top: 50px;
display: none;
}

.socialTitleF {
width: 56px;
float: left;
margin-top: 2px;	
	
}

.socialTitleT {
width: 40px;
float: left;
margin-top: 7px;	
	
}

.landingContainer .social .facebookContainer { 
width: 82px;
height: 27px;
display: block;
float: left;
}

.facebookButton { 
width:24px;
height:23px;
background-image:url(../images/facebook.png);
background-position:0px 0px;
float:right;
cursor:pointer;
border:none;
outline:none;
}

.facebookButton:hover { 
width:24px;
height:23px;
background-image:url(../images/facebook.png);
background-position:0px 23px;
float:right;
cursor:pointer;
border:none;
outline:none;
}

.landingContainer .social .twitterContainer { 
width: 64px;
height: 27px;
display: block;
float: left;
margin-left: 16px;
}

.twitterButton { 
width:24px;
height:23px;
background-image:url(../images/twitter.png);
background-position:0px 0px;
float:right;
cursor:pointer;
border:none;
outline:none;
}

.twitterButton:hover { 
width:24px;
height:23px;
background-image:url(../images/twitter.png);
background-position:0px 23px; 
float:right;
cursor:pointer;
border:none;
outline:none;
}

.landingFooter {
width: 100%;
margin-top: 42px;
float:left;
	
}

.landingFooterWrapper {
width: 960px;
margin: auto;	
text-align: center;	
height: 70px;
padding-top:10px;
}

.landingfooterLeftSSL {
width: 283px;
height: 44px;
background-image: url(../images/footerLeftSSL.png);
float:left;
}

.landingFooterItem {
font-size:11px;
font-weight:bold;
cursor:pointer;
border:none;		
text-decoration: none;
color: black;	
}


/**********************header******************/


.redLine {
width:100%;
height:5px;
background-color:#f11b19;
	
}

.headerContainer {
width:960px;
margin:auto;	
height: 125px;	
}
  
.headerContainer .logoContainer {
background-image:url(../images/logo.jpg);
width:201px;
height:109px;
float:left;	
}

.headerContainer .menuContainer {
width: 680px;
height: 20px;
float: right;
margin-top: 36px; 

}

.headerContainer .menuContainer .menuItem {
margin-left:20px;	
color:#666666;
font-size:15px;
cursor:pointer;
border:none;
text-decoration: none;	
}

.headerContainer .menuContainer .menuItem:hover {
margin-left:20px;	
color:#000;
font-size:15px;
cursor:pointer;
border:none;
text-decoration: none;	
}

.headerContainer .menuContainer .menuItemActive {
	
color:#FF0000 !important;

	
}

.headerContainer .headerSocial {
width: 55px;
height: 25px;
float: right;
margin-top: 70px;	
margin-right: -154px;	 
display: none; 
}

.headerContainer .social {
float: right;
margin-right: 10px;
margin-top: 4px;
cursor:pointer;	
}

.facebookPageButton:hover, .twitterPageButton:hover, .linkedinPageButton:hover {
opacity:0.8;	
}

.headerContainer .social .facebookPageButton {
background-image:url(../images/social.png);
width:29px;
height:28px;
background-position:0px 0px;
float:left;	
}

.headerContainer .social .twitterPageButton {
background-image:url(../images/social.png);
width:29px;
height:28px;
background-position:-33px 0px;
float:left;		
}

.headerContainer .social .linkedinPageButton {
background-image:url(../images/social.png);
width:29px;
height:28px;
background-position:-65px 0px;
float:left;		
}

.headerContainer .topHeaderLoginMenu {
font-size: 12px;
height: 10px;
float: right;
padding-bottom: 15px;
padding-left: 5px;	
}

.headerContainer .topHeaderLoginMenu .userNameWrapper {
color:#666666;	
margin-top: 10px;   
float:left;
}

.headerContainer .topHeaderLoginMenu .userMyAccount {
color: #f11b19;
float: right;
margin-right: 7px;
background-color: #eff0f0;
width: 118px;
height: 25px;
-moz-border-radius: 0px 0px 10px 10px;
-webkit-border-radius: 0px 0px 10px 10px;
-khtml-border-radius: 0px 0px 10px 10px;
border-radius: 0px 0px 10px 10px;
border: 1px solid #ccc;
margin-top: 0px;
padding-top: 10px;	
text-align: center;
}

/**************footer************/

.footerContainer {
width: 100%;
margin-top: 25px;
float:left;	
}

.footerContainerMainPage {
width: 100%;
margin-top: 10px;
float:left;	
}

.footerWrapper {
width: 960px;
margin: auto;
text-align: center;
background-image: url(../images/shadow.png);
height: 300px;
background-position: 0px 232px;
background-repeat: no-repeat;
}

.footerWrapperMainPage {
width: 960px;
margin: auto;
text-align: center;
background-image: url(../images/shadow.png);
height: 41px;
background-position: 0px -16px;
background-repeat: no-repeat;
padding-top: 10px;
}

.footerContainer .footerWrapper .footerItem {
font-size:11px;
font-weight:bold;
cursor:pointer;
border:none;	
text-decoration: none;
color: black;	
}

.footerContainerMainPage .footerWrapperMainPage .footerItem {
font-size:11px;
font-weight:bold;
cursor:pointer;
border:none;	
text-decoration: none;
color: black;	
}

/**************/

.shadow {
width:960px;
background-image:url(../images/shadow.png);
height:45px;
float:left;	
background-position: 0px -15px;	
}


/******************main**************/

.mainContainer {
width:960px;
margin:auto;	
	
	
}

.mainContainer .anasayfaBanner {
background-image:url(../images/anasayfaBanner.jpg);
width:960px;
height:381px;
float:left;	
	
	
}

.mainContainer .anasayfaBanner .bannerTitle1 {
font-size: 24px;
margin-bottom: 20px;
margin-top: 40px;	
}

.mainContainer .anasayfaBanner .bannerTitle2 {
font-size:15px;	
width: 440px;
}
.mainContainer .anasayfaBanner .randevuButton { 
cursor:pointer;
border:none;
outline:none;
display:block;
width:223px;
height:60px;
float: left;
margin-top: 50px;
background-image:url(../images/randevuButton.png);
background-position:0px 0px;
}

.mainContainer .anasayfaBanner .randevuButton:hover { 
cursor:pointer;
border:none;
outline:none;
display:block;
width:223px;
height:60px;
float: left;
margin-top: 50px;
background-image:url(../images/randevuButton.png);
background-position:0px 60px;

}

.mainContainer .stepsContainer {
width: 960px;
float: left;
	
	
}

.mainContainer .stepsContainer .stepsContainerImage {
border: 2px solid white;
margin-left: 15px;
margin-top: 14px;
	 
}

.mainContainer .stepsContainer span {
height: 205px;
width: 410px;
float: right;
padding: 20px;
margin-top: 2px;
margin-right: 34px;
overflow: hidden;	
line-height: 18px;	
}
.mainContainer .stepsContainer .stepsTitle {
font-size: 24px;
font-weight: bold;
color: #e30000;	
	
}

.mainContainer .stepsContainer .stepsLeft {
width: 240px;
height: 260px;
float: left;
margin-top: 20px;
position: relative;
z-index: 20;
}

.mainContainer .stepsContainer .stepsLeft .randevuButtonActive {
background-image:url(../images/step1Button.png);
background-position:0px 0px;
width:229px;
height:80px;
display:block;
margin-bottom:0px;
cursor:pointer;
border:none;
}

.mainContainer .stepsContainer .stepsLeft .randevuButton {
background-image:url(../images/step1Button.png);
background-position:-1px -78px;
width:229px;
height:80px;
display:block;
margin-bottom:0px;
cursor:pointer;
border:none;
}

.mainContainer .stepsContainer .stepsLeft .odemeButton {
background-image:url(../images/step2Button.png);
background-position:-1px -78px;
width:229px;
height:80px;
display:block;
margin-bottom:0px;
cursor:pointer;
border:none;
}

.mainContainer .stepsContainer .stepsLeft .odemeButtonActive {
background-image:url(../images/step2Button.png);
background-position:0px 0px;
width:229px;
height:80px;
display:block;
margin-bottom:0px;
cursor:pointer;
border:none;
}

.mainContainer .stepsContainer .stepsLeft .manikurButton {
background-image:url(../images/step3Button.png);
background-position:-1px -78px;
width:229px;
height:80px;
display:block;
margin-bottom:0px;
cursor:pointer;
border:none;	
}

.mainContainer .stepsContainer .stepsLeft .manikurButtonActive {
background-image:url(../images/step3Button.png);
background-position:0px 0px;
width:229px;
height:80px;
display:block;
margin-bottom:0px;
cursor:pointer;
border:none;	
}

.mainContainer .stepsContainer .stepsRight {
width: 720px;
height: 245px;
float: right;
margin-top: 35px;
position: relative;
z-index: 10;
}

.mainContainer .stepsContainer .stepsRight .stepsContent {
font-size: 15px;
padding-left: 10px;
background-color: #f2f1f1;
border-bottom: 3px solid red;
width: 712px;
margin-left: 0px;
height: 219px;
margin-top: -6px;
}

.footerLeftSSL {
width: 283px;
height: 44px;
float:left;
background-image: url(../images/footerLeftSSL.png);

}
.footerCenter {
width: 405px;
float:left;
margin-top:10px;

}
.altBizeUlasin {
height:200px;
width:960px;
float:left;
margin-bottom: 15px;	
}

.altBizeUlasin .altBizeUlasinWrapper {
width: 483px;
float: left;
height: 200px;
}

.altBizeUlasin .altBizeUlasinWrapper .altBizeUlasinButton {
width:229px;
height:60px;
background-image:url(../images/altbizeulasinButton.png);
background-position:0px 0px;	
display: block;	
cursor:pointer;
border: none;
margin-top: 17px;
float: right;
margin-right: 72px;
}

.altBizeUlasin .altBizeUlasinWrapper .altBizeUlasinButton:hover {
width:229px;
height:60px;
background-image:url(../images/altbizeulasinButton.png); 
background-position:0px 62px;	
display: block;	
cursor:pointer;
border: none;
margin-top: 17px;
float: right;
margin-right: 72px;
}

.altBizeUlasin .altBizeUlasinWrapper .altBizeUlasinTitle {
font-size: 20px;
text-align: left;
float: left;
margin-left: 29px;
width: 294px;
height: 21px;
	
}

.altBizeUlasin .altBizeUlasinWrapper .altBizeUlasinImage {
float: left;
margin-left: 20px;	
}

.altBizeUlasin .altBizeUlasinWrapper .altBizeUlasinText {
text-align: left;
font-size: 12px;
line-height: 20px;
margin-top: 6px;
float: right;
margin-right: 16px;
width: 279px; 
	 
}

.altBizeUlasin .altRandevuWrapper {
width: 475px;
float: left;
height: 200px;
}

.altBizeUlasin .altRandevuWrapper .altRandevuButton {
width: 223px;
height: 60px;
background-image: url(../images/randevuButton.png);
background-position: 0px 0px;
display: block;
cursor: pointer;
border: none;
margin-top: 37px;
float: right;
margin-right: 93px;
}

.altBizeUlasin .altRandevuWrapper .altRandevuButton:hover {
width: 223px;
height: 60px;
background-image: url(../images/randevuButton.png);
background-position: 0px 60px;
display: block;
cursor: pointer;
border: none;
margin-top: 37px;
float: right;
margin-right: 93px;
}

.altBizeUlasin .altRandevuWrapper .altRandevuTitle {
font-size: 20px;
text-align: left;
float: left;
margin-left: 25px;
width: 290px;
height: 21px;
	
}

.altBizeUlasin .altRandevuWrapper .altRandevuImage {
float: left;
	
}

.altBizeUlasin .altRandevuWrapper .altRandevuText {
text-align: left;
font-size: 12px;
line-height: 20px;
margin-top: 5px;
float: right;
margin-right: 14px;
width: 295px;
height: 41px;
}

.altFooterSep {
background-image:url(../images/altFooterSep.png);
width:1px;
height:168px;
float:left;	
	
}


/****************servislerimiz****************************/

.servislerimizBanner {	
width:960px;
height:258px;
background-image:url(../images/servislerimizBanner.jpg);
float:left;	
	
}
.servisbigTitle {
font-size: 24px;
font-weight: bold;
color: rgb(70, 70, 70);
margin-top: 200px;
margin-bottom: 25px;	
	
}

.servislerimizTitle {
color: #E30000;
font-size: 30px;
margin-top: 75px;
margin-bottom: 25px;
position: absolute;
}	

.servislerimizBanner .readyButton { 
cursor:pointer;
border:none;
outline:none;
display:block;
width:223px;
height:60px;
float: left;
background-image:url(../images/readyButton.png);
background-position:0px 0px;
}

.servislerimizBanner .readyButton:hover { 
cursor:pointer;
border:none;
outline:none;
display:block;
width:223px;
height:60px;
float: left;
background-image:url(../images/readyButton.png);
background-position:0px 60px;

}

.seperatorServis {
background-image:url(../images/seperator.png);
width:960px;
height:2px;
float: left;	
	
	
}

.servisler {
width: 960px;
float: left;
	
}

.servisContainer {
width: 960px;
height: 104px;
float: left;	
	
}

.servisContainer .servisImage {
float: left;
}

.servisContainer .servisTitle {
margin-left: 30px;
float: left;
width: 560px;
margin-top: 10px;
color:#e30000;
font-size:18px;
font-weight:bold;
}

.servisContainer .servisText {
margin-left: 30px;
float: left;
width: 560px;
margin-top: 3px;
height: 45px;
color:#666666;
font-size:14px;
line-height:18px;
}
.servisContainer .servisText a{
text-decoration:none;
}
.servisContainer .servisPrice {
background-image: url(../images/servisPriceDot.png);
width: 59px;
height: 52px;
float: left;
margin-top: -19px;
color: #fff;
font-size: 24px;
font-weight: bold;
padding-left: 20px;
padding-top: 27px;
}  

.servisContainer .servisSatinAl {
float: left;
background-image: url(../images/beyazButtonBG.png);
width: 171px;
height: 26px;
font-size: 15px;
font-weight: bold;
text-align: center;
padding-top: 15px;
cursor:pointer;
border:none;
margin-left: 37px;
text-decoration: none;
color: rgb(102,102,102);
display:block;
}

.servisContainer .servisSatinAl:hover {
float: left;
background-image: url(../images/beyazButtonBGHover.png);
width: 171px;
height: 26px;
font-size: 15px;
font-weight: bold;
text-align: center;
padding-top: 15px;
cursor:pointer;
border:none;
margin-left: 37px;
text-decoration: none;
color: rgb(102,102,102);
display:block;
}
.servisContainer .servisSatinAl a{
color:#666666;
text-decoration:none;
}	
/**************randevu***************/

.randevuContainer {
width:960px;
float:left;	
	
}

.randevuHeaderTexts {

margin-top: 67px;
margin-bottom: 25px;
position: absolute;
}

.randevuHeaderTexts p {
margin-bottom: 20px;
}

.randevuHeaderBox {
float: left;	
margin-top: 20px;	
}

.randevuContainer .shadow {
width:960px;
background-image:url(../images/shadow.png);
height:57px;
	
}

.randevuContainer .randevuTop {
background-image: url(../images/randevuSlideBg.png);
width: 760px;
height: 77px;
display: block;
float: left;
margin-left: 100px;
}	

.randevuContainer .randevuTop .randevuTopRandevu {
background-image: url(../images/randevuSlideButton1.png);
width: 110px;
height: 49px;
background-repeat: no-repeat;
float: left;
padding: 32px 0px 0px 80px;
font-weight:bold;
font-size:16px;
margin-left: -20px;
text-decoration:none; 
color: rgb(227, 0, 0);
}

.randevuContainer .randevuTop .randevuTopRandevuPassive {
background-image:url(../images/randevuSlideButton1Hover.png);
width: 110px;
height: 49px;
background-repeat: no-repeat;
float: left;
padding: 32px 0px 0px 80px;
color:#757575;
font-weight:bold;
font-size:16px;
margin-left: -20px;
text-decoration:none; 
}

.randevuContainer .randevuTop .randevuTopOdeme {
background-image:url(../images/randevuSlideButton2.png);	
width: 110px;
height: 49px;
background-repeat: no-repeat;
float: left;
padding: 32px 0px 0px 80px;	
font-weight:bold;
font-size:16px;
margin-left: 100px;
text-decoration:none; 
}


.randevuContainer .randevuTop .randevuTopOdemePassive {
background-image:url(../images/randevuSlideButton2Hover.png);	
width: 110px;
height: 49px;
background-repeat: no-repeat;
float: left;
padding: 32px 0px 0px 80px;	
color:#757575;
font-weight:bold;
font-size:16px;
margin-left: 100px;
text-decoration:none; 
}

.randevuContainer .randevuTop .randevuTopOnay {
background-image:url(../images/randevuSlideButton3.png);	
width: 135px;
height: 49px;
background-repeat: no-repeat;
float: left;
padding: 32px 0px 0px 80px;
font-weight:bold;
font-size:16px;	
margin-left: 74px;
text-decoration:none; 
}	

.randevuContainer .randevuTop .randevuTopOnayPassive {
background-image:url(../images/randevuSlideButton3Hover.png);	
width: 135px;
height: 49px;
background-repeat: no-repeat;
float: left;
padding: 32px 0px 0px 80px;	
color:#757575;	
font-weight:bold;
font-size:16px;
margin-left: 74px;
text-decoration:none; 
}	

.randevuContainer .locationSelectWrapper {
width: 700px;
height: 100px;
float: left;
margin-left: 168px;	
	
}

.randevuContainer .locationSelectWrapper .selectBoxes {
float: left;
margin-right: 45px;	
	
}

.randevuContainer .locationSelectWrapper .selectBoxes span {
	
	
}

.randevuContainer .locationSelectWrapper .selectBoxes select {
width: 183px;
height: 32px;
border-radius: 8px;
background-color: #ededed;
border: 1px solid #c6c6c6;
color: rgb(80, 80, 80);
padding-top: 5px;
padding-bottom: 5px;
padding-left: 10px;
padding-right: 10px;
font-size: 11px;
margin-top: 10px;
	
}

.randevuContainer .hours {
width: 740px;
margin-bottom:30px;
display: block;
float: left;
margin-left: 130px;
}

.randevuContainer .hours .hourBox{
width:76px;
height:60px;
float:left;

background-color:#f1f1f1;
border: 1px solid rgb(226, 226, 226);	
}

.randevuContainer .hours .hourBoxPassive{
width: 76px;
height: 60px;
float: left;
border: 1px solid #E2E2E2;
background-color: #706F6F;
color: #3C3C3B;
}

.randevuContainer .hours .hourBoxManikur {
width:76px;
height:60px;
float:left;
border: 1px solid rgb(226, 226, 226);
background-color:rgb(227, 0, 0);
color:white;	
}

.randevuContainer .hours .hourBoxMakyaj {
width:76px;
height:60px;
float:left;
border: 1px solid rgb(226, 226, 226);
background-color:rgb(227, 0, 0);
color:white;	
}

.randevuAlButton {
width: 76px;
height: 14px;
font-size: 12px;
text-decoration: none;
color: #FFF;
background-color: rgb(227, 0, 0);
float: left;
text-align: center;
padding-top: 5px;
border-top: 1px solid #E2E2E2;
}

.randevuAlButtonDolu {
width: 76px;
height: 14px;
background-color: #3A3333;
font-size: 12px;
text-decoration: none;
color: rgb(0, 0, 0);
float: left;
text-align: center;
padding-top: 5px;	
border-top: 1px solid #838383;	
}

.randevuAlButtonMakyaj {
width: 76px;
height: 14px;
background-color: #33439d;
font-size: 12px;
text-decoration: none;
color: white;
float: left;
text-align: center;
padding-top: 5px;	
border-top: 1px solid rgb(226, 226, 226);	
}

.randevuAlButtonManikur {
width: 76px;
height: 14px;
background-color: #ff0000;
font-size: 12px;
text-decoration: none;
color: white;
float: left;
text-align: center;
padding-top: 5px;	
border-top: 1px solid rgb(226, 226, 226);	
}

.hourBoxHour1 {
width: 76px;
height: 15px;
float: left;
font-size: 12px;
text-align: center;
padding-top: 5px;
}

.hourBoxHour2 {
width: 76px;
height: 15px;
float: left;
font-size: 12px;
text-align: center;
padding-top: 5px;
}

.randevuContinue {
background-image: url(../images/randevuContinue.png);
width: 229px;
height: 65px;
background-position: 0px 0px;
float: right;	
cursor:pointer;	
}

.randevuContinue:hover {
background-image: url(../images/randevuContinue.png);
width: 229px;
height: 65px;
background-position: 0px 63px;
float: right;	
cursor:pointer;		
}

#popupRandevu {
width: 301px;
height: 249px;
background-image: url(../images/randevuPopupBG2.png);
display: block;
padding-top: 35px;
padding-left: 42px;
	
}

.popupRandevuTitle {
font-size: 15px;
font-weight: bold;
float: left;
margin-bottom: 20px;	
	
}

.hizmetTur {
width: 259px;
float: left;
text-align: center;
height: 19px;
font-size: 13px;
font-weight: bold;
cursor: pointer;
background-color: #7E7E7E;
padding-top: 7px;
margin-bottom: 6px;
color: #FFF;
border: 1px solid #5C5C5C;
}

.hizmetTur:hover {
width: 259px;
float: left;
text-align: center;
height: 19px;
font-size: 13px;
font-weight: bold;
cursor: pointer;
background-color: rgb(227, 0, 0);
padding-top: 7px;
margin-bottom: 6px;
color: white;
border: 1px solid #5C5C5C;
}

.popupRandevuManikurButton {
background-image:url(../images/popupRandevuManikurButton.png);
width:252px;
height:42px;
display:block;
cursor:pointer;
border:none;	
	margin-top: 30px;
}

.popupRandevuMakyajButton {
background-image:url(../images/popupRandevuMakyajButton.png);
width:252px;
height:42px;
display:block;
cursor:pointer;
border:none;		
	
}
#popup_container{background:#fff;padding:9px !important;color:#717171;border:solid 1px #fff;font-family:calibri;font-size:12px;}
#popup_container h1{margin:0 0 5px;padding:0 0 5px;border-bottom:solid 1px #dfdfdf;}
#popup_container .popup_message{margin:5px 0 10px;}
#popup_container #popup_panel{overflow:hidden;}
#popup_container #popup_panel .button{color: #FFF;
font-weight: bold;
display: block;
height: 26px;
line-height: 25px;
min-width: 80px;
text-align: center;
vertical-align: middle;
float: right;
margin: 0 10px 0 0;
border: none;
margin-bottom: 10px;
margin-top: 22px;}
#popup_ok{background:#DB2A2A;}
#popup_cancel{background:#DB2A2A;}
#popup_container #popup_panel .button:active,
.ie8 #popup_container #popup_panel .button:focus{background:#FFD2D2;color:#333}
#popup_container.jAlert{border:solid 1px #ccc;color:#333;-moz-border-radius:10px;-webkit-border-radius:10px;-khtml-border-radius:10px;-moz-box-shadow:4px 4px 15px #000;-webkit-box-shadow:4px 4px 15px #FFD2D2;box-shadow:0px 2px 32px 5px #FFD2D2;}
#popup_container.jAlert h1{border-bottom:solid 1px #DB2A2A;color:#333;font-weight:bold;padding:0 0 5px 0px;}
#popup_container.jSuccess{border:solid 1px #B3DDA6;color:#3d3d3d;}
#popup_container.jSuccess h1{border-bottom:solid 1px #fcd3c9;color:#333;padding:0 0 5px 14px;}
#popup_container.jConfirm{border:solid 1px #ccc;color:#333;-moz-border-radius:10px;-webkit-border-radius:10px;-khtml-border-radius:10px;-moz-box-shadow:4px 4px 15px #000;-webkit-box-shadow:4px 4px 15px #FFD2D2;box-shadow:0px 2px 32px 5px #FFD2D2;}
#popup_container.jConfirm h1{border-bottom:solid 1px #fcd3c9;color:#333;font-weight:bold;padding:0 0 5px 0px;}
#popup_container .jPrompt{border:solid 1px #7CB7DC;color:#0072BC;max-width:300px;}
#popup_container .jPrompt h1{border-bottom:solid 1px #7CB7DC;color:#0072BC;padding:0 0 5px 14px;}
.popup_overlay{position:absolute;top:0;left:0;background:url(../images/overlay.png)}
/***********uyelik****************/

.uyelikBanner {
width:960px;
height:258px;
background-image:url(../images/uyelikBanner.jpg);
float:left;	
	
}

.uyelikBanner .bannerTitle1 {
font-size: 24px;
margin-bottom: 20px;
margin-top: 40px;	
}

.uyelikContainer{ height: 943px; float: left; }
.uyelikContainer .uyelikShadow {
width:960px;
background-image:url(../images/shadow.png);
height:57px;
float: left;	
background-position: 0px -16px;
}	

.uyelikContainer .uyelikLoginContainer {
width:335px;
height:300px;
float:left;
display:block;		
margin-left:65px;	
}

.uyelikContainer .uyelikLoginContainer .uyelikLoginTitle {
font-size:15px;	
font-weight:bold;
	
	
}

.uyelikContainer .uyelikLoginContainer .uyelikLoginText {
font-size: 12px;
margin-top: 10px;
text-align: justify;
width: 269px;
line-height: 15px;
float: left;
}

.loginFormInput {
width: 246px;
height: 20px;
border-radius: 8px;
background-color: #ededed;
border: 1px solid #c6c6c6;
color: #333;
padding-top: 5px;
padding-bottom: 5px;
padding-left: 10px;
padding-right: 10px;
font-size: 14px;
margin-left: 0px;
margin-top: 10px;
margin-bottom: 5px;


}

.uyelikContainer .uyelikLoginContainer .loginFormCheckbox {
margin-top: 10px;	
	float:left;
	width:110px;

	
}

.uyelikContainer .uyelikLoginContainer .forgotPassword {
color:#b0b0b0;
font-size:11px;	
margin-top: 15px;	
float: right;
margin-right: 67px;
cursor: pointer;
display: block;	
}

.uyelikContainer .uyelikLoginContainer .remember {
color:#b0b0b0;
font-size:11px;	
margin-top: 10px;	
	
}

.uyelikContainer .uyelikLoginContainer .uyelikLoginButton {
background-image:url(../images/loginButton.png);
width:166px;
height:48px;
display:block;
cursor:pointer;	
background-position:0px 0px;	
margin-top: 20px;	
border: none;
background-color: transparent;
float:left;
}

.uyelikContainer .uyelikLoginContainer .uyelikLoginButton:hover {
background-image:url(../images/loginButton.png);
width:166px;
height:48px;
display:block;
cursor:pointer;	
background-position:0px 47px;	
border: none;
background-color: transparent;	
	
}

.uyelikContainer .uyelikSignupContainer {
width: 452px;
height: 520px;
float: right;
display: block;
margin-right: 0;	
}

.uyelikContainer .uyelikSignupContainer .uyelikSignupTitle {
font-size: 15px;
font-weight: bold;	
}

.uyelikContainer .uyelikSignupContainer .uyelikSignupText {
font-size: 12px;
margin-top: 10px;
text-align: justify;
width: 269px;
line-height: 15px;
height: 65px;	
}

.uyelikContainer .uyelikSignupContainer .SignupFormInput {
width: 246px;
height: 20px;
border-radius: 8px;
background-color: #ededed;
border: 1px solid #c6c6c6;
color: #333;
padding-top: 5px;
padding-bottom: 5px;
padding-left: 10px;
padding-right: 10px;
font-size: 14px;
margin-right: 64px;
margin-top: 10px;	
}

.uyelikContainer .uyelikSignupContainer .SignupFormSelect {
width: 268px;
height: 32px;
border-radius: 8px;
background-color: #ededed;
border: 1px solid #c6c6c6;
color: rgb(66, 66, 66);
padding-top: 5px;
padding-bottom: 5px;
padding-left: 10px;
padding-right: 10px;
font-size: 14px;
margin-right: 64px;
margin-top: 10px;		
}

.uyelikContainer .uyelikSignupContainer .sirketNedenYok {
color: #b0b0b0;
font-size: 11px;
margin-top: 15px;
float: left;
margin-right: 67px;
cursor: pointer;
display: block;	
}

.uyelikContainer .uyelikSignupContainer .kullanimSartlari {
color: #b0b0b0;
font-size: 11px;
margin-top: 15px;
float: left;
margin-right: 67px;
cursor: pointer;
display: block;	
}
.uyelikContainer .uyelikSignupContainer .kullanimSartlari a 
{
    color:#f00;
    text-decoration:none;
}
.uyelikContainer .uyelikSignupContainer .SignupFormCheckbox {
float:left;	
font-size: 11px;
color: #b0b0b0
}

.uyelikContainer .uyelikSignupContainer .checkDiv {
float:left;
	
margin-top: 5px;	
font-size: 11px;
color: #b0b0b0
}

.uyelikContainer .uyelikSignupContainer .checkDiv .uyeliksozlesmesi {
color: #b0b0b0;
font-size: 11px;
margin-top: 6px;
margin-right: 67px;
cursor: pointer;
display: block;
width: 240px;
}

.uyelikContainer .uyelikSignupContainer .checkDiv .subscribe {
color: #b0b0b0;
font-size: 11px;
margin-top: 6px;

margin-right: 67px;
cursor: pointer;
display: block;
width: 240px;
}

.uyelikContainer .uyelikSignupContainer .uyelikSignupButton {
background-image: url(../images/signupButton.png);
width: 166px;
height: 48px;
display: block;
cursor: pointer;
background-position: 0px 0px;
margin-top: 10px;
float: left;
border: none;
background-color: transparent;
}

.uyelikContainer .uyelikSignupContainer .uyelikSignupButton:hover {
background-image: url(../images/signupButton.png);
width: 166px;
height: 48px;
display: block;
cursor: pointer;
background-position: 0px 47px;
margin-top: 10px;
float: left;
border: none;
background-color: transparent;
}
.loginValidate {
/*position: absolute;
margin-left: 270px;*/
margin-top: -20px;
cursor: pointer;	
}



/**********************Hesabım**************************/
.content{float:left;width:980px;margin-top:0px;background:#fff}
.sayfaSol{float:left;width:200px;margin-top:10px;font-size:14px;margin-left:10px;min-height:400px;
          }
.sayfaSol .title{font-size:15px;color:#f11b19;padding:1px 0 5px 0;border-bottom:1px dotted #CCC;margin-bottom:15px;text-align:left;}
.sayfaSol .sayfaMenu{float:left;width:200px;}
.sayfaSol .sayfaMenu ul{float:left;width:200px;font-size:12px;}
.sayfaSol .sayfaMenu li a{display:block;padding:8px 0 8px 15px;color:#333;text-decoration: none;font-size: 15px;}
.sayfaSol .sayfaMenu li a:hover{color:#333;background:#dfffef;}
.sayfaSol .sayfaMenu li a.active{background-color:#f11b19;color:#fff;font-weight:bold;}
.sayfaSag{float:left;width:725px;margin-top:10px;margin-left:15px;border-left:1px dotted #ccc;padding-left:15px;}
.sayfaSag .title{font-size:15px;font-weight:bold;color:#58036a;padding:1px 0 5px 0;border-bottom:1px dotted #CCC;margin-bottom:15px;text-align:left;}
.sayfaSag .content{font-size:14px;margin-bottom:20px;}
.sayfaSag .content p{margin-bottom:10px;}
table.form-table{font-size:12px;}
table.form-table tr td{padding:0px 10px 3px 0;}
table.form-table tr {font-size:15px;height:15px;line-height: 3px; }
.usermain{float:left;width:970px;margin:0 0 0 15px;color:#000;font-size:14px;}
.user-menu{margin:5px 0 0 0;}
.user-menu ul{list-style-image:none;list-style-position:inside;margin:0;}
.user-menu li{list-style-type:disc;border-bottom:1px dotted #ccc;color:#887467;font-size:14px;margin:0 0 5px 0px;padding:0 0 5px 16px;}
.user-menu li a{text-decoration:none;color:#887467;}
.user-menu li a:hover{color:#5A4A42;text-decoration:underline;}
.usermain-content{margin:5px 0 0 0}
.usermain-middle{float:left;width:750px;border-left:1px dotted #ccc;margin:10px 0px 10px 0px;min-height:400px;font-size:14px;}
.usermain-line{width:365px;height:60px;}
.usermain-left{width:110px;padding-top:14px;font-family:calibri;font-style:italic;font-weight:normal;text-align:left;}
.usermain-right{width:215px;padding-top:8px;}
.usermain-kullaniciBilgi{}
.userTextbox{border:1px solid #ccc;width:190px;height:25px;}
.usermain-middle .title{font-size:15px;color:#FD8C72;padding:1px 0 8px 0;border-bottom:1px dotted #CCC;margin-bottom:15px;text-align:left;margin-left:10px;}
.usermain-middle .header{width:731px;overflow:hidden;border-top:solid 1px lightGrey;border-bottom:solid 1px lightGrey;height:40px;line-height:40px;margin:0 0 20px;vertical-align:middle;}
.usermain-middle .header .status{float:left;}
.usermain-middle .header .status{color:#363636;}
.usermain-middle .header .status .inCargo{font-weight:bold;color:#39b54a;}
.usermain-middle .header .status a{color:#808080;font-size:11px;padding:0 10px 0 5px;}
.usermain-middle .header .status a:hover{color:#e7521d;}
.usermain-middle .header a.back{display:block;float:right;color:#363636;}
.usermain-middle .header a.back:hover{color:#e7521d;}
.usermain-middle .orderDetailRw1{width:700px;float:left;min-height:200px;}
.usermain-middle .orderDetailRw1 .orderDetailCl1{width:250px;float:left;}
.usermain-middle .orderDetailRw1 .orderDetailCl1 ul{list-style-type:none;}
.usermain-middle .orderDetailRw1 .orderDetailCl1 ul li{margin:0 0 15px;color:#7D7D7D;}
.usermain-middle .orderDetailRw1 .orderDetailCl1 ul li b{display:block;color:#333;margin-bottom:2px;}
.usermain-middle .orderDetailRw1 .orderDetailCl1 ul li .refNo{font-weight:bold;font-size:23px;color:#c63d3d;}
.usermain-middle .orderDetailRw1 .orderDetailCl2{float:left;width:190px;margin-top:28px}
.usermain-middle .orderDetailRw1 .orderDetailCl3{width:200px;float:left;line-height:17px;padding-top:10px;padding-left:0px;margin-right:60px;text-align:center}
.field-validation-error{color:#ff0000;}
.field-validation-valid{display:none;}
.input-validation-error{border:1px solid #ff0000;background-color:#ffeeee;}
.validation-summary-errors{font-weight:bold;color:#ff0000;}
.validation-summary-valid{display:none;}
.adresList ul{list-style-type:none;}
.adresList ul li{float:left;width:100%;}
.adresList ul li .text{float:left;width:80px;margin-top:10px;font-size:12px;color:#707070}
.adresList ul li .val{float:left;width:580px;height:40px}
.adresTip{margin:0 0 26px 100px;float:left;}
.adresListesi{float:left;width:700px;margin:5px 0 0 0px}
.adresListesi .adresTitle{float:left;width:660px;margin:0 0 5px 0;color:#FD8C72;border-bottom:1px dotted #ccc;}
.adresListesi .adresContent{float:left;width:660px;border-bottom:1px dotted #ccc;padding:5px 0;}
.adresListesi .adresContent .adresTanim{width:590px;margin-bottom:4px;color:#777;font-weight:bold;float:left;font-size:14px;}
.adresListesi .adresContent .adres{width:590px;margin-bottom:4px;color:#777;font-size:14px;float:left;}
.adresListesi .adresContent .guncelle{background:url("../images/update.jpg") no-repeat;width:30px;height:30px;float:right;margin-right:3px;border:none;cursor:pointer;text-indent:-99999px;}
.adresListesi .adresContent .sil{background:url("../images/delete.jpg") no-repeat;width:30px;height:30px;float:right;border:none;cursor:pointer;text-indent:-99999px;}
.usermain-middle .orderDetailRw2{width:700px;float:left;min-height:200px;}
.usermain-middle .orderDetailRw2 .titleR2{width:100%;border-bottom:1px solid #ccc;margin-bottom:10px;padding-bottom:10px;float:left;color:#333;font-weight:bold;}
.usermain-middle .orderDetailRw2 .tAdres{float:left;width:200px;margin-right:40px;margin-left:10px;line-height:18px;}
.usermain-middle .orderDetailRw2 .fAdres{float:left;width:200px;line-height:18px;}
.adres-content-col .col1{float:left;width:650px;}
.adres-content-col .col1 .items{width:100%;float:left;padding:20px;}
.adres-content-col .col1 .items .titleTable{width:100%;margin-bottom:10px;margin-left:15px}
.adres-content-col .col1 .items .item{width:100%;border:1px solid #ccc;height:80px;margin-bottom:10px}
.adres-content-col .col1 .items .item .image{width:95px;float:left;height:80px}
.adres-content-col .col1 .items .item .model{float:left;width:140px;margin-top:32px}
.adres-content-col .col1 .items .item .name{float:left;width:231px;margin-top:32px}
.adres-content-col .col1 .items .item .name span{float:left;margin-top:3px;color:#4D9186;font-size:11px}
.adres-content-col .col1 .items .item .count{float:left;width:59px;margin-top:22px}
.adres-content-col .col1 .items .item .price{float:left;width:100px;margin-top:32px}
.adres-content-col .col1 .items .item .totalPrice{float:left;width:100px;margin-top:32px}
.adres-content-col .col1 .items .item .delete{float:right;width:20px;margin-top:0px}
.adres-content-col .col1 .items .item .not{float:right;width:22px;margin-top:45px}
th{font-weight:bold;}
table.orders{width:700px;font-size: 14px;}
table.orders td{font-weight:normal;}
table.orders td a{color:#e7521d;}
table.orders .col1{width:110px;}
table.orders .col2,
table.orders .col3{width:250px;}
.generalTable{width:100%;}
.generalTable td,
.generalTable th{padding:8px 0;text-align:left;color:#363636;}
.generalTable td{border-top:dotted 1px #ccc;}
.notification{position:relative;margin:0 0 15px 0;padding:0;border:1px solid;background-position:10px 11px !important;background-repeat:no-repeat !important;font-size:13px;width:99.8%;}
.attention{background:#fffbcc url('../images/icons/exclamation.png') 10px 11px no-repeat;border-color:#e6db55;color:#666452;}
.information{background:#dbe3ff url('../images/icons/information.png');border-color:#a2b4ee;color:#585b66;}
.success{background:#d5ffce url('../images/icons/tick_circle.png');border-color:#9adf8f;color:#556652;}
.error{background:#ffcece url('../images/icons/cross_circle.png');border-color:#df8f8f;color:#665252;}
.notification div{display:block;font-style:normal;padding:10px 10px 10px 36px;line-height:1.5em;}
.notification .close{color:#990000;font-size:9px;position:absolute;right:5px;top:5px;}
.input-notification{background-position:left 2px;background-repeat:no-repeat;padding:2px 0 2px 22px;background-color:transparent;margin:0 0 0 5px;}
#login-wrapper #login-content .notification{border:0;background-color:#141414;color:#fff !important;}
.hideText{display:none;}
.showText{display:block;}
.ui-radio-state-disabled,
			.ui-radio-state-checked-disabled,
			.ui-radio-state-disabled-hover,
			.ui-radio-state-checked-disabled-hover {
				color: #999;
			}
			span.ui-checkbox,
			span.ui-radio {
				display: block;
				float: left;
				width: 16px;
				height: 16px;
				background: url(../images/icon_checkbox2.png) 0 -41px no-repeat;
			}
			span.ui-checkbox { background-position: 0px -41px; }
            span.ui-radio { background-position: 0px -162px; }
			span.ui-helper-hidden {
				display: none;
			}
			
			label {
				padding: 6px;
float: left;
font-size: 14px;
color: #B0B0B0;
			}
			span.ui-radio-state-hover,
			span.ui-checkbox-state-hover {
				
			}
			
			span.ui-checkbox-state-checked {
				background-position: 0 -1px;
			}
			
			span.ui-checkbox-state-checked-hover {
				background-position: 0 -75px;
			}
			span.ui-radio-state-checked-disabled-hover,
			span.ui-radio-state-checked-disabled,
			span.ui-radio-state-checked {
				background-position: 0 -201px;
			}
			
			
			span.ui-radio-state-checked-hover {
				background-position: 0 -201px;
			}
			.ui-helper-hidden-accessible {
				position: absolute;
				left: -999em;
			}

.guncelleSubmit input {
background-image: url(../images/gonderBtn.png);
width: 127px;
height: 34px;
background-position: 0px 0px;
float: right;
cursor: pointer;	
border:none;
background-color:transparent;	
}

/********odeme*********/

.odemeContainer {
width:960px;
float:left;	

	
}

.odemeContainer .shadow {
width:960px;
background-image:url(../images/shadow.png);
height:57px;
	
}

.odemeContainer .randevuTop {
background-image: url(../images/randevuSlideBg.png);
width: 760px;
height: 77px;
display: block;
float: left;
margin-left: 100px;
margin-bottom: 20px;	
}	

.odemeContainer .randevuTop .randevuTopRandevu {
background-image: url(../images/randevuSlideButton1.png);
width: 110px;
height: 49px;
background-repeat: no-repeat;
float: left;
padding: 30px 0px 0px 80px;
font-weight:bold;
font-size:18px;
margin-left: -20px;
color: rgb(227, 0, 0);
text-decoration:none;
}

.odemeContainer .randevuTop .randevuTopRandevuPassive {
background-image:url(../images/randevuSlideButton1Hover.png);
width: 110px;
height: 49px;
background-repeat: no-repeat;
float: left;
padding: 30px 0px 0px 80px;
color:#757575;
font-weight:bold;
font-size:18px;
margin-left: -20px;
text-decoration:none;
}

.odemeContainer .randevuTop .randevuTopOdeme {
background-image:url(../images/randevuSlideButton2.png);	
width: 110px;
height: 49px;
background-repeat: no-repeat;
float: left;
padding: 30px 0px 0px 80px;	
font-weight:bold;
font-size:18px;
margin-left:100px;
text-decoration:none;
color: rgb(227, 0, 0);
}


.odemeContainer .randevuTop .randevuTopOdemePassive {
background-image:url(../images/randevuSlideButton2Hover.png);	
width: 110px;
height: 49px;
background-repeat: no-repeat;
float: left;
padding: 30px 0px 0px 80px;	
color:#757575;
font-weight:bold;
font-size:18px;
margin-left:100px;
text-decoration:none;
}

.odemeContainer .randevuTop .randevuTopOnay {
background-image:url(../images/randevuSlideButton3.png);	
width: 135px;
height: 49px;
background-repeat: no-repeat;
float: left;
padding: 30px 0px 0px 80px;
font-weight:bold;
font-size:18px;	
margin-left: 74px;
text-decoration:none;
}	

.odemeContainer .randevuTop .randevuTopOnayPassive {
background-image:url(../images/randevuSlideButton3Hover.png);	
width: 135px;
height: 49px;
background-repeat: no-repeat;
float: left;
padding: 30px 0px 0px 80px;	
color:#757575;	
font-weight:bold;
font-size:18px;
margin-left: 74px;
text-decoration:none;
}	

.odemeContainer .odemeBasket {
	
	
}

.basketIconClose {
background-image:url(../images/close.jpg);
width:17px;
height:16px;
display:block;
cursor:pointer;	
float: left;	
}
.odemeContainer .odemeBasket .items {
float:left;
width:960px;	
font-size: 14px;	
}

.odemeContainer .odemeBasket .items .title {
width: 956px;
background-image: url(../images/odemeBasketBar.png);
height: 24px;
padding-top: 7px;
}

.odemeContainer .odemeBasket .items .item {
width: 954px;
border: 1px solid #efefef;
height: 55px;
padding-top: 34px;	
	
}

.sepetToplamTutar {
float: right;
margin-right: 33px;
margin-top: 20px;
	
}

.sepetToplamTutar .value {
float:left;	
font-weight: bold;	
}

.sepetToplamTutar .text {
float:left;	
	
}

.odemeContainer .odemeBasket .items .item .basketCheck {
width:52px;	
float:left;	
}

.odemeContainer .odemeBasket .items .item .basketurun {
width:170px;	
float:left;	
}

.odemeContainer .odemeBasket .items .item .basketGun {
width:175px;	
float:left;	
}

.odemeContainer .odemeBasket .items .item .basketSaat {
width:170px;	
float:left;	
}

.odemeContainer .odemeBasket .items .item .basketFirma {
width:145px;	
float:left;	
}

.odemeContainer .odemeBasket .items .item .basketOfis {
width:150px;	
float:left;	
}

.odemeContainer .odemeBasket .items .item .basketPrice {
width:70px;	
float:left;	
font-weight:bold;
}

.odemeContainer .cardContainer {
width: 664px;

float: left;
display: block;
margin-left: 130px;
margin-top: 30px;
background-image:url(../images/card.png);
background-repeat:no-repeat;

}

.kartForm {
*margin-top:73px;	
*margin-left:48px;	
}

.ieTdOdeme {
*margin-top:0px;  
	
	}

.cardContainer .mastercard {
position: absolute;
margin-left: 170px;
margin-top: 13px;
cursor:pointer;
border:none;
*margin-top:-68px;
*margin-left: 142px;
}

.cardContainer .mastercardPassive {

opacity:0.3;

}

.cardContainer .mastercardActive {

opacity:1;

}

.cardContainer .visa {
position: absolute;
margin-left: 240px;
margin-top: 13px;
*margin-left: 202px;
*margin-top: -68px;
cursor:pointer;
border:none;
}

.cardContainer .visaPassive {

opacity:0.3;

}

.cardContainer .visaActive {

opacity:1;

}

.sozlesmeRw{float: left;
color: #333;
margin-right: 20px;
margin-top: 7px;
font-size: 14px;}

.sozlesmeRw span{margin-top:-4px}

.sozlesmeRw span a{color:#dd8333;}
.sozlesmeRw span a:hover{color:#dd3333;}

.odemeyiTamamla {
float: right;
text-align: right;
margin-right: 20px;
margin-top: 15px;
margin-bottom: 30px;
}

.odemeTamamlaButton {
background-image: url(../images/onayButton.png);
width: 223px;
height: 60px;
cursor: pointer;
border: none;
background-position: 0px 0px;
background-color: transparent;
float: right;
margin-right: 185px;
margin-top: 10px;
display: block;
	
}

.odemeTamamlaButton:hover {
background-image: url(../images/onayButton.png);
width: 223px;
height: 60px;
cursor: pointer;
border: none;
background-position: 0px 60px;
background-color: transparent;
float: right;
margin-right: 185px;
margin-top: 10px;
display: block;
	
}

#facebox{position:absolute;top:0;left:0;z-index:999999999;text-align:left;}
#facebox .popup{position:relative;}
#facebox strong{font-weight:bold;}
#facebox p{margin-top:5px;margin-bottom:5px;}
#facebox table{border-collapse:collapse;}
#facebox .body{padding:10px;background:#fff;width:470px;line-height:17px;color:#000;}
#facebox .loading{text-align:center;}
#facebox .image{text-align:center;}
#facebox img{border:0;margin:0;}
#facebox .footerBox{border:none;padding-top:5px;margin-top:10px;text-align:right;position:relative;}
#closeBottom{position:absolute;bottom:0;right:0px}
#closeTop{float:right}
#facebox_overlay{position:fixed;top:0px;left:0px;height:100%;width:100%;}
.facebox_hide{z-index:-100;}
.facebox_overlayBG{background:url("../images/overlay.png");z-index:99;}
#facebox h1{font-size:24px;font-weight:bold;}
#facebox h2{font-size:18px;font-weight:bold;}
#facebox h3{font-size:14px;font-weight:bold;}
#facebox h4{font-size:12px;font-weight:bold;}
#facebox td{font-family:Tahoma, Arial, Geneva, sans-serif;font-size:12px;}
/*************odemeresult**************/


.odemeResultBanner {
background-image:url(../images/odemeResultBanner.jpg);
width:960px;
height:188px;	
float: left;
margin-top: 30px;	
}

.odemeResultBannerBasarisiz {
background-image:url(../images/odemeResultBannerBasarisiz.jpg);
width:960px;
height:188px;	
float: left;
margin-top: 30px;	 
}

.odemeResultBannerTitle {
font-size: 24px;
text-align: center;
float: left;
margin-left: 91px;
margin-top: 35px;
}

 .odemeResultBannerText1 {
font-size: 12px;
width: 230px;
float: left;
margin-top: 118px;
margin-left: -236px;
line-height: 15px;
}

.odemeResultBannerText2 {
font-size: 12px;
width: 130px;
float: left;
margin-top: 127px;
margin-left: 52px;
line-height: 15px;
}

.odemeResultBannerText3 {
font-size: 12px;
width: 184px;
float: left;
margin-top: 120px;
margin-left: 34px;
line-height: 15px;
}

.odemeOnayDevam {
background-image:url(../images/randevuContinue.png);
width:229px;
height:64px;
float:right;
display:block;
cursor:pointer;	
background-position:0px 0px;
margin-top: 80px;
margin-right: -150px;	
}

.odemeOnayDevam:hover {
background-image:url(../images/randevuContinue.png);
width:229px;
height:64px;
float:right;
display:block;
cursor:pointer;	
background-position:0px 63px;
margin-top: 80px;
margin-right: -150px;	
}

.odemeBilgilendirme  {
float: left;	
	
}
.validateOdeme{font-size:11px;font-weight:bold;}
/*************henuzyokmuyuzPopup***************/

.henuzyokForm {
width: 530px;
height: 500px;
margin:auto;
background-color:white;	
	
}
 
.henuzyokTitle {
float: left;
margin-top: 21px;
font-size: 15px;
width: 430px;
margin-left: 63px;
line-height: 25px;
	
}

.henuzYokTitle p {
color: #666666;
width: 371px;
margin-bottom: 20px;	
	
}


.henuzyokFormIn {
margin-top:15px;
float:left;	
	
}
.henuzyokFormInput {
width: 235px;
height: 20px;
border-radius: 8px;
background-color: #ededed;
border: 1px solid #c6c6c6;
color: #333;
padding-top: 5px;
padding-bottom: 5px;
padding-left: 10px;
padding-right: 10px;
font-size: 14px;
margin-left: 114px;
margin-top: 10px;
margin-bottom: 5px;	
}

.henuzyokFormSubmit {
background-image: url(../images/randevuContinue.png);
width: 229px;
height: 65px;
background-position: 0px 0px;
cursor: pointer;
border: none;
background-color: transparent;
margin-left: 130px;
margin-top: 10px;	
}


/**********iletisim****************/

.iletisimText {
float: left;
width: 960px;
	
}

.iletisimBanner {
width:960px;
height:258px;
background-image:url(../images/iletisimBanner.jpg);
float:left;	
	
}


.iletisimContainer .iletisimShadow {
width:960px;
background-image:url(../images/shadow.png);
height:57px;
float: left;	
background-position: 0px -17px;
}

.iletisimTitle {
color: #E30000;
font-size: 30px;
margin-top: 75px;
margin-bottom: 25px;
position: absolute;
	
}

.iletisimLeft {
width:350px;
height:375px;
background-color: rgb(247, 247, 247);
float: left;
border: 1px solid rgb(231, 231, 231);
margin-left:90px;
}

.iletisimLeftItem {
width: 313px;
margin: auto;
height: 80px;
margin-top: 24px;	
}

.leftLabel {
margin-bottom: 10px;
font-size: 18px;
font-weight: bold;
margin-top: 15px;	
}

.leftItemText {
font-size: 17px;
height: 52px;
float: left;

}



.iletisimRight {
width:350px;
height:375px;
background-color: rgb(247, 247, 247);
float: right;
border: 1px solid rgb(231, 231, 231);	
margin-right:90px;
margin-bottom: 50px;
}

.iletisimLeft .leftTitle {
color: #e30000;
font-size: 22px;
width: 320px;
margin-left: 17px;
margin-top: 20px;
margin-bottom: 33px;	
}

.iletisimRight .rightTitle {
color: #e30000;
font-size: 22px;
width: 320px;
margin-left: 17px;
margin-top: 20px;	
}

.iletisimFormInput {
width:310px;
height:20px;
border:1px solid #e8f0f0;
margin-left: 18px;
margin-top: 30px;	
}

.iletisimFormArea {
width:306px;
height:50px;
border:1px solid #e8f0f0;		
margin-top: 30px;
margin-left: 18px;	
font-family: Arial;
}

.iletisimFormSubmit {
background-image: url(../images/gonderBtn.png);
width: 127px;
height: 34px;
background-position: 0px 0px;
cursor: pointer;
border: none;
background-color: transparent;
margin-top: 45px;
float: right;	
	
}

/************popups************/

.popupTextsContaıner {
background-color: white;
padding: 40px;
text-align: justify;	
	
}

.popupTextsTitle {
font-size: 18px;
margin-bottom: 20px;	
	
}

.mainHeaderTitle{color: #E30000;
font-size: 30px;

margin-top: 75px;
margin-bottom: 25px;
position: absolute;}

.mainHeaderTitle2 {
position: absolute;
margin-top: 127px;
font-size: 24px;
width: 458px;
   
}

.icerikText{line-height:18px;font-size:15px;}

.randevuAciklama{float: left;
width: 600px;
padding-top: 20px;
text-align: center;}
.randevuAciklama span{color:Red;}
.malava{color:#e30000;font-size:12px;}
.malavaTitle
{
color: #E30000;
font-size: 30px;
margin-top: 10px;
margin-bottom: 25px;
float:left;
}
    
.malavaIcerik
{
width:980px;margin:0 auto;  text-align:center;  
}
a.SepetNotEkle{
background:#D01D26;
padding:5px;
color:#fff;
text-decoration:none;

}

.cekButon{background-color: #CE2121;border: 1px solid #CA2929;border-bottom-color: #DB1919;-webkit-box-shadow:0 1px 0 rgba(0, 0, 0, .1);cursor:pointer;display:inline-block;font-size:13px;line-height:13px;padding:2px 6px;text-align:center;text-decoration:none;vertical-align:top;white-space:nowrap;color:#fff;float:right;margin-top:0px;}
.sepetToplamTutar .ceksil{float:left;width:16px;height:16px;cursor:pointer;background: url(../images/cancel.png) no-repeat;}
