﻿

        *{margin:0;padding:0}
        body{margin:0;padding:0}
.kaleniYaratContainer {
background-color:#d4d4d4;
width:730px;
height:505px;	
}

.kaleniYaratContainer .yaratLogo {
width: 331px;
height: 67px;
background: url(../images/common/kaleniyaratLogo.png);
float: left;
left: 229px;
position: absolute;
top: 35px;
}
input[type="button"]{border:none;text-indent:-999999px;cursor:pointer;}
input[type="submit"]{border:none;text-indent:-999999px;cursor:pointer;}
.kaleniYaratContainer .redContainer {
width: 748px;
height: 525px;
background: url(../images/common/kaleniyaratRed.png);
float: left;
margin-left: 0px;
margin-top: -15px;

}

.kaleniYaratContainer .redContainer .redContainerText {
font-family: Arial;
color: white;
font-size: 59px;
width: 500px;
text-align: center;
margin-left: 112px;
margin-top: 202px;

}

.goContinue {
width: 136px;
height: 63px;
background: url(../images/common/devam-iconu.png);
display: block;
position: absolute;
top: 345px;
left: 555px;
	
}
.goBack {
width: 136px;
height: 63px;
background: url(../images/common/geriIcon.png);
display: block;
position: absolute;
top: 345px;
left: 53px;
	
}

.kaleniYaratContainer .redContainer .redContainerTitle {
font-family: Arial;
color: white;
font-size: 27px;
width: 500px;
text-align: center;
margin-left: 112px;
margin-top: 202px;

}

.redContainer .blackButton {
width: 105px;
height: 30px;
background: url(../images/common/kaleniyaratSubmitBlack.png);
display: block;
text-align: center;
line-height: 29px;
text-decoration: none;
color: white;
font-family: arial;
font-size: 16px;
float: left;
margin-top: 42px;
	}

.redContainer .blacktext {
width: 105px;
height: 30px;
background: url(../images/common/kaleniyaratSubmitBlack.png);
display: block;
text-align: center;
line-height: 32px;
text-decoration: none;
color: white;
font-family: arial;
font-size: 16px;
float: left;
margin-top: 42px;
border: none;
outline: none;
margin-left: 310px;
	}



.redContainer .blacktext:focus { 
border:none; 
outline: none;
}	
.redContainerIhtiyac {
width: 362px;
height: 118px;
background: url(../images/common/kaleniyaratihtiyacBG.png);
margin-left: 148px;
margin-top: 9px;
padding-left: 70px;
padding-top: 20px;
padding-bottom: 10px;
	}	
.ihtiyacLabel {
	color:#fff;
	float: left;
margin-right: 10px;
}

.ihtiyacNumber {
	color:#fff;
}

.ihtiyacBox {
	width: 175px;
float: left;
margin-top: 8px;
	}
		
.redContainer .formWrapper {
margin-top:10px;
width: 500px;
}
label{cursor:pointer;}
.redContainer .formWrapper .blackButton {
width: 168px;
height: 30px;
background: url(../images/common/kaleniyaratForm.png);
display: block;
text-align: center;
line-height: 32px;
text-decoration: none;
color: white;
font-family: arial;
font-size: 16px;
float: left;
margin-top: 4px;
border: none;
outline: none;
margin-left: 3px;
	}
.redContainer .formWrapper .blackButton:focus { 
border:none; 
outline: none;
}

.redContainer .formWrapper .formLabel { 
float: left;
margin-left: 0px;
line-height: 15px;
color: #fff;
font-family: Arial;
}	
select{
   background-color: #23272f;
    width: 156px;

    height: 22px;
display: block;
text-align: center;
line-height: 32px;
text-decoration: none;
color: white;
font-family: arial;

    font-size: 12px;
float: left;

    margin-top: 3px;
border: none;
outline: none;

    margin-left: 6px;
}