﻿/*Zon İletişim 26.12.2012*/


body {
	width:980px;
	margin:auto;
	font-family:Arial,Tahoma;
	overflow-x: hidden;
}

.headerContainer {
	
}

.headerContainer .headerRed {
	width:980px;
	height:10px;
	background-color:#ed1c24;
}

.headerContainer .headerTop {
	width:980px;
	height:89px;
}

.headerContainer .headerTop .logoArea {

	width:331px;
	height:79px;
	margin-top: 5px;
	float:left;
	
}
.headerContainer .headerTop .logoArea a{display:block;width:331px;height:79px;overflow:hidden;}
.headerContainer .headerTop .phoneNumber {
	
	background-repeat: no-repeat;
	width: 130px;
	height: 29px;
	margin-top: 10px;
	float: right;
	margin-bottom: 0px;
}

.headerContainer .headerTop .headerTopRight {
	width:236px;  
	height:90px;
	float:right;

}
a{text-decoration:none;}
.headerContainer .headerTop .headerTopRight .col1{float:right;width:300px;	margin-top: 12px;}
.headerContainer .headerTop .headerTopRight .col2{float:right;width:560px;}
.headerContainer .headerTop .headerTopRight .col3{float:right;width:212px;height:36px;background:url('../images/kaleDilBg.png') no-repeat;margin-top:-15px;}
.headerContainer .headerTop .headerTopRight .col3 .kaleEnd a{float:left;padding-top:14px;width:147px;font-size:10px;color:#fff;padding-left:10px;text-decoration:none;}
.headerContainer .headerTop .headerTopRight .col3 .kaleEnd a:hover{color:#f1f1f1 !important;text-decoration:none}
.headerContainer .headerTop .headerTopRight .col3 .lan a{float:left;padding-top:13px;font-size:11px;color:#fff;padding-left:0px;}
.headerContainer .headerTop .headerTopRight .socialContainer {
width: 210px;
height: 40px;
float: right;
margin-right: 214px;
margin-top: -25px;
}
.keh a{font-size:12px;color:#333 !important;float:left;margin-top:4px;text-decoration:none;font-weight:bold}
.keh a:hover{color:#000 !important;text-decoration:underline}

.headerContainer .headerTop .headerTopRight .socialContainer .facebookContainer {
	width:39px;
	height:39px;
	background:url(../images/header/social/facebookNormal.png);
	background-repeat:no-repeat;
	float:right;
}

.headerContainer .headerTop .headerTopRight .socialContainer .facebookContainer:hover {
	background:url(../images/header/social/facebookHover.png);
}

.headerContainer .headerTop .headerTopRight .socialContainer .twitterContainer {
	width:39px;
	height:39px;
	background:url(../images/header/social/twitterNormal.png);
	background-repeat:no-repeat;
	float:right;
}

.headerContainer .headerTop .headerTopRight .socialContainer .linkedinContainer {
	width:39px;
	height:39px;
	background:url(../images/header/social/linkedinNormal.png);
	background-repeat:no-repeat;
	float:right;
}

.headerContainer .headerTop .headerTopRight .socialContainer .youtubeContainer {
	width:39px;
	height:39px;
	background:url(../images/header/social/youtubeNormal.png);
	background-repeat:no-repeat;
	float:right;
}

.headerContainer .headerTop .headerTopRight .socialContainer .googleplusContainer {
	width:39px;
	height:39px;
	background:url(../images/header/social/googleplusNormal.png);
	background-repeat:no-repeat;
	float:right;
}

.headerContainer .headerTop .headerTopRight .socialContainer .googleplusContainer:hover {
	background:url(../images/header/social/googleplusHover.png);
}

.headerContainer .headerTop .headerTopRight .socialContainer .youtubeContainer:hover {
	background:url(../images/header/social/youtubeHover.png);
}

.headerContainer .headerTop .headerTopRight .socialContainer .linkedinContainer:hover {
	background:url(../images/header/social/linkedinHover.png);
}

.headerContainer .headerTop .headerTopRight .socialContainer .twitterContainer:hover {
	background:url(../images/header/social/twitterHover.png);
}

.headerContainer .headerTop .headerTopRight .searchContainer {
	float: right;
	position:relative;
	background:url(../images/header/search/searchBg.png);
	background-repeat:no-repeat;
	width:150px;
	height:33px;
	overflow:hidden;
	margin-top:4px;
	margin-right: 15px;
}

.headerContainer .headerTop .headerTopRight .searchContainer input {
	width: 105px;
	border: 0px;
	margin-left: 10px;
	margin-top: 8px;
	color: #000;
}

.headerContainer .headerTop .headerTopRight .searchContainer .searchButton {
	position:absolute;
	background:url(../images/header/search/searchButton.png);
	background-repeat:no-repeat;
	width:33px;
	height:33px;
	top:-8px;
	right:-2px;
	cursor:pointer;
}

.headerContainer .topMenu {
	height:47px;
	position:relative;
	font-family:Arial, Helvetica, sans-serif;
	z-index:999;
}

.headerContainer .topMenu .menuLine {
	background-image:url(../images/header/navigation/topmenuHover.png);
	position: absolute;
	top: 28px;
	background-repeat: no-repeat;
	width: 127px;
	height: 19px;
	background-position:13px 0px;
	display:none;	
}	

.headerContainer .topMenu .aButton {
	position:absolute;
	top:0px;
	height:53px;
	line-height:32px;
	width:127px;
	text-align:center;
	font-size:15px;
	color:#797979;
}

.headerContainer .topMenu .selectedButton {
	background-image:url(../images/header/navigation/topmenuActive.png);
	background-repeat:no-repeat;
	background-position:0px 3px;
	color:#FFFFFF;
}

.headerContainer .topMenu .dropDownContainer {
	width: 196px;
	background-color: black;
	position: absolute;
	overflow:hidden;
	top: 53px;
	left: 110px;
	display:none;
}

.headerContainer .topMenu .dropDownContainer a {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	height:28px;
	line-height:24px;
	background-image:url(../images/header/navigation/aSeperator.png);
	background-repeat:no-repeat;
	background-position:center bottom;
	text-indent:12px;
	color:#FFF;
}

.headerContainer .topMenu .dropDownContainer a:hover {
	color:#ed1c24;
}

.headerContainer .topMenu .dropDownContainer .finishingLine {
	height:7px;
	margin-top:5px;
	background-color:#ed1c24;
}

.middleContainer_index {
	
}

.middleContainer_index .bannerContainer {

	width:980px;
	height:305px;
	
}

.logoMiddleContainer {
position:relative;
margin-left: 369px;	
-webkit-perspective: 1000;
-moz-perspective: 1000;
-ms-perspective: 1000;
perspective: 1000;
-ms-transform: perspective(1000px);
-moz-transform: perspective(1000px);
-moz-transform-style: preserve-3d;
-ms-transform-style: preserve-3d;
width: 251px;
height: 270px;
z-index:5;
}

.flipper {
-webkit-transition: 0.6s;
-webkit-transform-style: preserve-3d;
-ms-transition: 0.6s;
-moz-transition: 0.6s;
-moz-transform: perspective(1000px);
-moz-transform-style: preserve-3d;
-ms-transform-style: preserve-3d;
transition: 0.6s;
transform-style: preserve-3d;
position: relative;	
}

.logoFront {
background-image:url(../images/index/logoMiddle.png);
width:251px;
height:274px;
-webkit-transform: rotateY(0deg);
-ms-transform: rotateY(0deg);
z-index: 2;
-webkit-backface-visibility: hidden;
-moz-backface-visibility: hidden;
-ms-backface-visibility: hidden;
backface-visibility: hidden;
-webkit-transition: 0.6s;
-webkit-transform-style: preserve-3d;
-moz-transition: 0.6s;
-moz-transform-style: preserve-3d;
-o-transition: 0.6s;
-o-transform-style: preserve-3d;
-ms-transition: 0.6s;
-ms-transform-style: preserve-3d;
transition: 0.6s;
transform-style: preserve-3d;
position: absolute;
top: 0;
left: 0;
}

.logoBack {
background-image:url(../images/index/logoMiddleBack.png);
width:251px;
height:274px;

-webkit-backface-visibility: hidden;
-moz-backface-visibility: hidden;
-ms-backface-visibility: hidden;
backface-visibility: hidden;
-webkit-transition: 0.6s;
-webkit-transform-style: preserve-3d;
-moz-transition: 0.6s;
-moz-transform-style: preserve-3d;
-o-transition: 0.6s;
-o-transform-style: preserve-3d;
-ms-transition: 0.6s;
-ms-transform-style: preserve-3d;
transition: 0.6s;
transform-style: preserve-3d;
position: absolute;
top: 0;
left: 0;

-webkit-transform: rotateY(-180deg);
-moz-transform: rotateY(-180deg);
-o-transform: rotateY(-180deg);
-ms-transform: rotateY(-180deg);
transform: rotateY(-180deg);
}

.addFlip  {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
      -ms-transform: rotateY(180deg);
}

.middleContainer_index .starContainer {
	position: relative;
	background-image: url(../images/index/starContainer/middleStar.png);
	width: 980px;
	height: 335px;
	margin-top: -54px;
	background-repeat: no-repeat;
}

.middleContainer_index .starContainer .starHalo {
	position:absolute;
	width:259px;
	height:262px;
	top: -29px;
	left: 348px;
}

.middleContainer_index .starContainer .alarmaGecText {
	position: absolute;
	top: 66px;
	left: -5px;
	background-image: url(../images/index/starContainer/alarmaGecText2.png);
	width: 303px;
	height: 78px;	
}

.middleContainer_index .starContainer .kendiKaleniYaratText {
	position: absolute;
	top: 75px;
	left: 652px;
	background-image: url(../images/index/starContainer/kendiKaleniYaratText.png);
	width: 283px;
	height: 132px;	
	background-position: 0px 14px;
}

.middleContainer_index .starContainer .aButton {
	background-image:url(../images/index/starContainer/aButtonBG.png);
	width:153px;
	height:47px;
	cursor:pointer;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#fff;
	text-align:center;
	line-height:38px;
}

.middleContainer_index .starContainer .alarmaButton {
	position: absolute;
	top: 145px;
	left: 48px;
}

.middleContainer_index .starContainer .kendiKaleniButton {
	position: absolute;
	top: 132px;
	left: 792px;
	margin-top: 13px;
}

.middleContainer_index .starContainer .evIcinButton {
	position: absolute;
	background-image: url(../images/index/starContainer/evIcinButtonNormal.png);
	background-repeat:no-repeat;
	width: 223px;
	height: 65px;
	top: 245px;
	left: 278px;
}

.middleContainer_index .starContainer .evIcinButton:hover {
	background-image:url(../images/index/starContainer/evIcinButtonHover.png);
}

.middleContainer_index .starContainer .isicinButton {
	position: absolute;
	background-image: url(../images/index/starContainer/isyeriButtonNormal.png);
	width: 223px;
	height: 65px;
	top: 245px;
	left: 505px;
}

.middleContainer_index .starContainer .isicinButton:hover {
	background-image:url(../images/index/starContainer/isyeriButtonHover.png);
	background-repeat:no-repeat;
}

.middleContainer_index .bannerContainer2 {
	overflow:auto;
}

.middleContainer_index .bannerContainer2 .tamKapsamliArea{
	float:left;
	background-image:url(../images/index/tamKapsamliBG2.png);
	width:650px;
	height:180px;
}

.middleContainer_index .bannerContainer2 .faqContainer{
	float:left;
	background-image:url(../images/index/tamKapsamliBG.png);
	width:318px;
	height:180px;
	margin-left:12px;
}

.middleContainer_index .roundButtonsContainer{
	overflow:auto;
	position: relative;
	height:210px;
	margin-top:-40px;
	overflow:hidden;
}

.middleContainer_index .roundButtonsContainer .aRoundButton{
	float:left;
	margin-left:46px;
	margin-top:100px;
	width:68px;
	height:70px;
	cursor:pointer;
}
.middleContainer_index .roundButtonsContainer .aRoundButton span{width:68px;padding-top:73px;font-size:12px;padding-left:3px;color:#797979;font-weight:bold;float:left;text-align:center}
.middleContainer_index .roundButtonsContainer .anExplanation {
	position:absolute;
}

.middleContainer_index .roundButtonsContainer .anExplanation .textContainer{
	background-image: url(../images/index/roundButtons/textBGRepeater.png);
	height: 70px;
	border: 1px solid #FAFAFA;
	box-shadow: 3px 3px 3px dimGray;
	display:none;
}

.middleContainer_index .roundButtonsContainer .anExplanation .textContainer .theText{
	margin:7px;
	margin-left: 12px;
	margin-right: 15px;
	color: #000;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.middleContainer_index .roundButtonsContainer .anExplanation .arrowHead{
	position:absolute;
	background-image:url(../images/index/roundButtons/arrowHead.png);
	width:8px;
	height:8px;
	position:absolute;
	display:none;
}

.middleContainer_index .roundButtonsContainer .anExplanation .arrow1{
	position:absolute;
	background-image:url(../images/index/roundButtons/arrow1BGRepeater.png);
	width:4px;
	height:38px;
	position:absolute;
	display:none;
}

.middleContainer_index .roundButtonsContainer .anExplanation .arrow2{
	position:absolute;
	background-image:url(../images/index/roundButtons/arrow2BGRepeater.png);
	width:25px;
	height:3px;
	position:absolute;
	display:none;
}

.middleContainer_index .roundButtonsContainer .anExplanation .arrowCorner1{
	position:absolute;
	background-image:url(../images/index/roundButtons/arrowCorner1.png);
	width:4px;
	height:3px;
	display:none;
}

.middleContainer_index .roundButtonsContainer .anExplanation .arrowCorner2{
	position:absolute;
	background-image:url(../images/index/roundButtons/arrowCorner2.png);
	width:4px;
	height:3px;
	display:none;
}

.middleContainer_index .nedenlerContainer {
	background-image:url(../images/index/columsContainer/containerBG.png);
	width:980px;
	background-repeat:no-repeat;	
	overflow:auto;
}

.middleContainer_index .nedenlerContainer .columnsContainer{
	margin-left:64px;
	margin-top: 94px;
}

.middleContainer_index .nedenlerContainer .columnsContainer .aSeperator {
	float:left;
	background-image:url(../images/index/columsContainer/aSeperator.png);
	width:2px;
	height:170px;
	margin-right:20px;
}

.middleContainer_index .nedenlerContainer .columnsContainer .aColumn {
	float:left;
	width:285px;
}

.middleContainer_index .nedenlerContainer .columnsContainer .aColumn .aCell {
	width:285px;
	height:150px;
	background-repeat:no-repeat;
	margin-top:-50px;
}

.middleContainer_index .nedenlerContainer .columnsContainer .aColumn .aCell .cellText {
	margin-left:97px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#6b6b6b;
}

.footerContainer {
	background-image:url(../images/footer/topBGRepeater.png);
	background-repeat:repeat-x;
	position:relative;
	float:left;
	margin-bottom:30px
}

.footerContainer .borderRepeater{
	width:98%;
	height:30px;
	margin:auto;
}

.footerContainer .columnsWrapper{
	width:787px;
	margin:auto;
	margin-top:14px;
	float:left;
	margin-left:33px;
	
}

.footerContainer .columnsWrapper .aSeperator {
	float:left;
	margin-left:14px;
	margin-right:14px;
	width:1px;
	height:92px;
	border-left:1px solid #efefef;
}

.footerContainer .columnsWrapper .aColumn{
	float:left;
}

.footerContainer .columnsWrapper .aColumn .aRow{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#5d5d5d;
}

.footerContainer .columnsWrapper .aColumn .aRow:hover{
	color:#B20000;
	text-decoration:underline;
}

.footerContainer .columnsWrapper .aColumn .bigRow{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	height:17px;
}

.footerContainer .zonLogo{
	width:95px;
	height:14px;
	float: right;
	margin-right:5px;
	margin-top:10px;
}
.footerContainer .footerR{
	width:295px;
	height:14px;
	float: right;
	margin-right:5px;
	font-size:11px;
		color:#6b6b6b;
	text-align:right;
}

.footerContainer .repeaterBottom{
	margin-top:20px;
}

.footerContainer .copyRight{
	font-size:11px;
	margin-left:30px;
	height:23px;
	line-height:20px;
	float:left;
	color:#6b6b6b;
}

.footerContainer .bulletinContainer{
	float:left;
	margin-top:12px;
}

.footerContainer .bulletinContainer .bulletinTitle{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	height:17px;
	color: #5D5D5D;
}

.footerContainer .bulletinContainer .inputContainer{
	background-image:url(../images/footer/bulletinContainer/inputBG.png);
	width:130px;
	height:21px;
	margin-top:7px;
}

.footerContainer .bulletinContainer .inputContainer input[type=text]{
	width:120px;
	margin-left:5px;
	color:#5d5d5d;
}

.footerContainer .bulletinContainer .sendButton{
	background-image:url(../images/footer/bulletinContainer/sendButton.png);
	width:73px;
	height:24px;
	margin-top: 6px;
	margin-left: 55px;
	cursor:pointer;
}

/*********************nelerdenolusur**********************/

.middleContainer_nelerden {
	overflow: auto;
}

.middleContainer_nelerden .nelerdenTop {
	width: 980px;
	height:91px;
}

.middleContainer_nelerden .nelerdenTop .nelerdenTopBigRectangle {
	width: 960px;
	height: 60px;
	background-color: #D5D5D5;
	font-family: Arial;
	font-size: 24px;
	color: red;
	line-height: 56px;
	padding-left: 20px;
	font-weight: bold;
}

.middleContainer_nelerden .nelerdenTop .nelerdenTopThinRectangle {
	width: 668px;
	height: 27px;
	background-color: #797979;
	margin-left: 175px;
	margin-top: -15px;
}

.middleContainer_nelerden .nelerdenContainer {
width: 980px;
padding-top: 30px;
margin-bottom: 20px;
} 

.middleContainer_nelerden .nelerdenContainer .dahiliSiren {
	width: 460px;
height: 110px;
border: solid 2px #EAEAEA;
margin-left: 16px;
float: left;
margin-bottom: 16px;

}

.middleContainer_nelerden .nelerdenContainer .dahiliSiren .dahiliSirenImage {
	width:94px;
	height:94px;
	border-bottom:solid 4px #fa6262;
	float:left;
}

.middleContainer_nelerden .nelerdenContainer .dahiliSiren .dahiliSirenTitle {
font-family: Arial;
font-size: 14px;
font-weight: bold;
color: #797979;
margin-top: 5px;
margin-left: 5px;
float: left;
width: 315px;
height: 20px;
overflow: hidden;
}

.middleContainer_nelerden .nelerdenContainer .dahiliSiren .dahiliSirenText {
width: 345px;
float: left;
margin-left: 5px;
font-family: Arial;
font-size: 13px;
color: #797979;
margin-top: -1px;
height: 81px;
overflow: hidden;

}

/***************evinizicin*****************/

.middleContainer_eviniz {
	overflow: auto;
}

.middleContainer_eviniz .evinizTop {
	width: 980px;
	height:91px;
}

.middleContainer_eviniz .evinizTop .evinizTopBigRectangle {
	width: 960px;
	height: 78px;
	background-color: #D5D5D5;
	font-family: Arial;
	font-size: 24px;
	color: red;
	line-height: 80px;
	padding-left: 20px;
	font-weight: bold;
}

.middleContainer_eviniz .evinizTop .evinizTopThinRectangle {
	width: 668px;
	height: 27px;
	background-color: #797979;
	margin-left: 175px;
	margin-top: -15px;
}

.middleContainer_eviniz .evinizContainer {
width: 980px;
margin-bottom: 20px;
} 

.middleContainer_eviniz .evinizContainer .evinizBG {
width:980px;
height:266px;

} 

.middleContainer_eviniz .evinizContainer .evinizBG .round1 {
width:47px;
height:48px;
position: absolute;
margin-left: 16px;
background:url(../images/common/round1.png);
background-repeat:no-repeat;
}
.middleContainer_eviniz .evinizContainer .evinizBG .round1:hover {
width:47px;
height:48px;
position: absolute;
margin-left: 16px;
background:url(../images/common/round1-h.png);
background-repeat:no-repeat;
}
.middleContainer_eviniz .evinizContainer .evinizBG .round1Container {
width: 200px;
height: 60px;
background-color: #999;
position: absolute;
margin-left: 75px;
margin-top: 10px;
z-index: 500;
display:none;	
}   

.middleContainer_eviniz .evinizContainer .evinizBG .round2 {
width:47px;
height:48px;
position: absolute;
margin-left: 51px;
margin-top: 40px;
background:url(../images/common/round2.png);
background-repeat:no-repeat;
} 
.middleContainer_eviniz .evinizContainer .evinizBG .round2:hover {
width:47px;
height:48px;
position: absolute;
margin-left: 51px;
margin-top: 40px;
background:url(../images/common/round2-h.png);
background-repeat:no-repeat;
} 

.middleContainer_eviniz .evinizContainer .evinizBG .round2Container {
width: 200px;
height: 60px;
background-color: #999;
position: absolute;
margin-left: 112px;
margin-top: 69px;
z-index: 500;
display:none;
}

.middleContainer_eviniz .evinizContainer .evinizBG .round3 {
width:47px;
height:48px;
position: absolute;
margin-left: 48px;
margin-top: 100px;
background:url(../images/common/round3.png);
background-repeat:no-repeat;
} 
.middleContainer_eviniz .evinizContainer .evinizBG .round3:hover {
width:47px;
height:48px;
position: absolute;
margin-left: 48px;
margin-top: 100px;
background:url(../images/common/round3-h.png);
background-repeat:no-repeat;
} 

.middleContainer_eviniz .evinizContainer .evinizBG .round3Container {
width: 200px;
height: 60px;
background-color: #999;
position: absolute;
margin-left: 33px;
margin-top: 161px;
z-index: 500;	
display:none;
}

.middleContainer_eviniz .evinizContainer .evinizBG .round4 {
width:47px;
height:48px;
position: absolute;
margin-left: 230px;
margin-top: 80px;
background:url(../images/common/round4.png);
background-repeat:no-repeat;
} 
.middleContainer_eviniz .evinizContainer .evinizBG .round4:hover {
width:47px;
height:48px;
position: absolute;
margin-left: 230px;
margin-top: 80px;
background:url(../images/common/round4-h.png);
background-repeat:no-repeat;
} 

.middleContainer_eviniz .evinizContainer .evinizBG .round4Container {
width: 200px;
height: 60px;
background-color: #999;
position: absolute;
margin-left: 287px;
margin-top: 105px;
z-index: 500;	
display:none;
}

.middleContainer_eviniz .evinizContainer .evinizBG .round5 {
width:47px;
height:48px;
position: absolute;
margin-left: 830px;
margin-top: 23px;
background:url(../images/common/round5.png);
background-repeat:no-repeat;
} 
.middleContainer_eviniz .evinizContainer .evinizBG .round5:hover {
width:47px;
height:48px;
position: absolute;
margin-left: 830px;
margin-top: 23px;
background:url(../images/common/round5-h.png);
background-repeat:no-repeat;
} 

.middleContainer_eviniz .evinizContainer .evinizBG .round5Container {
width: 200px;
height: 60px;
background-color: #999;
position: absolute;
margin-left: 694px;
margin-top: 81px;
z-index: 500;
display: none;
}
.middleContainer_eviniz .evinizContainer .evinizBG .evinizImageText {
position: absolute;
margin-left: 381px;
margin-top: 90px;
font-family: Arial;
font-size: 30px;
font-weight: bold;
color: #797979;
width: 300px;
line-height: 40px;
}

.middleContainer_eviniz .evinizContainer .evinizTitle {
margin-top: 10px;
color: #6D6D6D;
font-family: Arial;
font-size: 15px;
font-weight: bold;
}

.middleContainer_eviniz .evinizContainer .evinizText {
color: #6D6D6D;
font-family: Arial;
font-size: 13px;
margin-top: 5px;
}

.redLine {
width:980px;
height:8px;
background-color:#FF0000;
}

.r1 {
background:url(../images/common/round1-h.png);
display:none;	
	}
.r2 {
background:url(../images/common/round2-h.png);
display:none;	
	}	
.r3 {
background:url(../images/common/round3-h.png);
display:none;	
	}	
.r4 {
background:url(../images/common/round4-h.png);
display:none;	
	}		
.r5 {
background:url(../images/common/round5-h.png);
display:none;	
	}	
	
	
/************************nasilcalisir********************************/

.middleContainer_nasil {
	overflow: auto;
}

.middleContainer_nasil .nasilTop {
	width: 980px;
	height:91px;
}

.middleContainer_nasil .nasilTop .nasilTopBigRectangle {
	width: 960px;
	height: 78px;
	background-color: #D5D5D5;
	font-family: Arial;
	font-size: 24px;
	color: red;
	line-height: 80px;
	padding-left: 20px;
	font-weight: bold;
}

.middleContainer_nasil .nasilTop .nasilTopThinRectangle {
	width: 668px;
	height: 27px;
	background-color: #797979;
	margin-left: 175px;
	margin-top: -15px;
}

.middleContainer_nasil .nasilContainer {
width: 980px;
margin-bottom: 20px;
}

.middleContainer_nasil .nasilContainer .nasilBG {
width: 980px;
height:536px;
}

.middleContainer_nasil .nasilContainer .nasilBG .nasil1 {
width: 65px;
height: 68px;
position: absolute;
margin-left: 76px;
background: url(../images/common/nasil1.png);
background-repeat: no-repeat;
margin-top: 281px;
}

.middleContainer_nasil .nasilContainer .nasilBG .nasil2 {
width: 59px;
height: 60px;
position: absolute;
margin-left: 106px;
background: url(../images/common/nasil2.png);
background-repeat: no-repeat;
margin-top: 180px;
}

.middleContainer_nasil .nasilContainer .nasilBG .nasil3 {
width: 61px;
height: 64px;
position: absolute;
margin-left: 266px;
background: url(../images/common/nasil3.png);
background-repeat: no-repeat;
margin-top: 42px;
}

.middleContainer_nasil .nasilContainer .nasilBG .nasil4 {
width: 74px;
height: 77px;
position: absolute;
margin-left: 283px;
background: url(../images/common/nasil4.png);
background-repeat: no-repeat;
margin-top: 129px;
}

.middleContainer_nasil .nasilContainer .nasilBG .nasil5 {
width: 65px;
height: 66px;
position: absolute;
margin-left: 386px;
background: url(../images/common/nasil5.png);
background-repeat: no-repeat;
margin-top: 70px;
}

.middleContainer_nasil .nasilContainer .nasilBG .nasil6 {
width: 59px;
height: 60px;
position: absolute;
margin-left: 666px;
background: url(../images/common/nasil6.png);
background-repeat: no-repeat;
margin-top: 180px;
}

.middleContainer_nasil .nasilContainer .nasilBG .nasilHelp {
width: 125px;
height: 117px;
position: absolute;
margin-left: 815px;
background: url(../images/common/nasilcalisirHelp.jpg);
background-repeat: no-repeat;
margin-top: 69px;
}

.middleContainer_nasil .nasilContainer .nasilTitle {
margin-top: 10px;
color: #6D6D6D;
font-family: Arial;
font-size: 15px;
font-weight: bold;
}

.middleContainer_nasil .nasilContainer .nasilText {
color: #6D6D6D;
font-family: Arial;
font-size: 13px;
margin-top: 5px;
}

/*******************ısyerınız*********************/

.middleContainer_isyeri {
	overflow: auto;
}

.middleContainer_isyeri .isyeriTop {
	width: 980px;
	height:91px;
}

.middleContainer_isyeri .isyeriTop .isyeriTopBigRectangle {
	width: 960px;
	height: 78px;
	background-color: #D5D5D5;
	font-family: Arial;
	font-size: 24px;
	color: red;
	line-height: 80px;
	padding-left: 20px;
	font-weight: bold;
}

.middleContainer_isyeri .isyeriTop .isyeriTopThinRectangle {
	width: 668px;
	height: 27px;
	background-color: #797979;
	margin-left: 175px;
	margin-top: -15px;
}

.middleContainer_isyeri .isyeriContainer {
width: 980px;
margin-bottom: 20px;
} 

.middleContainer_isyeri .isyeriContainer .isyeriBG {
width:980px;
height:266px;

} 

.middleContainer_isyeri .isyeriContainer .isyeriBG .round1 {
width:47px;
height:48px;
position: absolute;
margin-left: 16px;
background:url(../images/common/round1.png);
background-repeat:no-repeat;
}
.middleContainer_isyeri .isyeriContainer .isyeriBG .round1:hover {
width:47px;
height:48px;
position: absolute;
margin-left: 16px;
background:url(../images/common/round1-h.png);
background-repeat:no-repeat;
}
.middleContainer_isyeri .isyeriContainer .isyeriBG .round1Container {
width: 200px;
height: 60px;
background-color: #999;
position: absolute;
margin-left: 75px;
margin-top: 10px;
z-index: 500;
display:none;	
}   

.middleContainer_isyeri .isyeriContainer .isyeriBG .round2 {
width:47px;
height:48px;
position: absolute;
margin-left: 51px;
margin-top: 40px;
background:url(../images/common/round2.png);
background-repeat:no-repeat;
} 
.middleContainer_isyeri .isyeriContainer .isyeriBG .round2:hover {
width:47px;
height:48px;
position: absolute;
margin-left: 51px;
margin-top: 40px;
background:url(../images/common/round2-h.png);
background-repeat:no-repeat;
} 

.middleContainer_isyeri .isyeriContainer .isyeriBG .round2Container {
width: 200px;
height: 60px;
background-color: #999;
position: absolute;
margin-left: 112px;
margin-top: 69px;
z-index: 500;
display:none;
}

.middleContainer_isyeri .isyeriContainer .isyeriBG .round3 {
width:47px;
height:48px;
position: absolute;
margin-left: 48px;
margin-top: 100px;
background:url(../images/common/round3.png);
background-repeat:no-repeat;
} 
.middleContainer_isyeri .isyeriContainer .isyeriBG .round3:hover {
width:47px;
height:48px;
position: absolute;
margin-left: 48px;
margin-top: 100px;
background:url(../images/common/round3-h.png);
background-repeat:no-repeat;
} 

.middleContainer_isyeri .isyeriContainer .isyeriBG .round3Container {
width: 200px;
height: 60px;
background-color: #999;
position: absolute;
margin-left: 33px;
margin-top: 161px;
z-index: 500;	
display:none;
}

.middleContainer_isyeri .isyeriContainer .isyeriBG .round4 {
width:47px;
height:48px;
position: absolute;
margin-left: 230px;
margin-top: 80px;
background:url(../images/common/round4.png);
background-repeat:no-repeat;
} 
.middleContainer_isyeri .isyeriContainer .isyeriBG .round4:hover {
width:47px;
height:48px;
position: absolute;
margin-left: 230px;
margin-top: 80px;
background:url(../images/common/round4-h.png);
background-repeat:no-repeat;
} 

.middleContainer_isyeri .isyeriContainer .isyeriBG .round4Container {
width: 200px;
height: 60px;
background-color: #999;
position: absolute;
margin-left: 287px;
margin-top: 105px;
z-index: 500;	
display:none;
}

.middleContainer_isyeri .isyeriContainer .isyeriBG .round5 {
width:47px;
height:48px;
position: absolute;
margin-left: 830px;
margin-top: 23px;
background:url(../images/common/round5.png);
background-repeat:no-repeat;
} 
.middleContainer_isyeri .isyeriContainer .isyeriBG .round5:hover {
width:47px;
height:48px;
position: absolute;
margin-left: 830px;
margin-top: 23px;
background:url(../images/common/round5-h.png);
background-repeat:no-repeat;
} 

.middleContainer_isyeri .isyeriContainer .isyeriBG .round5Container {
width: 200px;
height: 60px;
background-color: #999;
position: absolute;
margin-left: 694px;
margin-top: 81px;
z-index: 500;
display: none;
}

.middleContainer_isyeri .isyeriContainer .isyeriBG .isyeriImageText {
position: absolute;
margin-left: 381px;
margin-top: 90px;
font-family: Arial;
font-size: 30px;
font-weight: bold;
color: #797979;
width: 300px;
line-height: 40px;
}

.middleContainer_isyeri .isyeriContainer .isyeriTitle {
margin-top: 10px;
color: #6D6D6D;
font-family: Arial;
font-size: 15px;
font-weight: bold;
}

.middleContainer_isyeri .isyeriContainer .isyeriText {
color: #6D6D6D;
font-family: Arial;
font-size: 13px;
margin-top: 5px;
}

/**************iletisim**************/

.middleContainer_iletisim {
	overflow: auto;
}

.middleContainer_iletisim .iletisimTop {
	width: 980px;
	height:91px;
}

.middleContainer_iletisim .iletisimTop .iletisimTopBigRectangle {
	width: 960px;
	height: 78px;
	background-color: #D5D5D5;
	font-family: Arial;
	font-size: 24px;
	color: red;
	line-height: 80px;
	padding-left: 20px;
	font-weight: bold;
}

.middleContainer_iletisim .iletisimTop .iletisimTopThinRectangle {
width: 650px;
height: 27px;
background-color: #797979;
margin-left: 175px;
margin-top: -15px;
color: white;
font-family: Arial;
font-size: 14px;
line-height: 28px;
padding-left: 18px;
}


/******************sss************/


.middleContainer_sss {
	overflow: auto;
}

.middleContainer_sss .sssTop {
	width: 980px;
	height:91px;
}

.middleContainer_sss .sssTop .sssTopBigRectangle {
	width: 960px;
	height: 78px;
	background-color: #D5D5D5;
	font-family: Arial;
	font-size: 24px;
	color: red;
	line-height: 80px;
	padding-left: 20px;
	font-weight: bold;
}

.middleContainer_sss .sssTop .sssTopThinRectangle {
width: 650px;
height: 27px;
background-color: #797979;
margin-left: 175px;
margin-top: -15px;
color: white;
font-family: Arial;
font-size: 14px;
line-height: 28px;
padding-left: 18px;
}

.middleContainer_sss .sssContainer .sssTitle {
margin-top: 10px;
color: #6D6D6D;
font-family: Arial;
font-size: 15px;
font-weight: bold;
}

.middleContainer_sss .sssContainer .sssText {
color: #6D6D6D;
font-family: Arial;
font-size: 13px;
margin-top: 5px;
}

#accordion-container {
	font-size: 13px;
	background: #ffffff;
	padding: 5px 10px 10px 10px;
	
	
}

.accordion-header {
	font-size: 13px;
	background: #EBEBEB;
	margin: 5px 0 0 0;
	padding: 3px 20px;
	border: 1px solid #CCC;
	cursor: pointer;
	color: #333;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.active-header {
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	background: url(../images/active-header.gif) #ff0000;
	background-repeat: no-repeat;
	background-position: right 50%;
	color:#fff;
}

.active-header:hover {
	background: url(../images/active-header.gif) #FF4848;
	background-repeat: no-repeat;
	background-position: right 50%;
}

.inactive-header {
	background: url(../images/inactive-header.gif) #ebebeb;
	background-repeat: no-repeat;
	background-position: right 50%;
}

.inactive-header:hover {
	background: url(../images/inactive-header.gif) #f5f5f5;
	background-repeat: no-repeat;
	background-position: right 50%;
}

.accordion-content {
	display: none;
	padding: 20px;
	background: #ffffff;
	border: 1px solid #cccccc;
	border-top: 0;
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
}

/******************icerik*********************/
 
.middleContainer_icerik {
	
}

.middleContainer_icerik .icerikTop {
	width: 980px;
	height:91px;
}

.middleContainer_icerik .icerikTop .icerikTopBigRectangle {
	width: 960px;
	height: 60px;
	background-color: #D5D5D5;
	font-family: Arial;
	font-size: 24px;
	color: red;
	line-height: 56px;
	padding-left: 20px;
	font-weight: bold;
}

.middleContainer_icerik .icerikTop .icerikTopThinRectangle {
	width: 668px;
	height: 27px;
	background-color: #797979;
	margin-left: 175px;
	margin-top: -5px;
	position:relative;
	z-index:2;
}

.middleContainer_icerik .icerikContainer {
width: 880px;
margin-top: -31px;
margin-bottom: 20px;
z-index:1px;

} 

.icerikBanner {
	width:980px;

	}
	
.icerikBanner .icerikRedLine {
	width:980px;
	height:8px;
	background-color:#FF0000;
	margin-top: 0px;
	}	
	
.icerikText {

width: 920px;
margin-left: 30px;
font-family: Arial;
font-size: 13px;
font-weight: normal;
color:#6D6D6D;
margin-top:15px;

	} 	
.tamKapsamContent{float:left;margin-top:20px;margin-bottom:25px;color:#6a6a6a}
.tamKapsamContent .headerText{float:left;font-size:13px;margin-bottom:20px;padding:0 20px ;width:880px}
.tamKapsam{width:410px;float:left;padding:20px;height:100px;font-size:12px;border:1px solid #efefef;margin-right:8px;margin-bottom:10px;color:#6a6a6a}
.tamKapsam:hover{border:1px solid #adadad}
.tamKapsam .textL{width:300px;float:left;margin-right:10px}
.tamKapsam .imageR{width:120px;float:left;}

.imageA {
	cursor:pointer;
	border:none;
	display:block;
	text-decoration:none;
	color:inherit;
}

.imageA:hover{
	text-decoration:none;
}

a img { border:none; }
a:hover img { border:none; }

a, a:visited, a:active {color:#000;border:none;    }

.imageInput {
	border:none;
	background-color:transparent;
	outline-width:0;
	outline:none;
	resize:none;
}

input::-webkit-input-placeholder {
	color:inherit;
}

.vSpacer {
	width:1px;	
}

.nonSelectable { 
	-moz-user-select: none; 
	-khtml-user-select: none; 
	-webkit-user-select: none; 
	-o-user-select: none; 
}

form {
	margin:0px;	
}




.sliderContent {float:left;width: 980px;height: 330px;clear:both;position:relative;overflow:hidden;z-index:0}
.sliderArrows a {display:block;text-indent:-9999px;outline:none;z-index:50;background-image:url(../images/index/starContainer/prev_next.png);width:42px;height:42px;
                position:absolute;top:50%;margin-top:-34px;}
.prev {background-position:0 0;left:15px;}
.prev:hover {background-position:0 -44px;}
.next {right:15px;background-position:-44px 0;}
.next:hover {background-position:-44px -44px;}
.sliderContent .item {position:absolute;width:980px;height:330px;background:#fff;}


.sliderContent a {outline:none;}
.slider {
float:left;
width:980px;
height:330px;
position:relative;
padding-bottom:26px;
z-index:0
}

.sliderBullets {
position:absolute;
top: 10px;
right: 20px;
z-index:50;
margin-left:-45px;
}

.sliderBullets a {
display:block;
float:left;
text-indent:-9999px;
outline:none;
margin-left:5px;
width:10px;
height:11px;
background:url(../images/index/starContainer/bullets.png) no-repeat;
}
.sliderBullets .active {
background-position:0 -11px;
}

.iletisimContainer{float:left;margin-top:25px;margin-bottom: 155px;padding-left:18px;color:#6a6a6a;}
.iletisimLeft{float:left;width:400px;}
.iletisimLeft .row1{width:100%;line-height:18px;font-size:14px}
.iletisimLeft .row2{float:left;margin-top:10px;}
.iletisimLeft .row2 .iletisimForm{width:314px;height:314px;float:left;margin-top: 30px;}


.iletisimRight{float:left;margin-left:20px;}
.iletisimRight .googleMap{width:510px;background:url("../images/index/iletisimRightBg.jpg") no-repeat ;height:427px;float:left;padding:14px 7px;}

.popupContainer {
	width:425px;
	height:405px;
	}

.popupHeader {
	width:420px;
	height:125px;
	
	}
	
.popupHeader .popupHeaderImage {
	background:url(images/ev.png);
	width:130px;
	height:78px;
	margin:auto;
	}	

.popupHeader .popupHeaderTitle {
	width:298px;
	height:26px;
	background:url(../images/popupTitle.png);
	margin:auto;
	}
	
.popupHeader .popupHeaderLine {
	width:388px;
	height:4px;
	background-color:#FF0000;
	margin:auto;
	}	
	
.popupForm {
	margin-top: 15px;
	}
		
.formLabel {
width: 335px;
margin: auto;
height: 40px;
line-height: 28px;
font-size: 13px;
	}

	
.formLabel input {
float: right;
width: 212px;
border: none;
background: url(../images/textfield.png);
height: 27px;
background-repeat: no-repeat;
outline-width: 0;
outline: none;
	}
	
.formadres {margin-top: 10px;line-height: 24px;}
.formtel {margin-top: 10px;}
.formfax {margin-top: 10px;}	
.formLabel select {
float: right;
width: 115px;
border: none;
background-color: #E4E4E4;
height: 27px;
background-repeat: no-repeat;
outline-width: 0;
outline: none;
padding: 4px;
margin-right: 107px;
	}	
td{vertical-align:baseline;}	
	
.formLabel textarea
{
    float: right;
width: 209px;
border: none;
background: url(../images/textareafield.png);
height: 72px;
background-repeat: no-repeat;
outline-width: 0;
outline: none;
     }	
.submitButton {
	width: 104px;
height: 44px;
background: url(../images/submit.png) no-repeat -3px 5px;
color: white;
border: none;
float: left;
margin-left: 240px;

	} 	
	
.defaultText { padding-left:10px }
.defaultTextActive { color: #a1a1a1; font-family: Calibri, Arial;font-size: 16px;font-weight: bold;

 }	
.clear{clear:both;}

.lblError{
margin-top: -26px;
float: left;
font-size: 12px;}

/***********************haberler***************/

.middleContainer_haberler {

}

.middleContainer_haberler .haberlerTop {
	width: 980px;
	height:91px;
}

.middleContainer_haberler .haberlerTop .haberlerTopBigRectangle {
	width: 960px;
	height: 60px;
	background-color: #D5D5D5;
	font-family: Arial;
	font-size: 24px;
	color: red;
	line-height: 56px;
	padding-left: 20px;
	font-weight: bold;
}
.middleContainer_haberler .haberlerTop .haberlerTopBigRectangle span{float:left;width:200px;}
.middleContainer_haberler .haberlerTop .haberlerTopBigRectangle .kalem{float:right;margin-right:10px;margin-top:5px;border:2px solid red;}
.middleContainer_haberler .haberlerTop .haberlerTopThinRectangle {
	width: 668px;
	height: 27px;
	background-color: #797979;
	margin-left: 175px;
	margin-top: -15px;
}

.middleContainer_haberler .haberlerContainer {
width: 980px;
padding-top: 0px;
margin-bottom: 20px;
} 

.haberWrapper {
	border: solid 1px #d8d8d8;
	width:920px;
	height:155px;
	margin: auto;
	border-top:none;
	}
	
.haberWrapper .haberBox {
	
	}

.haberWrapper .haberBox .haberlerRed {
	width:920px;
	height:7px;
	background-color:#FF0000;
	margin-bottom: 5px;
	}
	
.haberWrapper .haberBox .haberImage {
width: 202px;
height: 135px;
float: left;
margin-left: 5px;
border: solid 1px #D6D6D6;

	}

.haberWrapper .haberBox .haberTitle {
color: #797979;
font-family: Arial;
font-size: 18px;
width: 670px;
float: right;
margin-right: 10px;
margin-left: 8px;
height: 20px;
overflow: hidden;
	}
	
.haberWrapper .haberBox .haberDate {
color: #797979;
font-family: Arial;
font-size: 12px;
width: 670px;
float: right;
margin-right: 10px;
margin-left: 8px;
height: 14px;
overflow: hidden;
margin-top: 3px;
	}
	
.haberWrapper .haberBox .haberText {
color: #797979;
font-family: Arial;
font-size: 14px;
width: 670px;
float: right;
margin-right: 10px;
margin-left: 8px;
height: 65px;
overflow: hidden;
margin-top: 10px;
	}
	
.haberWrapper .haberBox .haberContinue {
color: #797979;
width: 60px;
height: 15px;
background: url(../images/common/haberContinue.png) no-repeat 46px 2px;
float: right;
font-size: 12px;
font-family: Arial;
padding-right: 10px;
border:none;
text-decoration: none;
	}					
	
/********************haberDetay*********************************/	
.haberDetayContainer {
	width:100%;
	height:538px;
	
}
.haberDetayContainer .haberlerTop .haberlerTopBigRectangle {
	width: 960px;
	height: 60px;
	background-color: #D5D5D5;
	font-family: Arial;
	font-size: 24px;
	color: red;
	line-height: 56px;
	padding-left: 20px;
	font-weight: bold;
}
.haberDetayContainer .haberlerTop .haberlerTopBigRectangle span{float:left;width:200px;}
.haberDetayContainer .haberlerTop .haberlerTopBigRectangle .kalem{float:right;margin-right:10px;margin-top:5px;border:2px solid red;}
.haberDetayContainer .haberlerTop .haberlerTopThinRectangle {
	width: 668px;
	height: 27px;
	background-color: #797979;
	margin-left: 175px;
	margin-top: -15px;
}

.haberDetayContainer .haberDetayRed {
	width:100%;
	height:17px;
	background-color:#FF0000;
}

.haberDetayContainer .haberDetayImage {
	width:254px;
	margin-top: 30px;
	float:left;
	margin-left: 20px;
	margin-right:20px;
	
}

.haberDetayContainer .haberDetayTitle {
	color: #797979;
	font-family: Arial;
	font-size: 20px;
	width: 600px;
	float: left;
	margin-right: 10px;
	margin-left: 8px;
	overflow: hidden;
	margin-top: 30px;
}

.haberDetayContainer .haberDetayTitle2 {
	color: #797979;
	font-family: Arial;
	font-size: 15px;
	width: 600px;
	float: left;
	margin-right: 10px;
	margin-left: 8px;
	overflow: hidden;
	margin-top: 10px;
}

.haberDetayContainer .haberDetayDate {
color: #797979;
font-family: Arial;
font-size: 12px;
width: 860px;
float: left;
margin-left: 20px;
height: 14px;
overflow: hidden;
margin-top: 15px;
}

.haberDetayContainer .haberDetayText {
color: #797979;
font-family: Arial;
font-size: 14px;
width: 920px;
float: left;
margin-left: 20px;
margin-top: 10px;
}
	
	
/*****************7/24Hizmetler*********************/

.middleContainer_sunulanHizmetler {
	overflow: auto;
}

.middleContainer_sunulanHizmetler .sunulanHizmetlerTop {
	width: 980px;
	height:91px;
}

.middleContainer_sunulanHizmetler .sunulanHizmetlerTop .sunulanHizmetlerTopBigRectangle {
	width: 960px;
	height: 60px;
	background-color: #D5D5D5;
	font-family: Arial;
	font-size: 24px;
	color: red;
	line-height: 56px;
	padding-left: 20px;
	font-weight: bold;
}

.middleContainer_sunulanHizmetler .sunulanHizmetlerTop .sunulanHizmetlerTopThinRectangle {
	width: 668px;
	height: 27px;
	background-color: #797979;
	margin-left: 175px;
	margin-top: -15px;
}

.middleContainer_sunulanHizmetler .sunulanHizmetlerContainer {
width: 980px;
padding-top: 10px;
margin-bottom: 20px;
} 	

.alarmIzleme {
	border: solid 1px #CCC;
width: 866px;
margin: auto;
padding-top: 13px;
padding-left: 20px;
padding-right: 20px;
padding-bottom: 7px;
	}
.alarmIzleme .alarmIzlemeTitle {
	color:#6d6d6d;
	font-family:Arial;
	font-weight: bold;
font-size: 18px;
	}
.alarmIzleme .alarmIzlemeText {
color: #6D6D6D;
font-family: Arial;
margin-top: 10px;
font-size: 13px;
width: 850px;

	}
.alarmIzleme .alarmIzlemeList {
	color:#6d6d6d;
	font-family:Arial;
	font-weight: bold;
	font-size: 13px;
	
	
	}	
.alarmIzleme .alarmIzlemeList ul {
	
	}
.alarmIzleme .alarmIzlemeList li {
	
	}	
	
.hizmetlerWrapper {
width: 908px;
margin: auto;
margin-top: 20px;

	}
.hizmetlerWrapper .box {
width: 908px;
float:left;
margin-bottom:20px;
	}	

.hizmetlerWrapper .hizmetlerWrapperRed {
	width: 898px;
height: 37px;
background-color: red;
color: white;
font-family: Arial;
font-size: 20px;
font-weight: bold;
line-height: 38px;
padding-left: 10px;
float:left;
	}	
.hizmetlerWrapper .hizmetBox {
width: 216px;
height: 240px;
border: solid 1px #CCC;
margin-top: 10px;
margin-left: 4px;
margin-right: 4px;
float:left;
	}	
	.hizmetlerWrapper .hizmetBox a{border:#1px solid #ccc}
	
.hizmetlerWrapper .hizmetBox .hizmetBoxImage {
width: 68px;
height: 72px;
margin: auto;
margin-top: 7px;
	}	
	
.hizmetlerWrapper .hizmetBox .hizmetBoxTitle {
text-align: center;
color: #797979;
font-family: Arial;
font-weight: bold;
font-size: 14px;
margin-top: 5px;
	}	
	
.hizmetlerWrapper .hizmetBox .hizmetBoxText {
margin: auto;
font-family: Arial;
color: #797979;
font-size: 12px;
height: 107px;
margin-top: 5px;
width: 205px;
text-align: left;

	}			
.hizmetlerWrapper .hizmetBox .hizmetContinue {
color: #797979;
width: 140px;
height: 15px;
background: url(../images/common/haberContinue.png) no-repeat 135px 2px;
float: right;
font-size: 12px;
font-family: Arial;
padding-right: 10px;
border:none;
text-decoration: none;
}	
.hizmetlerWrapper .hizmetBox .hizmetContinue:hover
{
    background-position:138px 2px;
} 	
ul.arama{list-style-type:none;color:#6a6a6a !important;font-size:12px !important;min-height:400px;}
ul.arama li{color:#6a6a6a !important;float:left;width:100%;border-bottom:1px dotted #ccc;margin-bottom:10px;}
ul.arama li .aramaLink{margin-bottom:5px;font-size:16px;}
ul.arama li .aramaLink a{color:#0a6cce !important;font-weight:bold;}
ul.arama li .aramaIcerik{color:#6a6a6a !important;margin-bottom:10px;}
ul.arama li .aramaIcerik a{text-decoration:none;}



#slideshow {
width: 900px;
}

#slideshow ul {
margin: 0;
padding: 0;
list-style-type: none;
height: 1%; /* IE fix */}

#slideshow ul:after {
content: ".";
clear: both;
display: block;
height: 0;
visibility: hidden;}            

/* ---------------------------------------------------- */
/* SLIDESHOW > SLIDES
/* ---------------------------------------------------- */
#slideshow .slides {
overflow: hidden;

width: 900px;
background: #FFFAFA;
border-top: 10px solid #838383;
}

#slideshow .slides ul {
width: 2200px;}

#slideshow .slides li {
width: 850px;
float: left;
padding: 20px;}

#slideshow .slides h2 {
margin-top: 0;}

/* ---------------------------------------------------- */
/* SLIDESHOW > NAVIGATION
/* ---------------------------------------------------- */
#slideshow .slides-nav {
}

#slideshow .slides-nav li {
float: left;}

#slideshow .slides-nav li a {
display: block;
padding: 15px 20px;
outline: none;}

.js #slideshow .slides-nav li.on,
.js #slideshow .slides-nav li.on a {
}

.js #slideshow .slides-nav li.on a {
position: relative;
top: 0px;}
#slideshow .slides-nav li a.activeSlide 
{
  background: url(../images/ilkadimActive.png) no-repeat 100px 138px;
  height:135px;
    }
#popup_container{background:#fff;padding:9px !important;color:#717171;border:solid 1px #fff;font-family:calibri;font-size:12px;}
#popup_container h1{margin:0 0 5px;padding:0 0 5px;border-bottom:solid 1px #dfdfdf;}
#popup_container .popup_message{margin:5px 0 10px;}
#popup_container #popup_panel{overflow:hidden;}
#popup_container #popup_panel .button{color:#FFF;font-weight:bold;display:block;height:26px;line-height:25px;min-width:80px;text-align:center;vertical-align:middle;float:right;margin:0 10px 0 0;border:none;margin-bottom:10px;margin-top:22px;}
#popup_ok{background:#DB2A2A;}
#popup_cancel{background:#DB2A2A;}
#popup_container #popup_panel .button:active,
.ie8 #popup_container #popup_panel .button:focus{background:#FFD2D2;color:#333}
#popup_container.jAlert{border:solid 1px #ccc;color:#333;-moz-border-radius:10px;-webkit-border-radius:10px;-khtml-border-radius:10px;-moz-box-shadow:4px 4px 15px #000;-webkit-box-shadow:4px 4px 15px #FFD2D2;box-shadow:0px 2px 32px 5px #FFD2D2;}
#popup_container.jAlert h1{border-bottom:solid 1px #DB2A2A;color:#333;font-weight:bold;padding:0 0 5px 0px;}
#popup_container.jSuccess{border:solid 1px #B3DDA6;color:#3d3d3d;}
#popup_container.jSuccess h1{border-bottom:solid 1px #fcd3c9;color:#333;padding:0 0 5px 14px;}
#popup_container.jConfirm{border:solid 1px #ccc;color:#333;-moz-border-radius:10px;-webkit-border-radius:10px;-khtml-border-radius:10px;-moz-box-shadow:4px 4px 15px #000;-webkit-box-shadow:4px 4px 15px #FFD2D2;box-shadow:0px 2px 32px 5px #FFD2D2;}
#popup_container.jConfirm h1{border-bottom:solid 1px #fcd3c9;color:#333;font-weight:bold;padding:0 0 5px 0px;}
#popup_container .jPrompt{border:solid 1px #7CB7DC;color:#0072BC;max-width:300px;}
#popup_container .jPrompt h1{border-bottom:solid 1px #7CB7DC;color:#0072BC;padding:0 0 5px 14px;}
.popup_overlay{position:absolute;top:0;left:0;background:url(../images/overlay.png?v=2)}
.boxBadge{background:url('../images/kamp_sonlandi.jpg') no-repeat;position:absolute;top:7px;right:0;width:146px;height:148px;z-index:1}

.rightButton {
background-image: url(../images/common/rightButton.png);
width: 128px;
height: 204px;
position: fixed;
display: block;
cursor: pointer;
right: -6px;
top: 41px; 	
z-index:1001;
}

.rightForm {
position: fixed;
right: -477px;
/*right:-4px;*/
top: 45px;
z-index: 1000;
background-color: #fff;
-webkit-box-shadow: -1px -1px 25px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    -1px -1px 25px 0px rgba(50, 50, 50, 0.75);
box-shadow:         -1px -1px 25px 0px rgba(50, 50, 50, 0.75);
}

.ucretsizIframe body {
padding: 0px;
margin: 0px;	
}

