/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@font-face {
    font-family: 'klavika_regularregular';
    src: url('../fonts/klavika-regular-webfont.eot');
    src: url('../fonts/klavika-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/klavika-regular-webfont.woff') format('woff'),
         url('../fonts/klavika-regular-webfont.ttf') format('truetype'),
         url('../fonts/klavika-regular-webfont.svg#klavika_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	width:810px;
	height:544px;
	background-image:url(../img/bg.jpg);
	background-repeat: no-repeat;
	font-family: 'klavika_regularregular';
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.innerContainer {
width: 510px;
margin: auto;
margin-top: 160px;	
padding-left: 150px;	
}

.names {
width:185px;
float:left;	
margin-top: 10px;	
}

.names label {
background-color: #e51b23;
color: #fff;
float: left;
width: 67px;
height: 24px;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-khtml-border-radius: 5px;
behavior: url(border-radius.htc);
position: relative;
z-index: 2;
padding-top: 7px;
padding-left: 5px;
}

.names input {
float: left;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-khtml-border-radius: 5px;
height: 26px;
border: 1px solid #c6c6c6;
width: 90px;
margin-left: -15px;
position: relative;
z-index: 1;
padding-left:20px;
outline:none;
color:#727272;
}

.selectBoxes {
width:355px;
float:left;	
margin-top: 10px;	
}

.selectBoxes label {
background-color: #e51b23;
color: #fff;
float: left;
width: 67px;
height: 24px;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-khtml-border-radius: 5px;
position: relative;
z-index: 2;
padding-top: 7px;
padding-left: 5px;
}

.selectBoxes select {
float: left;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-khtml-border-radius: 5px;
height: 31px;
border: 1px solid #c6c6c6;
width: 287px;
margin-left: -5px;
position: relative;
z-index: 1;
padding-left: 5px;
outline: none;
color: #727272;
-webkit-appearance: menulist-button;
line-height: 25px;
}

.selectBoxes textarea {
float: left;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-khtml-border-radius: 5px;
border: 1px solid #c6c6c6;
width: 339px;
margin-left: 0px;
position: relative;
z-index: 1;
padding-left: 10px;
outline: none;
color:#727272;
}

.submitButton {
background-image: url(../img/submit.png);
width: 105px;
height: 93px;
display: block;
cursor: pointer;
background-color: transparent;
outline: none;
border: none;
float: left;
margin-top: 84px;
margin-left: -48px;	
-webkit-transition-duration: 0.8s;
-moz-transition-duration: 0.8s;
-o-transition-duration: 0.8s;
transition-duration: 0.8s;
-webkit-transition-property: -webkit-transform;
-moz-transition-property: -moz-transform;
-o-transition-property: -o-transform;
transition-property: transform;
}

.submitButton:hover {
-webkit-transform:rotate(10deg);
    -moz-transform:rotate(10deg);
    -o-transform:rotate(10deg);	
}

.radioButtons {
float: left;
width: 300px;
text-align: right;
margin-left: 55px;	
}