﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="fatura.aspx.cs" Inherits="AdminZ0n_Rezervasyon_fatura" %>

<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Mobile Internet Explorer ClearType Technology -->
    <!--[if IEMobile]>  <meta http-equiv="cleartype" content="on"><![endif]-->
    <!--Shortcut icon-->
    <!-- Title -->
    <title></title>
    <style>
        body {
            font-size: 13px;
<<<<<<< HEAD
        }

        .content {
            /*background: #eee;*/
            width: 1123px;
            /*height: 797px;*/
            padding-left: 20px;
            padding-top: 30px;
            padding-right: 20px;
            padding-bottom: 50px;
=======
            margin: 0px;
            padding: 0px;
        }

        .content {
            width: 1123px;
            margin-left: 20px;
            padding-top: 121px;
>>>>>>> 01ae86338bb1f5b0088cac32345ecc225bd34e2d
        }

        .name {
            font-weight: bold;
            font-size: 16px;
        }

        h3 {
            margin-left: 3px;
            float: left;
        }

        p {
            margin: 3px;
<<<<<<< HEAD
            font-size: 11px;
=======
            font-size: 10px;
            line-height: 10px;
>>>>>>> 01ae86338bb1f5b0088cac32345ecc225bd34e2d
        }

        strong {
            font-size: 1.17em;
            -webkit-margin-before: 1em;
            -webkit-margin-after: 1em;
            -webkit-margin-start: 0px;
            -webkit-margin-end: 0px;
            font-weight: bold;
        }

        p.code {
            -webkit-margin-before: 1em;
            -webkit-margin-after: 1em;
            -webkit-margin-start: 0px;
            -webkit-margin-end: 0px;
            float: left;
            margin-left: 50px;
            padding-top: 1px;
            width: 110px;
        }

        .left {
            float: left;
        }

        .right {
            float: right;
        }

        .header, .main, .footer {
            float: left;
        }

        .main {
            /*height: 728px;*/
            margin-top: 20px;
        }

        .footer p {
            font-size: 12px;
        }

        .one {
            float: left;
            width: 25%;
        }

        .border {
            float: left;
<<<<<<< HEAD
            width: 140px;
=======
            width: 124px;
            margin-top: 12px;
>>>>>>> 01ae86338bb1f5b0088cac32345ecc225bd34e2d
        }

        .date {
            float: left;
<<<<<<< HEAD
            width: 174px;
            margin-top: 44px;
        }

            .date p {
                font-size: 11px;
=======
            margin-top: 55px;
        }

            .date p {
                font-size: 8px;
            }

        .hour {
            float: left;
        }

            .hour p {
                font-size: 8px;
>>>>>>> 01ae86338bb1f5b0088cac32345ecc225bd34e2d
            }

        table {
            width: 290px;
        }

        .empty {
            margin-bottom: 180px;
        }

        @media print {
            .no-print, .no-print * {
                display: none !important;
            }
        }
<<<<<<< HEAD
=======

        .detail td strong, td span {
            font-size: 11px;
            margin-top: 40px;
            float: left;
        }

        span.empty-p {
                    float: left;
    width: 76px;
    font-size: 7px;
    display: block;
    height: 5px;
        }
>>>>>>> 01ae86338bb1f5b0088cac32345ecc225bd34e2d
    </style>
</head>

<body>
    <div class="no-print"><b><a href="javascript:window.print()">YAZDIR</a></b></div>
    <div class="content">
        <div class="one">
            <div class="header">
                <div class="left">
<<<<<<< HEAD
                    <p style="height: 225px;"></p>

=======
>>>>>>> 01ae86338bb1f5b0088cac32345ecc225bd34e2d
                    <div class="border">
                        <p>
                            <asp:Literal ID="AdSoyad" runat="server"></asp:Literal>
                        </p>
                        <p>
                            <asp:Literal ID="TC" runat="server"></asp:Literal>
                        </p>
                        <p>
                            <asp:Literal ID="Adres" runat="server"></asp:Literal>
                        </p>

                    </div>
                    <div class="date">
<<<<<<< HEAD
                        <%--<p>DÜZENLEME TARİHİ: <% DateTime.Now.ToShortDateString(); %> </p>--%>
                    </div>
                </div>
                <div class="right">
                    <!--image,logo ve seri no seri alanı-->
                </div>
=======
                        <p><span class="empty-p"></span>
                            <asp:Literal ID="DuzenlemeTarihi" runat="server"></asp:Literal></p>
                    </div>
                    <div class="hour">
                        <p><span class="empty-p"></span>
                            <asp:Literal ID="DuzenlemeSaati" runat="server"></asp:Literal></p>
                    </div>
                </div>

>>>>>>> 01ae86338bb1f5b0088cac32345ecc225bd34e2d
            </div>
            <div class="main">
                <table class="empty" cellpadding="5" cellspacing="0">
                    <tr>
                        <td>Hizmet Bedeli</td>
                        <td>
                            <asp:Literal ID="HizmetBedeli" runat="server"></asp:Literal></td>
                    </tr>
                </table>

                <table cellpadding="5" cellspacing="0">
                    <tr>
                        <td>Toplam </td>
                        <td>
                            <asp:Literal ID="Toplam" runat="server"></asp:Literal></td>
                    </tr>
                    <tr>
                        <td>KDV(%18) </td>
                        <td>
                            <asp:Literal ID="Kdv" runat="server"></asp:Literal></td>
                    </tr>
                    <tr>
                        <td>Genel Toplam </td>
                        <td>
                            <asp:Literal ID="GenelToplam" runat="server"></asp:Literal></td>
                    </tr>
<<<<<<< HEAD
=======
                    <tr class="detail">
                        <td>
                            <strong>
                                <asp:Literal ID="GenelToplamYazi" runat="server"></asp:Literal></strong>
                        </td>
                    </tr>
>>>>>>> 01ae86338bb1f5b0088cac32345ecc225bd34e2d
                </table>
            </div>
        </div>

        <div class="one">
            <div class="header">
                <div class="left">
<<<<<<< HEAD
                    <p style="height: 225px;"></p>

                    <div class="border">
=======
                    <div class="border" style="padding-left: 15px;">
>>>>>>> 01ae86338bb1f5b0088cac32345ecc225bd34e2d
                        <p>
                            <asp:Literal ID="AdSoyad2" runat="server"></asp:Literal>
                        </p>
                        <p>
                            <asp:Literal ID="TC2" runat="server"></asp:Literal>
                        </p>
                        <p>
                            <asp:Literal ID="Adres2" runat="server"></asp:Literal>
                        </p>
                    </div>
                    <div class="date">
<<<<<<< HEAD
                        <%--<p>DÜZENLEME TARİHİ: <% DateTime.Now.ToShortDateString(); %> </p>--%>
                    </div>
                </div>
                <div class="right">
                    <!--image,logo ve seri no seri alanı-->
                </div>
            </div>
            <div class="main">
=======
                        <p><span class="empty-p"></span>
                            <asp:Literal ID="DuzenlemeTarihi2" runat="server"></asp:Literal></p>
                    </div>
                    <div class="hour">
                        <p><span class="empty-p"></span>
                            <asp:Literal ID="DuzenlemeSaati2" runat="server"></asp:Literal></p>
                    </div>
                </div>

            </div>
            <div class="main" style="padding-left: 15px">
>>>>>>> 01ae86338bb1f5b0088cac32345ecc225bd34e2d
                <table class="empty" cellpadding="5" cellspacing="0">
                    <tr>
                        <td>Hizmet Bedeli</td>
                        <td>
                            <asp:Literal ID="HizmetBedeli2" runat="server"></asp:Literal></td>
                    </tr>
                </table>

                <table cellpadding="5" cellspacing="0">
                    <tr>
                        <td>Toplam </td>
                        <td>
                            <asp:Literal ID="Toplam2" runat="server"></asp:Literal></td>
                    </tr>
                    <tr>
                        <td>KDV(%18) </td>
                        <td>
                            <asp:Literal ID="Kdv2" runat="server"></asp:Literal></td>
                    </tr>
                    <tr>
                        <td>Genel Toplam </td>
                        <td>
                            <asp:Literal ID="GenelToplam2" runat="server"></asp:Literal></td>
                    </tr>
<<<<<<< HEAD
=======
                    <tr class="detail">
                        <td>
                            <strong>
                                <asp:Literal ID="GenelToplamYazi2" runat="server"></asp:Literal></strong>
                        </td>
                    </tr>
>>>>>>> 01ae86338bb1f5b0088cac32345ecc225bd34e2d
                </table>
            </div>
        </div>
        <div class="one">
            <div class="header">
                <div class="left">
<<<<<<< HEAD
                    <p style="height: 225px;"></p>

                    <div class="border">
=======
                    <div class="border" style="padding-left: 30px;">
>>>>>>> 01ae86338bb1f5b0088cac32345ecc225bd34e2d
                        <p>
                            <asp:Literal ID="AdSoyad3" runat="server"></asp:Literal>
                        </p>
                        <p>
                            <asp:Literal ID="TC3" runat="server"></asp:Literal>
                        </p>
                        <p>
                            <asp:Literal ID="Adres3" runat="server"></asp:Literal>
                        </p>
                    </div>
                    <div class="date">
<<<<<<< HEAD
                        <%--<p>DÜZENLEME TARİHİ: <% DateTime.Now.ToShortDateString(); %> </p>--%>
                    </div>
                </div>
                <div class="right">
                    <!--image,logo ve seri no seri alanı-->
                </div>
            </div>
            <div class="main">
=======
                        <p><span class="empty-p"></span>
                            <asp:Literal ID="DuzenlemeTarihi3" runat="server"></asp:Literal></p>
                    </div>
                    <div class="hour">
                        <p><span class="empty-p"></span>
                            <asp:Literal ID="DuzenlemeSaati3" runat="server"></asp:Literal></p>
                    </div>
                </div>
            </div>
            <div class="main" style="padding-left: 30px">
>>>>>>> 01ae86338bb1f5b0088cac32345ecc225bd34e2d
                <table class="empty" cellpadding="5" cellspacing="0">
                    <tr>
                        <td>Hizmet Bedeli</td>
                        <td>
                            <asp:Literal ID="HizmetBedeli3" runat="server"></asp:Literal></td>
                    </tr>
                </table>

                <table cellpadding="5" cellspacing="0">
                    <tr>
                        <td>Toplam </td>
                        <td>
                            <asp:Literal ID="Toplam3" runat="server"></asp:Literal></td>
                    </tr>
                    <tr>
                        <td>KDV(%18) </td>
                        <td>
                            <asp:Literal ID="Kdv3" runat="server"></asp:Literal></td>
                    </tr>
                    <tr>
                        <td>Genel Toplam </td>
                        <td>
                            <asp:Literal ID="GenelToplam3" runat="server"></asp:Literal></td>
                    </tr>
<<<<<<< HEAD
                </table>
            </div>


        </div>

           <div class="one">
            <div class="header">
                <div class="left">
                    <p style="height: 225px;"></p>

                    <div class="border">
=======
                    <tr class="detail">
                        <td>
                            <strong>
                                <asp:Literal ID="GenelToplamYazi3" runat="server"></asp:Literal></strong>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="one">
            <div class="header">
                <div class="left">
                    <div class="border" style="padding-left: 38px">
>>>>>>> 01ae86338bb1f5b0088cac32345ecc225bd34e2d
                        <p>
                            <asp:Literal ID="AdSoyad4" runat="server"></asp:Literal>
                        </p>
                        <p>
                            <asp:Literal ID="TC4" runat="server"></asp:Literal>
                        </p>
                        <p>
                            <asp:Literal ID="Adres4" runat="server"></asp:Literal>
                        </p>
                    </div>
                    <div class="date">
<<<<<<< HEAD
                        <%--<p>DÜZENLEME TARİHİ: <% DateTime.Now.ToShortDateString(); %> </p>--%>
                    </div>
                </div>
                <div class="right">
                    <!--image,logo ve seri no seri alanı-->
                </div>
            </div>
            <div class="main">
=======
                        <p><span class="empty-p"></span>
                            <asp:Literal ID="DuzenlemeTarihi4" runat="server"></asp:Literal></p>
                    </div>
                    <div class="hour">
                        <p><span class="empty-p"></span>
                            <asp:Literal ID="DuzenlemeSaati4" runat="server"></asp:Literal></p>
                    </div>
                </div>

            </div>
            <div class="main" style="padding-left: 38px">
>>>>>>> 01ae86338bb1f5b0088cac32345ecc225bd34e2d
                <table class="empty" cellpadding="5" cellspacing="0">
                    <tr>
                        <td>Hizmet Bedeli</td>
                        <td>
                            <asp:Literal ID="HizmetBedeli4" runat="server"></asp:Literal></td>
                    </tr>
                </table>

                <table cellpadding="5" cellspacing="0">
                    <tr>
                        <td>Toplam </td>
                        <td>
                            <asp:Literal ID="Toplam4" runat="server"></asp:Literal></td>
                    </tr>
                    <tr>
                        <td>KDV(%18) </td>
                        <td>
                            <asp:Literal ID="Kdv4" runat="server"></asp:Literal></td>
                    </tr>
                    <tr>
                        <td>Genel Toplam </td>
                        <td>
                            <asp:Literal ID="GenelToplam4" runat="server"></asp:Literal></td>
                    </tr>
<<<<<<< HEAD
=======
                    <tr class="detail">
                        <td>
                            <strong>
                                <asp:Literal ID="GenelToplamYazi4" runat="server"></asp:Literal></strong>
                        </td>
                    </tr>
>>>>>>> 01ae86338bb1f5b0088cac32345ecc225bd34e2d
                </table>
            </div>


        </div>
    </div>


</body>
</html>
