﻿<%@ Page Title="" Language="C#" MasterPageFile="~/AdminZ0n/AdminMasterPage.master" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="AdminZ0n_UserSettings_Default" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
    <script type="text/javascript">
        
        $(function () {
            $("#settings").addClass("current");
            $("#kullanicilar").addClass("current");

            $("#main-nav li a.current").parent().find("ul").slideToggle("slow");
        });
    </script>
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="title" Runat="Server">
    Panel Kullan&#305;c&#305;s&#305; Yönetimi
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="content" Runat="Server">
    <asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>
    <asp:Button ID="Button1"  runat="server" Text="Button" 
        onclick="Button1_Click" /> mailTemplate/tanıtımMail.html dosyasını gönderiyor.
</asp:Content>




