﻿<%@ Page Title="" Language="C#" MasterPageFile="~/AdminZ0n/AdminMasterPage.master" AutoEventWireup="true" CodeFile="user_profile.aspx.cs" Inherits="AdminZ0n_user_profile" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
     <script type="text/javascript">

         $(function () {
             $("#settings").addClass("current");
             $("#profil").addClass("current");

             $("#main-nav li a.current").parent().find("ul").slideToggle("slow");
         });
    </script>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="title" Runat="Server">
    Kullanıcı Profili
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="content" Runat="Server">

</asp:Content>





