﻿
<html>
<head>
<title>iste_manikur_hediye_ceki</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style>
img {display:block;border:none;outline:none;}
a {border:none;outline:none;}
</style>
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">

<!-- Save for Web Slices (iste_manikur_hediye_ceki.psd) -->
<table id="Table1" width="700" height="701" border="0" cellpadding="0" cellspacing="0">
	<tr width="482">
		<td colspan="6" rowspan="2" width="482">
			<img src="http://istemanikur.com/MailTemplates/images/iste_manikur_hediye_ceki_01.jpg" width="482" height="121" alt=""></td>
		<td rowspan="2">
			<a href="http://on.fb.me/1fZsoKL" target="_blank" style="display:block;outline:none;border:none;"><img src="http://istemanikur.com/MailTemplates/images/iste_manikur_hediye_ceki_02.jpg" width="111" height="121" alt="" style="display:block;"></a></td>
		<td>
			<a href="http://bit.ly/OYgd7A" target="_blank" style="display:block;outline:none;border:none;"><img src="http://istemanikur.com/MailTemplates/images/iste_manikur_hediye_ceki_03.jpg" width="107" height="121" alt=""></a></td>
	</tr>
	<tr>
		<td>
			<img src="http://istemanikur.com/MailTemplates/images/iste_manikur_hediye_ceki_04.jpg" width="107" height="1" alt=""></td>
	</tr>
	<tr>
		<td colspan="4">
			<img src="http://istemanikur.com/MailTemplates/images/iste_manikur_hediye_ceki_05.jpg" width="457" height="3" alt=""></td>
		<td colspan="4" rowspan="2">
			<img src="http://istemanikur.com/MailTemplates/images/iste_manikur_hediye_ceki_06.jpg" width="243" height="275" alt=""></td>
	</tr>
	<tr>
		<td colspan="4" width="457" height="272">
        
        <span style="color:#952519;font-family:calibri,Arial;font-size:170px;font-weight:bold;padding-left:10px;float:left;"><%tutar%></span><span style="color:#952519;font-family:calibri,Arial;font-size:105px;font-weight:bold;float:left;margin-top: 65px;width: 260px;margin-bottom: 17px;"><%tip%></span><span style="color:#952519;font-family:calibri,Arial;font-size:34px;font-weight:bold;padding-left:10px;float:left;">DEĞERİNDE HEDİYE ÇEKİ</span>
      
      
			</td>
	</tr>
	<tr>
		<td colspan="2" rowspan="2" width="445" height="58" bgcolor="#cb2711">
        
        <p style="font-family: calibri,Arial;font-weight: bold;font-size: 30px;color: #fff;padding-left: 10px;"><%name%></p>
			</td>
		<td>
			<img src="http://istemanikur.com/MailTemplates/images/iste_manikur_hediye_ceki_09.jpg" width="1" height="1" alt=""></td>
		<td colspan="5" rowspan="2">
			<img src="http://istemanikur.com/MailTemplates/images/iste_manikur_hediye_ceki_10.jpg" width="254" height="58" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="http://istemanikur.com/MailTemplates/images/iste_manikur_hediye_ceki_11.jpg" width="1" height="57" alt=""></td>
	</tr>
	<tr>
		<td colspan="5" width="465" height="151">
        
		    <p style="padding-left: 10px;font-family: calibri,Arial;font-size: 12px;width: 450px;"><%icerik%></p>
            <p>Kod : <%hediyecek_kod%> </p>
        
			</td>
		<td colspan="3">
			<img src="http://istemanikur.com/MailTemplates/images/iste_manikur_hediye_ceki_13.jpg" width="235" height="151" alt=""></td>
	</tr>
	<tr>
		<td colspan="5" rowspan="2">
			<img src="http://istemanikur.com/MailTemplates/images/iste_manikur_hediye_ceki_14.jpg" width="465" height="30" alt=""></td>
		<td colspan="3">
			<img src="http://istemanikur.com/MailTemplates/images/iste_manikur_hediye_ceki_15.jpg" width="235" height="29" alt=""></td>
	</tr>
	<tr>
		<td colspan="3">
			<img src="http://istemanikur.com/MailTemplates/images/iste_manikur_hediye_ceki_16.jpg" width="235" height="1" alt=""></td>
	</tr>
	<tr>
		<td colspan="3">
			<img src="http://istemanikur.com/MailTemplates/images/iste_manikur_hediye_ceki_17.jpg" width="446" height="1" alt=""></td>
		<td colspan="5" rowspan="2">
			<img src="http://istemanikur.com/MailTemplates/images/iste_manikur_hediye_ceki_18.jpg" width="254" height="65" alt=""></td>
	</tr>
	<tr>
		<td>
			<a href="http://www.istemanikur.com/" target="_blank" style="display:block;outline:none;border:none;"><img src="http://istemanikur.com/MailTemplates/images/iste_manikur_hediye_ceki_19.jpg" width="255" height="64" alt=""></a></td>
		<td>
			<a href="mailto:info@istemanikur.com" style="display:block;outline:none;border:none;"><img src="http://istemanikur.com/MailTemplates/images/iste_manikur_hediye_ceki_20.jpg" width="190" height="64" alt=""></a></td>
		<td>
			<img src="http://istemanikur.com/MailTemplates/images/iste_manikur_hediye_ceki_21.jpg" width="1" height="64" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="http://istemanikur.com/MailTemplates/images/spacer.gif" width="255" height="1" alt=""></td>
		<td>
			<img src="http://istemanikur.com/MailTemplates/images/spacer.gif" width="190" height="1" alt=""></td>
		<td>
			<img src="http://istemanikur.com/MailTemplates/images/spacer.gif" width="1" height="1" alt=""></td>
		<td>
			<img src="http://istemanikur.com/MailTemplates/images/spacer.gif" width="11" height="1" alt=""></td>
		<td>
			<img src="http://istemanikur.com/MailTemplates/images/spacer.gif" width="8" height="1" alt=""></td>
		<td>
			<img src="http://istemanikur.com/MailTemplates/images/spacer.gif" width="17" height="1" alt=""></td>
		<td>
			<img src="http://istemanikur.com/MailTemplates/images/spacer.gif" width="111" height="1" alt=""></td>
		<td>
			<img src="http://istemanikur.com/MailTemplates/images/spacer.gif" width="107" height="1" alt=""></td>
	</tr>
</table>
<!-- End Save for Web Slices -->
</body>
</html>


