﻿<html>
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body bgcolor="#f2f2f2" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" style="width: 750px;margin: auto;">
<table align="center" id="Tablo_01" width="750" border="0" cellpadding="0" cellspacing="0">
   <tr>
       <td><a href="http://www.istemanikur.com/anasayfa.aspx" target="_parent">
       <img src="<%Resim%>" width="750" alt=""></a></td>
   </tr>
</table>
</body>
</html>













