﻿<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body>
    <table width="600" style="font-family: Trebuchet MS" cellpadding="0" cellspacing="0"
        border="0">
        <tbody>
             <tr>
            <td width="600" height="98" valign="top">
                
                    <img src="http://istemanikur.com/Resources/images/templateHeader.jpg"
                        border="0" style="width: 600px; min-height: 98px; display: block">
            </td>
        </tr>
            
            <tr>
                <td width="600" height="29" valign="top">
                    <div style="width: 600px; min-height: 29px; display: block">
                        <img src="http://istemanikur.com/Resources/images/headerBg1.jpg"
                            border="0" style="width: 600px; min-height: 29px; display: block"></div>
                </td>
            </tr>
            <tr>
                <td width="600" style="font-size: 11px; color: #929292;"
                    valign="top">
                    <table width="598" align="center" border="0" cellspacing="0" cellpadding="0" style="background-color: #fff">
                        <tbody>
                            <tr>
                                <td width="598">
                                    <table width="537px" cellspacing="0" cellpadding="0" border="0" align="center">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div style="width: 537px">
                                                      <%icerik%>
                                                      
                                                        <div>
                                                            <p style="font-size: 10pt; font-family: Trebuchet MS">&nbsp;</p>
                                                            <p style="font-size: 10pt; font-family: Trebuchet MS">Bu e-posta <a href="http://istemanikur.com"
                                                                target="_blank">istemanikur.com</a> üzerinden üyelik aktivasyon servisi tarafından gönderilmektedir.<br>
                                                                Böyle bir talepte bulunmadıysanız lütfen bu postayı dikkate almayınız.
                                                                <br /><br />
                                                            </p>
                                                        </div>
                                                        <div>
                                                            <span style="font-size: 10pt; font-family: Trebuchet MS"><b>istemanikur.com'u tercih
                                                                ettiğiniz için teşekkür ederiz.</b></span>
                                                            <br>
                                                            <br>
                                                        </div>
                                                        <div>
                                                            <p style="font-size: 10pt; font-family: Trebuchet MS"><a style="color: #000" href="http://www.istemanikur.com"
                                                                target="_blank">www.istemanikur.com</a>
                                                            </p>
                                                            <p style="font-size: 10pt; font-family: Trebuchet MS">&nbsp;</p>
                                                            <p style="font-size: 10pt; font-family: Trebuchet MS">&nbsp;</p>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td width="600" height="57" valign="top">
                    <div style="width: 600px; min-height: 57px; display: block">
                        <img src="http://istemanikur.com/Resources/images/mailFooter.jpg"
                            width="600" height="57" border="0">
                    </div>
                </td>
            </tr>
        </tbody>
    </table>


</body>

</html>





